@import "../../styles/partials/variables";
@import "../../styles/partials/helpers";

.footer {
  padding: 0 100px 0 20px;
  box-sizing: border-box;
  background-color: #232f39;
  height: 30px;
  transition: all .2s;
  z-index:92;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    span {
      color: $white-color;
      font-size: 0.75rem;
    }
  }
  &-list {
    &-item {
      display: inline-block;
      padding-right: 40px;
      position: relative;
      font-size: 0.75rem;
      &:after {
        position: absolute;
        top: 2px;
        right: 20px;
        content: "|";
        color: $white-color;
      }
      a {
        text-decoration: none;
        color: $white-color;
      }
      &:last-child {
        padding: 0;
        &:after {
          content: none;
        }
      }
    }
  }
}
.sidebar.active + .content .footer {
  left: 160px;
}