// Custom variables

/* Colors */
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #4e4d4d;
$grey-classic: rgba(246, 246, 246, 1);
$grey-clear: rgba(237, 237, 237, 1);
$grey-medium: rgba(209, 210, 212, 1);
$grey-cloudy: rgba(204, 204, 204, 1);
$centreon-graphit: rgba(36,47,59, 1);
$centreon-shadow: rgba(70, 75, 82, .5);

$lime-centreon-primary: rgba(132, 189, 0, 1);
$green-centreon-primary: rgba(67, 176, 42, 1);
$turquoise-centreon-primary: rgba(0, 164, 153, 1);
$lightblue-centreon-primary: rgba(0, 159, 223, 1);
$blue-centreon-primary: rgba(0, 114, 206, 1);
$darkblue-centreon-primary: rgba(16, 6, 159, 1);
$orange-centreon-primary: rgba(255, 153, 19, 1);

$lime-centreon-darken: rgba(89, 127, 0, 1);
$green-centreon-darken: rgba(39, 101, 26, 1);
$turquoise-centreon-darken: rgba(0, 127, 119, 1);
$lightblue-centreon-darken: rgba(0, 90, 127, 1);
$blue-centreon-darken: rgba(6, 65, 102, 1);
$darkblue-centreon-darken: rgba(32, 53, 126, 1);
$orange-centreon-darken:  rgba(198, 112, 0, 1);

$success-color: #20a11c;
$notification-color: #fffeec;
$info-color: #fff5ef;
$warning-color: #ffdce0;
$danger-color: #d0021b;

$gray-centreon-light: #f9f9f9;
$gray-centreon-lighter: #f4f4f4;

// Content colors
$content-orange-color: #ff7200;
$content-green-color: #7fb345;
$content-blue-color: #29d1d4;
$content-red-color: #e00b3d;
$content-gray-color: #a7a9ac;