A {
  text-decoration: none;
}
A:link {
  color: blue;
}
A:visited {
  color: blue;
}
A:active {
  color: blue;
}
body {
  color: silver;
  background-color: black;
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 10px;
  font-weight: normal;
}
font {
    color:#c7c7c7;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
}
H1 {
    color:#FFFFFF;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 20px;
}
td {
    color:#FFFFFF;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 20px;
}
select {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
}
input {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}
