#outer{    border-left-color:#F2F2F2;   /* left column colour */}
body{			background-color:#F2F2F2;}
.ListTable, #ListTable a:link		{color:#666666;}
.ListTable, #ListTable a:visited		{color:#666666;}
.ListTable, #ListTable a:hover		{color:#E3A385;}
/* Form */
.list_lvl_1{	background-color:#DDFFDD;}
.list_lvl_2{	background-color:#CCFFCC;}
.ListHeader{	background: #BFD0E2 url("./Images/bg_header_green.gif") left repeat-x 0px;}
.list_one{		background-color:#AAEEAA;}
.list_two {		background-color:#BBFFBB;}
.list_three{	background-color:#fada83;}
.list_four {	background-color:#fdc11e;}
#page {			color:#592bed;}
#page a{		color:#592bed;}

/*Menu*/
#menu1_bgimg{	background: url("Images/menu_bg_green.gif") right repeat-x 0px;}
#menu1_bgcolor{	background: #ADC7A1;}
#menu2_bgcolor{	background: #DFF9E0;}

#menu_2{		background:#ADC7A1;}

.Tmenu3 .top .left { background-color:  #F2F2F2;}
.Tmenu3 .top .right {  background-color:  #F2F2F2;}
.Tmenu3 .bottom .left {  background-color:  #F2F2F2;}
.Tmenu3 .bottom .right { background-color:  #F2F2F2;}
/* General */
#contener{		background:#F2F2F2;}
#Tmenu{		background:#F2F2F2;
border-right: 1px solid #ADC7A1;;
}



#footerline1{	background-color:#ADC7A1;}
#footerline2{	background-color:#dedede;}

#MainPage textarea, #MainPage input, #MainPage select{    color:#242af6;}
#mainnav li{	background: url("./Images/bg_header_green.gif");}
input[type="submit"],input[type="button"],input[type="reset"]{
    background: url("./Images/bg_input_green.gif") ;
}
/* w3c */
input[type="submit"],input[type="button"],input[type="reset"]{
    background: url("./Images/bg_input_green.gif") ;
}
/* IE */
.oreonbutton input{
    background: url("./Images/bg_input_green.gif") ;
}

.quick_search{	border-color:#eff1f4;	background: #BFD0E2 url("Images/bg_header_green.gif") left repeat-x 0px;	color:#fff;}
