#generic development files
www/index.html

#api html documentation
doc/API/centreon-api-v2.html

#backend development and project files
.idea/
.vscode/
.scannerwork/
vendor/
nbproject/
GPL_LIB/SmartyCache/*

#front development files
node_modules/
www/static
www/asset-manifest.json
www/front_src/src/App.css
www/service-worker.js
www/include/core/menu/templates/*.js
www/include/core/menu/templates/*.tpl

#sample files
!www/img/media/.keep
www/img/media/*
www/template

#temporary files needed for the installation
www/install/tmp/*
!www/install/tmp/.gitkeep
www/install/install.conf.php

#config files
config/centreon.config.php

#continuous integration and testing files
*-dev.yml
.phpunit.result.cache
coverage-report/
centreon-build/
secret
build/*
build/coverage/*

#symfony/framework-bundle
.env.local
.env.local.php
.env.*.local
public/bundles/
var/
bin/.phpunit/
doc/en/_build/
symfony/

src/Centreon*
!src/Centreon/
!src/CentreonCommand/
!src/CentreonLegacy/
!src/CentreonModule/
!src/CentreonNotification/
!src/CentreonRemote/
!src/CentreonUser/
www/modules/centreon-*
www/widgets
!www/widgets/require.php

.DS_store

.lighthouseci