.idea/
/nbproject/private/
nbproject/
node_modules/
/vendor/
composer.lock
GPL_LIB/SmartyCache/*
www/install/tmp/*
!www/img/media/.keep
www/img/media/*
!www/install/tmp/.gitkeep
www/install/install.conf.php
config/centreon.config.php
*-dev.yml
www/include/core/menu/templates/*.js
www/include/core/menu/templates/*.tpl
