parameters:
  bootstrapFiles:
    - config/centreon.config.php.template
  paths:
    - %currentWorkingDirectory%/src/Centreon
services:
  errorFormatter.absolute:
    class: Centreon\PHPStan\AbsolutePathErrorFormatter
