<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="tests/php/bootstrap.php" failOnRisky="true" failOnWarning="true">
  <coverage>
    <include>
      <directory>./src/</directory>
    </include>
    <exclude>
      <directory>./src/*/Tests</directory>
      <directory>./src/*/Domain/Entity</directory>
      <directory>./src/*/Domain/Resources</directory>
      <directory>./src/*/Infrastructure/Entity</directory>
    </exclude>
    <report>
      <html outputDirectory="./coverage-report" lowUpperBound="50" highLowerBound="80"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="30719"/>
    <!-- E_ALL & ~E_STRICT -->
    <ini name="intl.default_locale" value="en"/>
    <ini name="intl.error_level" value="0"/>
    <ini name="memory_limit" value="-1"/>
    <const name="_CENTREON_PATH_" value="./"/>
    <const name="_CENTREON_ETC_" value="./"/>
    <const name="_CENTREON_CACHEDIR_" value="./"/>
    <server name="KERNEL_CLASS" value="App\Kernel"/>
    <!-- ###+ symfony/framework-bundle ### -->
    <env name="APP_ENV" value="test"/>
    <env name="APP_SECRET" value="96cde5b9a5c3d1cd4a4d6cca990bcc54"/>
    <!-- env name="TRUSTED_PROXIES" value="127.0.0.1,127.0.0.2" -->
    <!-- env name="TRUSTED_HOSTS" value="'^localhost|example\.com$'" -->
    <!-- ###- symfony/framework-bundle ### -->
    <!-- ###+ nelmio/cors-bundle ### -->
    <env name="CORS_ALLOW_ORIGIN" value="^https?://localhost(:[0-9]+)?$"/>
    <!-- ###- nelmio/cors-bundle ### -->
  </php>
  <testsuites>
    <testsuite name="Symfony Test Suite">
      <directory>./tests/php/*/</directory>
      <directory>./src/*/Tests/</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>benchmark</group>
      <group>intl-data</group>
    </exclude>
  </groups>
  <logging/>
</phpunit>
