td.unset,td.included,td.excluded,td.warning {
	border: 0px;
	padding: 0px;
	margin: 0px;
	height: 12px;
	background-image: -webkit-gradient(linear, 0% 0, 100% 0, from(rgba(255, 255, 255, .55)
		), to(rgba(255, 255, 255, .5) ), color-stop(.5, rgba(255, 255, 255, 0)
		), color-stop(.8, rgba(255, 255, 255, 0) ) );
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .55),
		rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 80%,
		rgba(255, 255, 255, .5) );
	background-image: gradient(linear, 0% 0, 100% 0, from(rgba(255, 255, 255, .55)
		), to(rgba(255, 255, 255, .5) ), color-stop(.5, rgba(255, 255, 255, 0)
		), color-stop(.8, rgba(255, 255, 255, 0) ) );
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
	/* color */
	color: hsl(0, 0%, 40%) !important;
	-webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset
		rgba(0, 0, 0, 0.15) 0 -0.1em .3em, /* inner shadow */ 
                                                 hsl(0, 0%, 60%) 0 .1em
		3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ 
                                                 rgba(0, 0, 0, 0.2) 0
		.5em 5px; /* drop shadow */
	-moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset
		rgba(0, 0, 0, 0.15) 0 -0.1em .3em, /* inner shadow */ 
                                                 hsl(0, 0%, 60%) 0 .1em
		3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ 
                                                 rgba(0, 0, 0, 0.2) 0
		.5em 5px; /* drop shadow */
	box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset
		rgba(0, 0, 0, 0.15) 0 -0.1em .3em, /* inner shadow */ 
                                                 hsl(0, 0%, 60%) 0 .1em
		3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ 
                                                 rgba(0, 0, 0, 0.2) 0
		.5em 5px; /* drop shadow */
}

.unset {
	color: #BBB;
	background-color: #BBB;
}

.included {
	color: #0B0;
	background-color: #0B0;
}

.excluded {
	color: #B00;
	background-color: #B00;
}

.warning {
	color: #DD4;
	background-color: #DD4;
}

.toolTip {
	border: 1px solid #999999;
	background-color: #dddddd;
	position: absolute;
	padding: 1px 5px 1px 5px;
}

.buttonSet {
	font-family: arial, sans-serif;
	color: #336699;
	background-color: #ffffff;
	float: left;
	border: 1px solid #999999;
}