@import '../../global-sass-files/variables';

// Content Horizontal line
.content-hr {
  background: url('../../../img/content-horizontal-line.png') no-repeat 50%;
  background-size: contain;
  margin-bottom: 10px;
  &-title {
    padding-right: 10px;
    font-size: 12px;
    color: #28a095;
    font-family: $primary-font-regular;
    line-height: 21px;
    &-blue {
      color: #0072aa;
    }
  }
  &-blue {
    background: url('../../../img/content-horizontal-line-blue.png') no-repeat 50%;
    background-size: contain;
  }
}