@import "../../styles/partials/variables";

.progress-bar {
  padding-bottom: 39px;
  padding-left:24px;
  padding-right:24px;
  max-width: 890px;
  margin: 0 auto;
  &-items {
    list-style: none;
    padding: 0;
    position: relative;
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
    &:after {
      background-color: #cdcdcd;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      left: 20px;
      right: 20px;
      top: 17px;
      z-index: 1;
    }
  }
  &-item {
    border-radius: 50%;
    background: $white-color;
    width: 33px;
    height: 33px;
    z-index: 2;
  }
  &-link {
    border-radius: 50%;
    display: block;
    width: 33px;
    height: 33px;
    display: flex;
   justify-content: center;
     align-items: center;
    text-align: center;
    border: 1px solid #cdcdcd;
    color: #cdcdcd;
    box-sizing: border-box;
    &.active {
      background: #10069F;
      color: $white-color;
      border: none;
      &.prev {
        background: $white-color;
        color: #10069F;
        border: 1px solid #10069F;
      }
    }
  }
}