@import '../global-sass-files/variables';

// Content description
.content {
  &-description {
    &-date {
      font-size: 14px;
      line-height: 18px;
      color: #28a095;
      font-family: $primary-font-regular;
    }
    &-title {
      font-size: 18px;
      line-height: 20px;
      font-family: $primary-font-regular;
      color: #b6b5b5;
    }
    &-subtitle {
      
    }
    &-text, &-release-note {
      font-size: 14px;
      line-height: 16px;
      font-family: $primary-font-regular;
    }
    &-text {
      color: #b6b5b5;
    }
    &-release-note {
      cursor: pointer;
      color: #28a095;
      text-decoration: underline;
    }
  }
}
.popup {
  .content-description-title {
    margin: 37px 0;
  }
}