* {
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: normal;
}

a {
  text-decoration: none;
}

a:link {
        color: #09c;
        background-color: transparent;
}

a:visited {
        color: #09c;
        background-color: transparent;
}

a:active {
        color: blue;
        background-color: transparent;
}

body {
        background: #fff;
}
font {
        text-decoration: none;
        font-family: Verdana,Helvetica,sans-serif;
        font-size: 11px;
        font-weight: normal;
}

div.title {
	font-size: 15pt;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

select {
        color: black;
        text-decoration: none;
        font-family: Verdana,Helvetica,sans-serif;
        font-size: 10px;
        font-weight: normal;
}

input {
        color: black;
        text-decoration: none;
        font-family: Verdana,Helvetica,sans-serif;
        font-size: 10px;
        font-weight: bold;
}
table
{
        border: none;
        margin: 0px;
        padding: 0px;
}

div.box {
	background: white;
	width: 100%;
}

div.boxheaderleft
{
	background-image: url(images/left_bar.gif);
	background-position: left top;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	float: left;
}

div.boxheaderright
{
	background-image: url(images/right_bar.gif);
	background-position: right top;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	float: right;
}

div.boxheadertext
{
	font-weight: bold;
	text-align: center;
	border-right: 1px black solid;
	height: 20px;
	padding-top: 3px;
	background-image: url(images/middle_bar.gif);
	background-position: left top;
	background-repeat: repeat-x;
}

div.boxcontent {
	padding: 5px;
	padding-top: 1em;
	border: 1px #ccc solid;
	border-top: none;
	background: #efefef;
}
