@import "partials/typography";
@import "partials/icons";
@import "partials/header";
@import "partials/buttons";
@import "partials/form/form";
@import "partials/progress-bar";
@import "partials/helpers";
@import "partials/mixins";
@import "partials/loader";

body {
  margin: 0;
  padding: 0;
}