/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

@import "../../styles/partials/variables";
@import "../../styles/partials/helpers";
@import "../../styles/partials/icons";
@import "../../styles/partials/fonts";

.sidebar {
  min-width: 45px;
  max-width: 45px;
  text-align: center;
  background: $grey-clear;
  transition: all 0.2s;
  border-right: 1px solid $grey-medium;
  z-index: 2;
  .sidebar-logo {
    display: none;
  }
  .menu-item-name {
    display: none;
  }
  .collapsed-items {
    display: none;
  }
  .toggle-sidebar-wrap {
    width: 45px;
  }
  .toggle-sidebar {
    &-wrap {
      background: #fff;
      width: 45px;
      height: 30px;
      position: fixed;
      bottom: 0;
      transition: all .2s;
    }
    &-icon {
      background: url("../../img/icons/aside-menu-toggle-arrow.png") no-repeat center center;
      transform: rotateY(180deg);
      height: 30px;
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      cursor: pointer;
      width: 100%;
      transition: all .2s;
    }
  }

  &.mini {
    .menu {
      &-item {
        position: relative;
        &.active{
          >ul.list-unstyled {
            .collapsed-item {
              &:hover {
                >ul {
                  display: block!important;
                  position: absolute;
                  margin-top: -38px;
                  left: 155px;
                  -webkit-box-shadow: 3px 3px 3px 0 $centreon-shadow;
                  box-shadow: 3px 3px 3px 0 $centreon-shadow;
                  &:empty {
                    display: none!important;
                  }
                }
              }
            }
          }
          &:hover {
            >ul.list-unstyled {
              transition-delay : 01;
              transition: display 01 linear;
              display: block!important;
              position: absolute;
              top: 0px;
              left: 45px;
              -webkit-box-shadow: 3px 3px 3px 0 $centreon-shadow;
              box-shadow: 3px 3px 3px 0 $centreon-shadow;
            }
            .active {
              transition-delay : 0.5s;
              transition: display 0.5s linear;
              display: block!important;
            }
          }
        }
      }
    }
    .collapse {
      z-index: 998;
      &:after {
        content: ' ';
        height:auto;
        display: block;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: -50px;
        left: 157px;
      }
      &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: -50px;
        z-index: 2;
        right: -50px;
        height: 50px;
        left: 0;
      }
      .collapsed-item {
        &.active .first-level {
          display: none;
        }
        &:after {
          content: ' ';
          height: 50px;
          display: block;
          position: absolute;
          bottom: -50px;
          right: -50px;
          left: 0;
        }
        .first-level {
          z-index: 999;
          &:after {
            content: ' ';
            height:auto;
            display: block;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: -50px;
            left: 155px;
          }
          &:before {
            content: ' ';
            display: block;
            position: absolute;
            top: -50px;
            z-index: 2;
            right: -50px;
            height: 50px;
            left: 0;
          }
          .collapsed-level-item  {
            &:after {
              content: ' ';
              height: 50px;
              display: block;
              position: absolute;
              bottom: -50px;
              right: -50px;
              left: 0;
            }
          }
        }
      }
    }
  }

  .menu {
    .list-unstyled {
      width: 155px;
    }
    &-item {
      position: relative;
      .list-unstyled {
        border: 1px solid $grey-clear;
      }
      &.to-hover {
        >ul.list-unstyled {
          .collapsed-item {
            &:hover {
              >ul {
                display: block!important;
                position: absolute;
                margin-top: -38px;
                left: 155px;
                -webkit-box-shadow: 3px 3px 3px 0 $centreon-shadow;
                box-shadow: 3px 3px 3px 0 $centreon-shadow;
                &:empty {
                  display: none!important;
                }
              }
            }
          }
        }
        &:hover {
          >ul.list-unstyled {
            display: block!important;
            position: absolute;
            top: 0px;
            left: 45px;
            -webkit-box-shadow: 3px 3px 3px 0 $centreon-shadow;
            box-shadow: 3px 3px 3px 0 $centreon-shadow;
            &:empty {
              display: none!important;
            }
          }
        }
        .collapse .collapsed-item.active .first-level {
          display: none;
        }
        .collapse {
          z-index: 998;
          &:after {
            content: ' ';
            height:auto;
            display: block;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: -50px;
            left: 157px;
          }
          &:before {
            content: ' ';
            display: block;
            position: absolute;
            top: -50px;
            z-index: 2;
            right: -50px;
            height: 50px;
            left: 0;
          }
          .collapsed-item {
            &:after {
              content: ' ';
              height: 50px;
              display: block;
              position: absolute;
              bottom: -50px;
              right: -50px;
              left: 0;
            }
            .first-level {
              z-index: 999;
              z-index: 998;
              &:after {
                content: ' ';
                height:auto;
                display: block;
                position: absolute;
                top: 0px;
                bottom: 0px;
                right: -50px;
                left: 155px;
              }
              &:before {
                content: ' ';
                display: block;
                position: absolute;
                top: -50px;
                z-index: 2;
                right: -50px;
                height: 50px;
                left: 0;
              }
              .collapsed-level-item  {
                &:after {
                  content: ' ';
                  height: 50px;
                  display: block;
                  position: absolute;
                  bottom: -50px;
                  right: -50px;
                  left: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  &.active {
    min-width: 160px;
    max-width: 160px;
    .menu {
      &-item {
        &.to-hover:hover {
          >ul.list-unstyled {
            left: 160px;
          }
        }
        &.active {
          .collapsed-items.list-unstyled {
            display: block!important;
          }
          .list-unstyled,
          .list-unstyled.active {
            border-top: 0px solid transparent;
            border-bottom: 0px solid transparent;
            border-right: 0px solid transparent;
            .list-unstyled {
              border-left: 0px solid transparent;
            }
          }
        }
        /*manage exception where 4th level menu is active and we want to avoid scroll ipening the 5 th level menu on hover*/
        &:nth-child(4).active + .menu-item {
          &:hover>ul.list-unstyled {
            top: -191px;
          }
          >ul.list-unstyled .collapsed-item:first-child:hover {
            >ul {
              top: -191px;
            }
          }
        }
      }
    }
    .sidebar-logo {
      display: block;
    }
    .sidebar-logo-mini {
      display: none;
    }
    .menu-item-name {
      display: inline-block;
    }
    .collapsed-items {
      display: block;
    }
    .toggle-sidebar-wrap {
      width: 160px;
    }
    .toggle-sidebar-icon {
      transform: none;
      background-position: 90% center;
    }
  }
  .sidebar-logo-mini {
    padding: 16px 11px;
    box-sizing: border-box;
    height: 51px;
  }
  &-logo {
    padding: 10px 12px;
    box-sizing: border-box;
    height: 51px;
    a {
      display: block;
    }
    &-image {
      max-width: 100%;
      height: auto;
    }
  }
  &.active {
    .dropdown-toggle::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
    }
  }
  .iconmoon {
    text-align: left;
    font-size: 0.625rem;
    color: #242f3b;
    font-weight: 300;
    padding: 7px 12px;
    display: block;
    &:hover {
      color: $white-color;
    }
    &:before {
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
    }
  }
  &-inner {
    position: relative;
    max-height: 100vh;
  }
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

a {
  &.download {
    background: $white-color;
    color: #7386D5;
  }
  &.article {
    background: #6d7fcc;
    color: $white-color;
    &:hover {
      background: #6d7fcc;
      color: $white-color;
    }
  }
}
.menu {
  &-items {
    &.components {
      border-top: 1px solid $white-color;
      padding-bottom: 30px;
    }
  }
  &-item {
    &-link {
      border-bottom: 1px solid $white-color;
      text-align: left;
      text-decoration: none;
      display: block;
      position: relative;
      cursor: pointer;
      &:hover {
        color: $white-color;
      }
      i {
        margin-right: 10px;
      }
    }
    >ul.list-unstyled  {
      display: none;
    }
    &.to-hover:hover {
      >ul.list-unstyled {
        display: block!important;
        position: fixed;
        left: 68px;
      }
    }
    &:first-child {
      &.active {
        > span {
          background: $turquoise-centreon-primary;
        }
      }
      > span:hover {
        background: $turquoise-centreon-darken;
      }
      .collapsed-level-item {
        &.active {
          .collapsed-level-item-link {
            background: $turquoise-centreon-primary;
            color: $white-color;
          }
        }
        &:hover {
          .collapsed-level-item-link {
            background: $turquoise-centreon-darken;
            color: $white-color;
          }
        }
      }
      .collapsed-items {
        &.list-unstyled {
          border-left: 5px solid $turquoise-centreon-primary;
        }
      }
      .collapsed-item {
        &.active {
          .collapsed-level-item-link.active {
            background: $turquoise-centreon-primary;
            color: $white-color;
          }
        }
        > .collapsed-level-item-link:hover {
          background: $turquoise-centreon-darken;
          color: $white-color;
        }
      }
    }

    &:nth-child(2) {
      &.active {
        > span {
          background: $lime-centreon-primary;
        }
      }
      > span:hover {
        background: $lime-centreon-darken;
      }
      .collapsed-level-item {
        &.active {
          .collapsed-level-item-link {
            background: $lime-centreon-primary;
            color: $white-color;
          }
        }
        &:hover {
          .collapsed-level-item-link {
            background: $lime-centreon-darken;
            color: $white-color;
          }
        }
      }
      .collapsed-items {
        &.list-unstyled {
          border-left: 5px solid $lime-centreon-primary;
        }
      }
      .collapsed-item {
        &.active {
          .collapsed-level-item-link.active {
            background: $lime-centreon-primary;
            color: $white-color;
          }
        }
        > .collapsed-level-item-link:hover{
            background: $lime-centreon-darken;
            color: $white-color;
        }
      }
    }

    &:nth-child(3) {
      .collapsed-item {
        &:after {
          content: ' ';
          width: 100%;
          height: 75px;
          display: block;
          position: absolute;
          bottom: -75px;
          right: -40px;
        }
      }
      &.active {
        > span {
          background: $orange-centreon-primary;
        }
      }
      > span:hover {
        background: $orange-centreon-darken;
      }
      .collapsed-level-item {
        &.active {
          .collapsed-level-item-link {
            background: $orange-centreon-primary;
            color: $white-color;
          }
        }
        &:hover {
          .collapsed-level-item-link {
            background: $orange-centreon-darken;
            color: $white-color;
          }
        }
      }
      .collapsed-items {
        &.list-unstyled {
          border-left: 5px solid $orange-centreon-primary;
        }
      }
      .collapsed-item {
        &.active {
          .collapsed-level-item-link.active {
            background: $orange-centreon-primary;
            color: $white-color;
          }
        }
        > .collapsed-level-item-link:hover{
            background: $orange-centreon-darken;
            color: $white-color;
        }
      }
    }

    &:nth-child(4) {
      &.active {
        > span {
          background: $lightblue-centreon-primary;
        }
      }
      > span:hover {
        background: $lightblue-centreon-darken;
      }
      .collapsed-level-item {
        &.active {
          .collapsed-level-item-link {
            background: $lightblue-centreon-primary;
            color: $white-color;
          }
        }
        &:hover {
          .collapsed-level-item-link {
            background: $lightblue-centreon-darken;
            color: $white-color;
          }
        }
      }
      .collapsed-items {
        &.list-unstyled {
          border-left: 5px solid $lightblue-centreon-primary;
        }
      }
      .collapsed-item {
        &.active {
          .collapsed-level-item-link.active {
            background: $lightblue-centreon-primary;
            color: $white-color;
          }
        }
        > .collapsed-level-item-link:hover{
          background: $lightblue-centreon-darken;
          color: $white-color;
        }
      }
    }

    &:nth-child(5) {
      &.active {
        > span {
          background: $darkblue-centreon-primary;
        }
      }
      > span:hover {
        background: $darkblue-centreon-darken;
      }
      .collapsed-level-item {
        &.active {
          .collapsed-level-item-link {
            background: $darkblue-centreon-primary;
            color: $white-color;
          }
        }
        &:hover {
          .collapsed-level-item-link {
            background: $darkblue-centreon-darken;
            color: $white-color;
          }
        }
      }
      .collapsed-items {
        &.list-unstyled {
          border-left: 5px solid $darkblue-centreon-primary;
        }
      }
      .collapsed-item {
        &.active {
          .collapsed-level-item-link.active {
            background: $darkblue-centreon-primary;
            color: $white-color;
          }
        }
        > .collapsed-level-item-link:hover{
          background: $darkblue-centreon-darken;
          color: $white-color;
        }
      }
    }

    &.active > span {
      color: $white-color;
      .iconmoon {
        color: $white-color;
        &:before {
          color: $white-color;
        }
      }
    }

    &-name {
      font-family: $primary-font-regular;
      font-size: 0.84rem;
      vertical-align: middle;
      position: absolute;
      left: 41px;
      transform: translateY(-50%);
      top: 50%;
    }
  }
}
.collapse {
  .collapsed-level {
    &-item {
      background-color: $grey-clear;
      &-link {
        border-bottom: 1px solid $grey-classic;
        text-align: left;
        text-decoration: none;
        font-size: 0.7rem;
        color: $centreon-graphit;
        font-family: $primary-font-regular;
        padding: 11px 10px 11px 28px;
        display: block;
        letter-spacing: -0.4px;
        cursor: pointer;
      }
    }

    &-title {
      height: 18px;
      background-color: $white-color;
      display: block;
      position: relative;
      margin:0;
      &:before {
        content: ' ';
        height: 1px;
        width: 100%;
        background-color: $lightblue-centreon-primary;
        position: absolute;
        display: block;
        top: 10px;
      }
      span {
        font-family: $primary-font-regular;
        padding: 0px 5px;
        color: $lightblue-centreon-primary;
        background: $white-color;
        font-variant: all-petite-caps;
        font-size: 0.7rem;
        position: relative;
        line-height: 18px;
      }
    }
  }
  .collapsed-item {
    .first-level {
      display: none;
    }
    .second-level {
      display: none;
    }
    &.active {
      .first-level {
        display: block;
      }
    }
    &.active {
      .second-level {
        display: block;
      }
    }
    > .collapsed-level-item-link {
      background-image: url("../../img/icons/aside-menu-arrows.png");
      background-repeat: no-repeat;
      background-position: 12px 9px;
      background-color: $grey-classic;
      &.img-none {
        background: none;
        background-color: $grey-classic;
      }
    }
  }
}
.collapsed-level {
  &-items {
    &.first-level {
      .collapsed-level-item {
        background-color: $white-color;
        .collapsed-level-item-link {
          padding: 10px 10px 10px 34px;
        }
      }
    }
  }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  .sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px;
  }
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  .sidebar {
    &.active {
      margin-left: 0;
    }
    .sidebar-header h3, .CTAs {
      display: none;
    }
    .sidebar-header strong {
      display: block;
    }
    margin-left: 0;
  }
  .sidebarCollapse span {
    display: none;
  }
}
@media screen and(max-width: 1400px) {
  li.menu-item:last-child .collapsed-items li.collapsed-item:first-child > ul.collapsed-level-items {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}