jms_serializer:
    metadata:
        directories:
            centreon:
                namespace_prefix: "Centreon\\Domain"
                path: '%kernel.root_dir%/../config/packages/serializer/Centreon'
            application:
                namespace_prefix: "Centreon\\Application"
                path: '%kernel.root_dir%/../config/packages/serializer/Application'
parameters:
    api.header: "Api-Version"
    api.version.latest: "2.0"
    api.version.beta: "2.1"

services:
    _defaults:
        public: false
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, controller...

    Centreon\:
        resource: '../../src/Centreon/*'
        exclude: '../../src/Centreon/Tests'

    Centreon\Infrastructure\DatabaseConnection:
        class: Centreon\Infrastructure\DatabaseConnection
        arguments:
            $host: '%database_host%'
            $port: '%database_port%'
            $basename: '%database_db%'
            $login: '%database_user%'
            $password: '%database_password%'
        calls:
            - method: setCentreonDbName
              arguments: ['%database_db%']
            - method: setStorageDbName
              arguments: ['%database_dbstg%']

    jms_serializer.object_constructor:
        class: Centreon\Infrastructure\Serializer\ObjectConstructor
        public: false

    # Encryption
    Security\Interfaces\EncryptionInterface:
        class: Security\Encryption
        calls:
            - method: setFirstKey
              arguments: ['%env(APP_SECRET)%']

    # JSON Validator
    Centreon\Domain\Service\JsonValidator\Interfaces\JsonValidatorInterface:
        class: Centreon\Domain\Service\JsonValidator\Validator
        arguments: ['%env(_CENTREON_PATH_)%config/json_validator']

    Centreon\Domain\Service\JsonValidator\Interfaces\ValidatorCacheInterface:
        class: Centreon\Domain\Service\JsonValidator\ValidatorCache
        arguments: ["%kernel.cache_dir%/JsonValidatorCache", '%kernel.debug%']

    # Contact
    Centreon\Domain\Contact\Interfaces\ContactServiceInterface:
        class: Centreon\Domain\Contact\ContactService
        public: true

    Centreon\Domain\Contact\Interfaces\ContactRepositoryInterface:
        class: Centreon\Infrastructure\Contact\ContactRepositoryRDB

    contact.provider:
        class: Centreon\Domain\Contact\ContactProvider
        public: true

    # Authentication
    Centreon\Domain\Security\Interfaces\AuthenticationRepositoryInterface:
        class: Centreon\Infrastructure\Security\AuthenticationRepositoryRDB

    Centreon\Domain\Security\Interfaces\AuthenticationServiceInterface:
        class: Centreon\Domain\Security\AuthenticationService

    Centreon\Domain\Security\Interfaces\AccessGroupRepositoryInterface:
        class: Centreon\Infrastructure\Security\AccessGroupRepositoryRDB

    Centreon\Domain\RequestParameters\Interfaces\RequestParametersInterface:
        class: Centreon\Domain\RequestParameters\RequestParameters

    # Poller configuration
    Centreon\Domain\MonitoringServer\Interfaces\MonitoringServerServiceInterface:
        class: Centreon\Domain\MonitoringServer\MonitoringServerService

    Centreon\Domain\MonitoringServer\Interfaces\MonitoringServerRepositoryInterface:
        class: Centreon\Infrastructure\MonitoringServer\MonitoringServerRepositoryRDB
        calls:
            - method: setSqlRequestTranslator
              arguments: ['@sqlRequestTranslator']

    # Real time monitoring
    sqlRequestTranslator:
        class: Centreon\Infrastructure\RequestParameters\SqlRequestParametersTranslator

    Centreon\Domain\Monitoring\Interfaces\MonitoringServiceInterface:
        class: Centreon\Domain\Monitoring\MonitoringService
        public: true

    Centreon\Domain\Monitoring\Interfaces\MonitoringRepositoryInterface:
        class: Centreon\Infrastructure\Monitoring\MonitoringRepositoryRDB
        calls:
            - method: setSqlRequestTranslator
              arguments: ['@sqlRequestTranslator']

    Centreon\Domain\Monitoring\HostGroup\Interfaces\HostGroupServiceInterface:
        class: Centreon\Domain\Monitoring\HostGroup\HostGroupService

    Centreon\Domain\Monitoring\HostGroup\Interfaces\HostGroupRepositoryInterface:
        class: Centreon\Infrastructure\Monitoring\HostGroup\HostGroupRepositoryRDB

    Centreon\Domain\Monitoring\ServiceGroup\Interfaces\ServiceGroupServiceInterface:
        class: Centreon\Domain\Monitoring\ServiceGroup\ServiceGroupService

    Centreon\Domain\Monitoring\ServiceGroup\Interfaces\ServiceGroupRepositoryInterface:
        class: Centreon\Infrastructure\Monitoring\ServiceGroup\ServiceGroupRepositoryRDB

    # Downtime
    Centreon\Domain\Downtime\Interfaces\DowntimeServiceInterface:
        class: Centreon\Domain\Downtime\DowntimeService

    # Engine
    Centreon\Domain\Engine\Interfaces\EngineRepositoryInterface:
        class: Centreon\Infrastructure\Engine\EngineRepositoryFile
        arguments: ['%centreon_var_lib%/centcore']

    Centreon\Domain\Engine\Interfaces\EngineServiceInterface:
        class: Centreon\Domain\Engine\EngineService

    # API Acknowledgement
    Centreon\Domain\Acknowledgement\Interfaces\AcknowledgementRepositoryInterface:
        class: Centreon\Infrastructure\Acknowledgement\AcknowledgementRepositoryRDB

    Centreon\Domain\Acknowledgement\Interfaces\AcknowledgementServiceInterface:
        class: Centreon\Domain\Acknowledgement\AcknowledgementService

    # Metric
    Centreon\Domain\Monitoring\Metric\Interfaces\MetricServiceInterface:
        class: Centreon\Domain\Monitoring\Metric\MetricService

    # Proxy configuration
    Centreon\Domain\Proxy\Interfaces\ProxyServiceInterface:
        class: Centreon\Domain\Proxy\ProxyService

    Centreon\Domain\Proxy\Interfaces\ProxyRepositoryInterface:
        class: Centreon\Infrastructure\Proxy\ProxyRepositoryRDB

    Centreon\Domain\Gorgone\Interfaces\GorgoneServiceInterface:
        class: Centreon\Domain\Gorgone\GorgoneService
        public: true


    # Monitoring resources
    Centreon\Domain\Monitoring\Interfaces\ResourceServiceInterface:
        class: Centreon\Domain\Monitoring\ResourceService

    Centreon\Domain\Monitoring\Interfaces\ResourceRepositoryInterface:
        class: Centreon\Infrastructure\Monitoring\ResourceRepositoryRDB
        calls:
            - method: setSqlRequestTranslator
              arguments: ['@sqlRequestTranslator']

    # Filters
    Centreon\Domain\Filter\Interfaces\FilterServiceInterface:
        class: Centreon\Domain\Filter\FilterService

    Centreon\Domain\Filter\Interfaces\FilterRepositoryInterface:
        class: Centreon\Infrastructure\Filter\FilterRepositoryRDB
        calls:
            - method: setSqlRequestTranslator
              arguments: ['@sqlRequestTranslator']

    # Monitoring Timeline
    Centreon\Domain\Monitoring\Timeline\Interfaces\TimelineRepositoryInterface:
        class: Centreon\Infrastructure\Monitoring\Timeline\TimelineRepositoryRDB
        calls:
            - method: setSqlRequestTranslator
              arguments: ['@sqlRequestTranslator']

    Centreon\Domain\HostConfiguration\Interfaces\HostConfigurationServiceInterface:
        class: Centreon\Domain\HostConfiguration\HostConfigurationService
        public: true

    Centreon\Domain\HostService\Interfaces\HostServiceServiceInterface:
        class: Centreon\Domain\HostService\HostServiceService

    Centreon\Domain\HostService\Interfaces\HostServiceRepositoryInterface:
        class: Centreon\Infrastructure\HostService\HostServiceRepositoryRDB
