/*
 * Copyright 2005-2011 MERETHIS
 * Centreon is developped by : Julien Mathis and Romain Le Merlus under
 * GPL Licence 2.0.
 * 
 * This program is free software; you can redistribute it and/or modify it under 
 * the terms of the GNU General Public License as published by the Free Software 
 * Foundation ; either version 2 of the License.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A 
 * PARTICULAR PURPOSE. See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with 
 * this program; if not, see <http://www.gnu.org/licenses>.
 * 
 * Linking this program statically or dynamically with other modules is making a 
 * combined work based on this program. Thus, the terms and conditions of the GNU 
 * General Public License cover the whole combination.
 * 
 * As a special exception, the copyright holders of this program give MERETHIS 
 * permission to link this program with independent modules to produce an executable, 
 * regardless of the license terms of these independent modules, and to copy and 
 * distribute the resulting executable under terms of MERETHIS choice, provided that 
 * MERETHIS also meet, for each linked independent module, the terms  and conditions 
 * of the license of that module. An independent module is a module which is not 
 * derived from this program. If you modify this program, you may extend this 
 * exception to your version of the program, but you are not obliged to do so. If you
 * do not wish to do so, delete this exception statement from your version.
 * 
 * For more information : contact@centreon.com
 * 
 * SVN : $URL$
 * SVN : $Id$
 * 
 */

BODY {
	margin: 0px 0px 0px 0px;
	background-color : #888888 ;
	color : #333333;
	}


tr,td,th,table {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	vertical-align: top;
	}

p {MARGIN-TOP: 0px; MARGIN-BOTTOM: 10px}

hr  {
	color: #888888;
	width: 100%;
	height: 1px;
	margin: 0px;
	}

a:link, a:visited {
	font-size: 12px; color: #333333; text-decoration: none;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
    text-decoration: underline;
	}

a:hover {
	color: #EA1313;	text-decoration: none;
    text-decoration: underline;
	}

input,select {
	border: 1px solid #888888;
	font-size: 11px;
	background-color: #ffffff;
	}

textarea {
	border: 1px solid #888888;
	color: #222222;
	font-size: 11px;
	background-color: #ffffff;
	}

.checkbox {
	border:0px;
	background-color: transparent;
	}

.button {
	border: 1px solid #888888;
	font-size: 12px;
	color: #ffffff;
	background-color: #444444;
	font-weight: bold;
	cursor: pointer;
	}
/* custom */

table.shell {
	/*background-color: #ffffff;*/
	width: 600px;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 100px;
	border: 1px solid #111111;
	}

table.shell th {
	border-bottom: 1px solid #888888;
	/*background-color: #ffffff;*/
	color: #888888;
	font-size: 16px;
	font-weight: bold;
	padding: 6px;
	text-align: left;
	}

table.shell td {
	padding: 6px;
	background-color: #dddddd;

	}

table.stdTable td {

	padding: 2px;
	}
table.stdTable th {

	padding: 2px;

	}

table.StyleDottedHr td {
border-bottom: 1px dotted #cccccc;
	padding: 2px;
	}
table.StyleDottedHr th {

	padding: 2px;
	background-color: #444444;
	font-size: 14px;
	color: #dddddd;
	}


.small {
	font-size: 10px;
	}
.small_warning {
	color: #DE9F25;
	font-size: 10px;
	}
.stop {
	color: #cc0000;
	}
.warning {
	color: #DE9F25;
	}
.go {
	color: #00cc00;
	}
.required {
	color: #ff2222;
	font-weight: bold;
	}

