/**
Oreon is developped with GPL Licence 2.0 :
http://www.gnu.org/licenses/gpl.txt
Developped by : Julien Mathis - Romain Le Merlus - Christophe Coraboeuf

The Software is provided to you AS IS and WITH ALL FAULTS.
OREON makes no representation and gives no warranty whatsoever,
whether express or implied, and without limitation, with regard to the quality,
safety, contents, performance, merchantability, non-infringement or suitability for
any particular or intended purpose of the Software found on the OREON web site.
In no event will OREON be liable for any direct, indirect, punitive, special,
incidental or consequential damages however they may arise and even if OREON has
been previously advised of the possibility of such damages.

For information : contact@oreon-project.org
*/

BODY {
	margin: 0px 0px 0px 0px;
	background-color : #888888 ;
	color : #333333;
	}


tr,td,th,table {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	vertical-align: top;
	}

p {MARGIN-TOP: 0px; MARGIN-BOTTOM: 10px}

hr  {
	color: #888888;
	width: 100%;
	height: 1px;
	margin: 0px;
	}

a:link, a:visited {
	font-size: 12px; color: #333333; text-decoration: none;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
    text-decoration: underline;
	}

a:hover {
	color: #EA1313;	text-decoration: none;
    text-decoration: underline;
	}

input,select {
	border: 1px solid #888888;
	font-size: 11px;
	background-color: #ffffff;
	}

textarea {
	border: 1px solid #888888;
	color: #222222;
	font-size: 11px;
	background-color: #ffffff;
	}

.checkbox {
	border:0px;
	background-color: transparent;
	}

.button {
	border: 1px solid #888888;
	font-size: 12px;
	color: #ffffff;
	background-color: #444444;
	font-weight: bold;
	}
/* custom */

table.shell {
	/*background-color: #ffffff;*/
	width: 600px;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 100px;
	border: 1px solid #111111;
	}

table.shell th {
	border-bottom: 1px solid #888888;
	/*background-color: #ffffff;*/
	color: #888888;
	font-size: 16px;
	font-weight: bold;
	padding: 6px;
	text-align: left;
	}

table.shell td {
	padding: 6px;
	background-color: #dddddd;

	}

table.stdTable td {

	padding: 2px;
	}
table.stdTable th {

	padding: 2px;

	}

table.StyleDottedHr td {
border-bottom: 1px dotted #cccccc;
	padding: 2px;
	}
table.StyleDottedHr th {

	padding: 2px;
	background-color: #444444;
	font-size: 14px;
	color: #dddddd;
	}


.small {
	font-size: 10px;
	}
.small_warning {
	color: #DE9F25;
	font-size: 10px;
	}
.stop {
	color: #cc0000;
	}
.warning {
	color: #DE9F25;
	}
.go {
	color: #00cc00;
	}
.required {
	color: #ff2222;
	font-weight: bold;
	}

