/* Pub css */
.install-pub-wrapper {
    color: #58585a;
}
.install-pub-wrapper .pub-header {
    width: 100%;
    padding: 0 12px;
    margin-bottom: 36px;
    float: left;
}
.install-pub-wrapper .pub-header .header-text {
    font-size: 20px;
    color: #231f20;
    margin-bottom: 0;
}
.install-pub-wrapper .pub-header .header-text b {
    color: #00ab9f;
}
.install-pub-wrapper .pub-header small {
    font-size: 14px;
    color: #58585a;
}
.install-pub-wrapper .pub-body {
}
.install-pub-wrapper .pub-body .left-side {
    float: left;
    margin-right: 20px;
}
.install-pub-wrapper .pub-body .right-side .jumbotron {
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 0;
}
.install-pub-wrapper .pub-body .right-side .jumbotron b {
    font-size: 36px;
    color: #9dc600;
    font-weight: normal;
}
.install-pub-wrapper .pub-body .right-side .jumbotron sup {
    vertical-align: top;
}
.install-pub-wrapper .pub-body .right-side .jumbotron span {
    font-size: 36px;
    color: #0072ce;
    vertical-align: bottom;
}
.centreon-message {
    margin: 2.5rem 1rem 1.5rem 18rem;
    position: relative;
}
.info-title {
    font-size: 13px;
    border-left: 3px solid #0072ce;
    padding-left: 12px;
}
.bt-group {
    text-align: right;
    margin: 38px 20px;
}
.bt_blue {
    background: #0072ce;
    padding: 6px 14px !important;
    font-size: 14px !important;
}