/*
 * Jquery portlet style
 */
.portlet { margin: 0 0.2em 0.7em 0.2em; overflow: hidden; }

.portlet-header { 
	margin: 0; 
	padding: 0.3em 0 4px 0.5em; 
	cursor: move ; 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0.8;
	display: none;
	z-index: 2;
}

.portlet-ui-icon { float: right; cursor: pointer; padding-right: 0.5em;}
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder { visibility: hidden; }
.portlet-content { 
	width: 100%;
	border: none;
}

.styleTable { border-collapse: separate; width: 100%; }
.styleTable TD { font-weight: normal !important; padding: .2em; border-width: 0px !important; white-space: nowrap; }
.styleTable TH { text-align: center; font-size: 12px;}
.styleTable TD.first, .styleTable TH.first { border-left-width: 0px !important; }

.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 0.4em; background: none; }

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .1em 1em .1em 2.1em; }
#globalView {padding-bottom:10px;}


div.gridster ul li {
	list-style-type: none;
	border: 0.1em solid #A9A9A9;
}

.gridster .preview-holder {
	border: 3px dashed!important;
	border-spacing: 8px;
	border-color: #A9A9A9!important;
}

div.custom-view-actions {
	margin: 0 0 0 20px;
	width: 95%;
}

span.custom-owner-label {
	float: right;
	margin: 0 10px 0 0;
	padding: 0.9em;
}

.custom-tag-label {
	float: right;
}

.custom-view-badge {
	margin-left: 10px;
}

.filter_zone {
	display; none;
}

.filter_zone input {
	margin-bottom:5px;
}

.filter_zone select {
	margin-bottom:5px;
}

.filter-div {
	margin: 0px 4px 4px 0px;
	border: 1px solid;
	border-color: #ccc;
	background-color: #e7e7e7;
	border-radius: 5px;
}

.remove-filter {
	margin-left: -11px;
}

#add-filter {
	margin-bottom: 10px;
}

.overlay_fix {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    opacity: 0;
    display: none;
}

li.widget-li {
	overflow: hidden;
}

.portlet-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
