.graph {
    position: relative;
}

.service-box {
  width: 400px;
  height: 160px;
  position: absolute;
  overflow: hidden;
}

.service-box .last-update {
  font-size: 12px;
}

.service-box .expand {
  cursor: pointer;
}

.service-box .panel-body {
}

.parent-link, .children-link {
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.service-box .extended-info {
  margin-top: 5px;
}

.incidentsMinimap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 10;
}

.incidentsMinimap-body {
  background-color: #f8f8f8;
  background-color: rgba(248, 248, 248, 0.8);
  position: relative;
  overflow: auto;
}

.incidentsMinimap-button {
  margin-right: 10px;
  padding: 5px;
  background-color: #f8f8f8;
  background-color: rgba(248, 248, 248, 0.8);
  border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.incidentsMinimap .incident-thumb {
  position: absolute;
  width: 40px;
  height: 25px;
}

.incidentsMinimap .danger {
  background-color: #a94442;
  border-color: #ebccd1;
  border-radius: 3px;
}

.incidentsMinimap .warning {
  background-color: #8a6d3b;
  border-color: #faebcc;
  border-radius: 3px;
}
