:root {
    /** Main colors **/
    --color-success : #88b917 ;
    --color-warning : #ff9a13 ;
    --color-danger : #e00b3d ;
    --color-pending : #2AD1D4 ;
    --color-info : #00bdb0 ;
    --color-ack : #AA9C24;
    --color-white : #fff ;
    --color-black: #000000;
    --color-very-light-grey: #CCC;
    --color-silver:#BBB;
    --color-aluminium : #818285;
    --color-black-rgba : rgba(0, 0, 0, 0.54);
    --color-curious-blue : #337ab7;
    --color-navy-bleu : #0072CE;
    --color-iris-blue : #00BFB3;
    --color-persian-green : #00a499 ;
    --color-surfie-green : #007f77;
    --color-columbia-blue : #bfecff;
    --color-ghost : #bcbdc0;
    --color-charcoal : #444;
    --color-martar : #555 ;
    --color-grey-chateau : #a7a9ac;
    --color-maya-blue : #4ccaff ;
    --color-pasific-bleu : #009fdf;
    --color-iron : #d1d2d4;
    --color-periwinkle :#bfd0e2;
    --color-white-smack : #f1f1f1;
    --color-white-lilac : #e7e7e8;
    --color-mauve :#cc99ff;
    --color-dark-goldenrod : #ae9500;
    --color-sapphire: #09225c;
    --color-pale-turquoise: #cfedf9;
    --color-malibu: #4dcaff;
    --color-wild-sand: #f4f4f4;
    --color-ultramarine: #10069F;
    --color-torch-red: #f90026;
    --color-robins-egg-blue: #00ccbf;
    --color-white-rgba-8 :rgba(240, 240, 240, 0.8);
    --color-black-rgba-54 :rgba(0, 0, 0, 0.54);
    --color-black-rgba-1 :rgba(0, 0, 0, 0.1);
    --color-black-rgba-26: rgba(0, 0, 0, 0.26);
    --color-astral-rgb: rgb(51, 122, 183);
    /******************/
}
