:root {
    /** Main colors **/
    --color-primary-light: #64B5F6;
    --color-primary-body-dark : #b2aca2;
    --color-primary-body-background-dark:#212121;
    --color-primary-success-dark : #84bd00;
    --color-primary-dark: #10069F;
    --color-success : #88b917 ;
    --color-warning : #ff9a13 ;
    --color-danger : #e00b3d ;
    --color-pending : #2AD1D4 ;
    --color-info : #00bdb0 ;
    --color-ack : #AA9C24;
    --color-white : #fff ;
    --color-black: #000000;
    --color-blue: #0000FF;
    --color-red: #ff0000;
    --color-orange: #FFA500;
    --color-gray: #808080;
    --color-gray-2: #888;
    --color-very-light-grey: #CCC;
    --color-silver:#BBB;
    --color-silver-2: #c3c3c3;
    --color-silver-3: #cdcdcd;
    --color-silver-4: #c5c5c5;
    --color-silver-chalice: #AAAAAA;
    --color-silver-chalice-2: #AEAEAE;
    --color-aluminium : #818285;
    --color-aluminium-2: #818285;
    --color-alto: #DDDDDD;
    --color-alto-2: #D9D9D9;
    --color-alto-3: #d6d5d5;
    --color-alto-4: #dedede;
    --color-alto-5: #e0e0e0;
    --color-gallery: #EEEEEE;
    --color-gallery-2: #ededed;
    --color-black-rgba : rgba(0, 0, 0, 0.54);
    --color-curious-blue : #337ab7;
    --color-navy-bleu : #0072CE;
    --color-iris-blue : #00BFB3;
    --color-persian-green : #00a499 ;
    --color-persian-green-3 : #00ac9f ;
    --color-surfie-green : #007f77;
    --color-columbia-blue : #bfecff;
    --color-ghost : #bcbdc0;
    --color-charcoal : #444;
    --color-martar : #555 ;
    --color-grey-chateau : #a7a9ac;
    --color-maya-blue : #4ccaff ;
    --color-pasific-bleu : #009fdf;
    --color-iron : #d1d2d4;
    --color-periwinkle :#bfd0e2;
    --color-white-smack : #f1f1f1;
    --color-white-lilac : #e7e7e8;
    --color-mauve :#cc99ff;
    --color-dark-goldenrod : #ae9500;
    --color-sapphire: #09225c;
    --color-pale-turquoise: #cfedf9;
    --color-malibu: #4dcaff;
    --color-malibu-2: #7bd0fa;
    --color-wild-sand: #f4f4f4;
    --color-wild-sand-2: #f6f6f6;
    --color-torch-red: #f90026;
    --color-robins-egg-blue: #00ccbf;
    --color-oslo-gray: #919294;
    --color-christi: #77a115;
    --color-shiraz: #ca0a37;
    --color-persian-green-2: #03a89e;
    --color-golden-bell: #eb8e12;
    --color-athens-gray: #f6f6f7;
    --color-athens-gray-2: #eff1f6;
    --color-athens-gray-3: #eaeaee;
    --color-athens-gray-4: #f0f0f1;
    --color-athens-gray-5: #f3f3f4;
    --color-scarpa-flow: #58585a;
    --color-dove-gray: #666666;
    --color-botticeli: #D5DFEB;
    --color-periwinkle-gray: #CED3ED;
    --color-periwinkle-gray-2: #D1DCEB;
    --color-perano: #A9C5F2;
    --color-twilight-blue: #F8FDFF;
    --color-twilight-blue-2: #F0FBFF;
    --color-sweet-corn: #fada83;
    --color-sweet-corn-2: #fcf17f;
    --color-yellow-green: #bada83;
    --color-lightning-yellow: #fdc11e;
    --color-key-lime-pie: #bdc11e;
    --color-gimblet: #B2A867;
    --color-carnation-pink: #ffaec1;
    --color-deep-blush: #e17790;
    --color-deep-blush-2: #E3858C;
    --color-blue-chalk: #f1dfff;
    --color-fog: #e7c9ff;
    --color-dolly: #fefc8e;
    --color-biloba-flower: #AAAAEE;
    --color-scorpion: #5E5E5E;
    --color-scorpion-2: #5a5a5a;
    --color-porsche: #E8AB5C;
    --color-onahau: #C1ECFF;
    --color-armadillo: #433f38;
    --color-olive: #597f00;
    --color-tundora: #454545;
    --color-emperor: #525252;
    --color-celery: #99CC55;
    --color-orient: #005a7f;
    --color-blue-romance: #DFF9E0;
    --color-norway: #ADC7A1;
    --color-lavender-blush: #ffe6ec;
    --color-fantasy: #F9EDED;
    --color-half-dutch-white: #FEF7DB;
    --color-bittersweet: #fa6f6c;
    --color-tickle-me-pink: #F778A1;
    --color-olivine: #99C68E;
    --color-alabaster: #f9f9f9;
    --color-alabaster-2: #f7f7f7;
    --color-mercury: #E6E6E6;
    --color-mercury-2: #e9e9e9;
    --color-mercury-3: #e4e4e4;
    --color-super-nova: #F8C706;
    --color-mischka: #e0e0ea;
    --color-apple: #50ce36;
    --color-forest-green: #40a52b;
    --color-pistachio: #8ecc00;
    --color-french-gray: #bdbdc2;
    --color-french-gray-2: #cacace;
    --color-cornflower-blue: #5897fb;
    --color-sushi: #83c249;
    --color-sulu: #ccf289;
    --color-chateau-green: #34b24f;
    --color-grannysmith-apple: #93e888;
    --color-viking: #4fd6ca;
    --color-cerulean: #00aeec;
    --color-loch-mara: #0078bb;
    --color-danube: #60a6d7;
    --color-danube-2: #5E9ED6;
    --color-bayofmany: #29378e;
    --color-titan-white: #f8f8ff;
    --color-boston-blue: #4183c4;
    --color-mine-shaft: #333333;
    --color-mine-shaft-2: #2b2b2b;
    --color-blue-ribon: #003eff;
    --color-azure-radiance: #007fff;
    --color-tacha: #dad55e;
    --color-witch-haze: #fffa90;
    --color-pacifika: #777620;
    --color-congo-brown: #5f3f3f;
    --color-cindrella: #fddfdf;
    --color-wewak: #f1a899;
    --color-dusty-gray: #999;
    --color-mariner: #3875d7;
    --color-shark: #2a2d2f;
    --color-pablo: #776E62;
    --color-cinder: #181A1B;
    --color-sherpa-blue: #002737;
    --color-sherpa-blue-light: #002c3c;
    --color-cod-grey :#2B2E30 ;
    --color-grey-wan-white :#e8e6e38a;
    --color-teal-blue: #003553;
    --color-myrtle-green: #21766f;
    --color-white-rgba-8 :rgba(240, 240, 240, 0.8);
    --color-white-rgba-5 :rgba(255, 255, 255, 0.5);
    --color-white-rgba-6 :rgba(255, 255, 255, 0.6);
    --color-black-rgba-54 :rgba(0, 0, 0, 0.54);
    --color-black-rgba-1 :rgba(0, 0, 0, 0.1);
    --color-black-rgba-26: rgba(0, 0, 0, 0.26);
    --color-black-rgba-07: rgba(0, 0, 0, 0.07);
    --color-black-rgba-6: rgba(0, 0, 0, 0.6);
    --color-astral-rgb: rgb(51, 122, 183);
    --color-pistachio-rgba: rgba(158, 199, 0, 0.49);
    --color-gallery-rgba: rgba(239,239,239, 0.8);
    /******************/
}
