@import "color-variables.css";

:root {
    /* Style.css variables */
    --color-checkbox-disabled-border-rgba: var(--color-black-rgba-26);
    --color-checkbox-checked-border-: var(--color-white);
    --color-checkbox-disabled-checked: var(--color-checkbox-disabled-border-rgba);
    --color-checkbox-disabled-checked-label-green: var(--color-success);
    --color-radiobutton-cheked-border: var(--color-checked-background-rgb);
    --color-checked-background-rgb : var(--color-navy-bleu);

    /*****************/

    /** Body color **/
    --body-background: var(--color-white);
    --body-color:var(--color-martar);
    /*****************/

    /** Text aria color **/
    --textarea-border-color: var(--color-silver);
    --textarea-background-color: var(--color-white);
    --textarea-font-color: var(--color-black);
    /*********************/

    /** Select color **/
    --select-border-color: var(--color-ghost);
    --select-background: var(--color-white);
    --select-color : var(--color-charcoal);
    --option-color: var(--color-charcoal);
    --input-select-background-color: var(--color-white);
    /******************/

    /** Input checkbox **/
    --input-border-color: var(--select-border-color);
    --input-color : var(--select-color);
    --md-checkbox--checked-background : var(--color-checked-background-rgb) ;
    --md-checkbox-border-color : var(--color-black-rgba)  ;
    --md-checkbox-background : var(--color-white) ;
    --md-checkbox--disabled-border-color-before : var(--color-black-rgba);
    --md-checkbox--disabled-checked-background-color-before  : var(--color-black-rgba);
    --md-check-input-disabled-checked-before:  var(--color-success);
    --md-checkbox-checked-label-before-background-color: var(--color-primary-dark);
    --md-checkbox-border-color-after: var(--color-white);
    /*********************/

    /** Radio button **/
    --md-radio-checked-backgroud-color:  var(--color-primary-dark);
    --md-radio-kabel-color:  var(--color-astral-rgb);
    --md-radio-input-checked-label-before-border-color: var(--color-curious-blue);
    --md-radio-label-before-border-color : var(--color-black-rgba-54);
    --md-radio-label-after-background : var(--md-radio-checked-backgroud-color);
    --md-radio-after-background-color: var(--md-radio-checked-backgroud-color);
    /******************/

    /** select **/
    --select-background-color : var(--color-white);
    /***********/

    /** select 2 style2.css **/
    --select2-dropdown-background-color: var(--color-white);
    --select2-dropdown-border-color: var(--color-silver-chalice);
    --select2-close-mask-background-color: var(--color-white);
    --select2-selection-single-background-color: var(--color-white);
    --select2-selection-single-border-color: var(--color-silver-chalice);
    --select2-selection-rendered-font-color: var(--color-charcoal);
    --select2-selection-placeholder-border-color: var(--color-charcoal);
    --select2-selection-placeholder-font-color: var(--color-dusty-gray);
    --select2-selection-arrow-border-color: var(--color-gray-2);
    --select2-selection-arrow-b-border-color: var(--color-gray-2);
    --select2-selection-single-disabled-background-color: var(--color-gallery);
    --select2-container-selection-multiple-background-color: var(--color-white);
    --select2-container-selection-multiple-border-color: var(--color-silver-chalice);
    --select2-container-selection-multiple-placeholder-font-color: var(--color-dusty-gray);
    --select2--selection-multiple-disabled-background-color: var(--color-gallery);
    --select2-selection-choice-background-color: var(--color-mercury-3);
    --select2-selection-choice-border-color: var(--color-silver-chalice);
    --select2-selection-choice-remove-font-color: var(--color-dusty-gray);
    --select2-selection-choice-remove-hover-font-color: var(--color-mine-shaft);
    --select2-search-field-border-color: var(--color-silver-chalice);
    --select2-result-option-aria-disabled-true-font-color: var(--color-dusty-gray);
    --select2-result-option-aria-selected-true-background-color: var(--color-alto);
    --select2-result-option-highlighted-aria-selected-true-font-color: var(--color-white);
    --select2-result-option-highlighted-aria-selected-true-background-color: var(--color-cornflower-blue);
    --select2-classic-selection-single-background-color: var(--color-alabaster-2);
    --select2-classic-selection-single-border-color: var(--color-silver-chalice);
    --select2-classic-selection-single-focus-border-color: var(--color-cornflower-blue);
    --select2-classic-selection-rendered-font-color: var(--color-charcoal);
    --select2-classic-selection-placeholder-font-color: var(--color-dusty-gray);
    --select2-classic-selection-arrow-background-color: var(--color-alto);
    --select2-classic-selection-arrow-border-left-color: var(--color-silver-chalice);
    --select2-classic-selection-arrow-b-border-color: var(--color-gray-2);
    --select2-classic-selection-arrow-rtl-border-right-color: var(--color-silver-chalice);
    --select2-classic-open-selection-single-border-color: var(--color-cornflower-blue);
    --select2-open-classic-selection-arrow-b-border-color: var(--color-gray-2);
    --select2-classic-selection-multiple-background-color: var(--color-white);
    --select2-classic-selection-multiple-border-color: var(--color-silver-chalice);
    --select2-classic-selection-multiple-focus-border-color: var(--color-cornflower-blue);
    --select2-classic-selection-multiple-choice-background-color: var(--color-mercury-3);
    --select2-classic-selection-multiple-choice-border-color: var(--color-silver-chalice);
    --select2-classic-selection-multiple-choice-remove-font-color: var(--color-gray-2);
    --select2-classic-selection-multiple-choice-remove-hover-font-color: var(--color-martar);
    --select2-classic-selection-multiple-open-border-color: var(--color-cornflower-blue);
    --select2-search-dropdown-field-border-color: var(--color-silver-chalice);
    --select2-classic-dropdown-background-color: var(--color-white);
    --select2-classic-result-option-aria-disabled-true-font-color: var(--color-gray);
    --select2-classic-result-option-highlighted-aria-selected-background-color: var(--color-mariner);
    --select2-classic-result-option-highlighted-aria-selected-font-color: var(--color-white);
    --select2-classic-open-dropdown-border-color: var(--color-cornflower-blue);
    --select2-results-background-color: var(--color-white);
    --select2-results-option-font-color: var(--color-charcoal);
    --select2-multiple-choice-remove-hover-font-color: var(--color-mine-shaft);
    /*************/

    /** HR **/
    --hr-background-color : var(--color-very-light-grey);
    /*******/

    /** P **/
    --p-color-description-color : var(--color-grey-chateau);
    --p-description-a-visited-color : var(--color-primary-dark);
    /******/

    /** Placeholder **/
    --placeholder-font-color: var(--body-color);
    /****************/

    /** Wrappers **/
    --center-box-border-color : var(--color-iron);
    --border-radius-border-color : var(--center-box-border-color);
    /*************/

    /** Slider **/
    --rotation-timer-background-color : var(--color-white-smack);
    --rotation-timer-border-color : var(--color-ghost);
    --ui-silder-handle-background-color :var(--color-ghost);
    --ui-silder-handle-border-color : var(--color-grey-chateau);
    --timer-value-color : var(--color-scorpion-2);
    /*************/

    /** Select 2 **/
    --select2-container-selection-background-color : var(--color-white);
    --select2-container-selection-border-color : var(--color-silver);
    --select2-selection-choice-remove-background-color : var(--color-alto-5);
    --select2-selection-multiple-color : var(--color-tundora);
    --select2-selection-multiple-border-color : var(--color-alto-5);
    --select2-selection-multiple-content-border-color-top : var(--select2-selection-multiple-border-color);
    --select2-selection-multiple-content-border-color-bottom : var(--select2-selection-multiple-border-color);
    --select2-selection-multiple-content-border-color-right : none;
    --select2-selection-multiple-content-color : var(--color-navy-bleu);
    --select2-selection-multiple-content-background-color : var(--color-alto-5);
    --select2-results-option-highlighted-background-color : var(--color-tundora);
    --select2-results-option-highlighted-color : var(--color-white);
    --select2-results-option-highlighted-color-aria-selected : var(--color-primary-dark);
    --select2-results-option-highlighted-color-aria-selected-font-color: var(--color-white);
    --selected2-results-header-background-color : var(--color-wild-sand);
    --selected2-results-header-border-bottom-color :var(--color-white-lilac);
    --select2-results-header-color : var(--color-primary-dark);
    /**************/

    /** Tooltip **/
    --WzTtDi-border-color : var(--color-iron);
    --WzTtDi-background-color : var(--color-white);
    --WzTiTl-background-color : var(--color-white);
    --WzClOsE-color : var(--color-danger);
    --WzClOsE-background-color : var(--color-white);
    --WzClOsE-border-color : var(--color-danger);
    --WzBodyI-border-color : var(--color-martar);
    /*************/

    /** START : Colors  **/
    --red-color: var(--color-danger);
    /********************/

    /** Badge **/
    --badge-color: var(--color-white);
    --badge-a-color : var(--color-white);
    /***********/

    /** States **/
    --default-badge-background-color: var(--color-persian-green);
    --host-down-danger-service-critical-background-color : var(--color-danger);
    --host-unreachable-unknown-background-color: var(--color-aluminium);
    --host-downtime-background-color : var(--color-mauve);
    --service-ok-host-up-success-background-color: var(--color-success);
    --service-warning-background-color: var(--color-warning);
    --pending-background-color :var(--color-pending);
    --service-unknown-background-color: var(--color-ghost);
    --info-background-color:var(--color-iris-blue);
    --ack-background-color : var(--color-ack);
    --bdg-dtm-before-background-color: var(--color-mauve);
    --bdg-dtm-before-color :var(--color-white);
    --badge-downtime-background-color : var(--color-mauve);
    --badge-undetermined :var(--color-iron);
    --status-success-color:var(--color-white);
    /***********/

    /** START : Buttons **/
    --btc-color: var(--color-white);
    --a-btc-color : var(--color-white);
    --bt-default-background-color : var(--color-primary-dark);
    --bt-success-background-color : var(--color-primary-dark);
    --bt-danger-background-color: var(--color-primary-dark);
    --bt-info-background-color : var(--color-primary-dark);
    --bt-warning-background-color :var(--color-primary-dark);
    --bt-action-color-background-color : var(--color-primary-dark);
    --bt-action-color :var(--color-white);
    --bt-action-border-color: var(--color-primary-dark);
    --bt-action-hover-background-color: var(--color-primary-dark);
    --bt-action-hover-border-color: var(--color-primary-dark);
    --bt-default-ui-state-hover-background-color : var(--color-oslo-gray);
    --bt-default-ui-state-hover-color : var(--color-white);
    --bt-success-ui-state-hover-background-color: var(--color-christi);
    --bt-success-ui-state-hover-color:var(--color-white);

    --bt-danger-ui-state-hover-background-color: var(--color-shiraz);
    --bt-danger-ui-state-hover-color:var(--color-white);

    --bt-info-ui-state-hover-background-color: var(--color-persian-green-2);
    --bt-info-ui-state-hover-color:var(--color-white);

    --bt-warning-ui-state-hover-background-color: var(--color-golden-bell);
    --bt-warning-ui-state-hover-color:var(--color-white);
    --button-group-input-color:var(--color-white);
    /***********************/

    /** START : Form **/
    --input-submit-color : var(--color-white);
    --add-new-entry-font-color: var(--color-primary-dark);
    /******************/

    /** START : Header **/
    --header-background-color : var(--color-white-lilac);
    /********************/

    /** START : Table **/
    --list-table-small-border-color : var(--color-white-lilac);
    /*******************/

    /** START : Indicators **/
    --resume-light : var(--color-athens-gray);
    --resume-light-table-th-border-right : var(--color-white-lilac);
    --resume-light-table-td-span-color : var(--color-white);
    --resume-light-table-th-span-background-color : var(--color-persian-green);
    /************************/

    /** START : Menu **/
    --main-nav-li-a-border-bottom: var(--color-primary-dark);
    --a-background-color: transparent;

    /** Menu 1 **/
    --menu-1-background-color : var(--color-scarpa-flow);
    --menu-1-li-1-color : var(--color-white-lilac);
    --menu-1-li-a-hover-background-color : var(--color-aluminium);
    /************/

    /** Menu 2 **/
    --menu-2-a-color : var(--color-white-lilac);
    --seperator-menu-2-color : var(--color-silver);
    /************/

    /** Menu 3 **/
    --t-menu-3-background-color : var(--color-white);
    --title-menu-h4-color : var(--color-pasific-bleu);
    --title-menu-bottom-border-color : var(--color-grey-chateau);
    --div-menu-left-background-color :  var(--color-white);
    /************/
    --list-table-anchors-font-color: var(--color-dove-gray);
    --list-table-border-color: var(--color-periwinkle);
    --list-lvl-1-background-color: var(--color-botticeli);
    --list-lvl-2-background-color: var(--color-periwinkle-gray);
    --list-lvl-2-font-color: var(--color-black);
    --list-lvl-1-font-color: var(--color-black);
    --list-header-background: var(--color-periwinkle-gray);
    --list-sub-header-background-color: var(--color-perano);
    --list-one-background-color: var(--color-twilight-blue);
    --list-one-font-color: none;
    --list-one-fix-background-color: var(--list-one-background-color);
    --list-one-hover-background-color: var(--list-header-background);
    --list-one-hover-font-color: none;
    --list-two-background-color: var(--color-twilight-blue-2);
    --list-two-font-color: none;
    --list-two-fix-background-color: var(--list-two-background-color);
    --list-two-hover-background-color: var(--list-header-background);
    --list-two-hover-font-color: none;
    --list-three-background-color: var(--color-sweet-corn);
    --list-three-hover-background-color: var(--color-yellow-green);
    --list-four-background-color: var(--color-lightning-yellow);
    --list-four-hover-background-color: var(--color-key-lime-pie);
    --list-up-background-color: var(--color-success);
    --list-up-hover-background-color: var(--color-gimblet);
    --list-down-background-color: var(--color-carnation-pink);
    --list-down-hover-background-color: var(--color-deep-blush);
    --list-unreachable-background-color: var(--color-aluminium);
    --list-unreachable-hover-background-color: var(--list-unreachable-background-color);
    --list-downtime-background-color: var(--color-blue-chalk);
    --list-downtime-hover-background-color: var(--color-fog);
    --list-ack-background-color: var(--color-dolly);
    --list-ack-hover-background-color: var(--color-sweet-corn-2);
    --list-lvls-td-top-border-color: var(--color-silver-chalice);
    --list-lvls-td-left-border-color: var(--list-lvls-td-top-border-color);
    --list-lvls-td-bottom-border-color: var(--list-lvls-td-top-border-color);
    --list-lvls-td-right-border-color: var(--list-lvls-td-top-border-color);
    --tab-list-lvls-td-top-border-color: var(--list-lvls-td-top-border-color);
    --tab-list-lvls-td-left-border-color: var(--list-lvls-td-top-border-color);
    --tab-list-lvls-td-bottom-border-color: var(--list-lvls-td-top-border-color);
    --tab-list-lvls-td-right-border-color: var(--list-lvls-td-top-border-color);
    --lists-td-top-border-color: var(--color-periwinkle-gray-2);
    --lists-td-left-border-color: var(--lists-td-top-border-color);
    --lists-td-bottom-border-color: var(--lists-td-top-border-color);
    --lists-td-right-border-color: var(--lists-td-top-border-color);
    --tab-lists-td-top-border-color: var(--lists-td-top-border-color);
    --tab-lists-td-left-border-color: var(--lists-td-top-border-color);
    --tab-lists-td-bottom-border-color: var(--lists-td-top-border-color);
    --tab-lists-td-right-border-color: var(--lists-td-top-border-color);
    --list-header-border-top-color: var(--body-background);
    --list-header-border-left-color: var(--list-header-border-top-color);
    --list-header-font-color: var(--body-color);
    --list-footer-border-color: var(--color-biloba-flower);
    --input-button-hover-font-color: #fff;
    --input-button-hover-background-color: var(--color-primary-light);
    --input-button-hover-border-color: var(--input-button-hover-background-color);
    --pagination-font-color: var(--body-background);
    --pagination-background-color: var(--list-table-border-color);
    --message-loading-font-color: var(--color-blue);
    --message-is-loading-font-color: var(--color-white);
    --message-is-loading-background-color: var(--color-red);
    --toolbar-td-selectaction-top-anchor-font-color: var(--color-scorpion);
    --toolbar-td-selectaction-top-anchor-hover-font-color: var(--color-porsche);
    --toolbar-table-bottom-border-color: var(--color-pasific-bleu);
    --a-b-border-color: var(--list-footer-border-color);
    --header-tab-container-bottom-border-color: var(--color-iron);
    --main-nav-list-background-color: transparent;
    --main-nav-list-border-color: var(--main-nav-list-background-color);
    --main-nav-list-a-anchor-font-color: var(--color-primary-dark);
    --main-nav-list-b-anchor-font-color: var(--body-color);
    --menu3-anchor-hover-font-color: var(--color-porsche);
    --menu3-background-color: var(--color-white);
    --date-font-color: var(--color-ghost);
    --detail-chart-title-background-color:var(--color-periwinkle-gray);
    --header-text-font-color: var(--body-color);

    /* ------ START : info box variables -----*/
    --info-box-border-color: var(--color-iron);
    --info-box-background-color: var(--color-wild-sand-2);
    --info-box-h4-font-color: var(--color-aluminium);
    /* ------ END : info box variables -----*/

    /* ------ START : toggle wrapper variables -----*/
    --toggle-wrapper-background-color: var(--color-gallery-2);
    --toggle-wrapper-border-color: var(--color-iron);
    /* ------ END : toggle wrapper variables -----*/

    /* ------ START : form header variables -----*/
    --table-form-header-font-color: var(--color-aluminium);
    --table-form-header-bottom-border-color: var(--color-iron);
    --table-form-header-h3-font-color: var(--color-aluminium);
    /* ------ END : form header variables -----*/

    /* ------ START : Tabs variables -----*/
    --tabs-header-top-border-color: var(--color-white);
    --tabs-header-right-border-color: var(--tabs-header-top-border-color);
    --tabs-header-left-border-color: var(--tabs-header-top-border-color);
    --global-view-ui-widget-content-border-color: none;
    --global-view-ui-widget-content-background-color: none;
    --global-view-ui-border-color: none;
    --ui-background-color: var(--color-white);
    --ui-anchor-state-default-font-color: var(--color-white);
    --ui-anchor-state-active-visited-font-color: var(--color-persian-green);
    --global-view-ui-active-tabs-border-color: var(--color-robins-egg-blue);
    --global-view-ui-active-tabs-border-bottom-color: none;
    --view-body-portlet-border-color: var(--color-iron);
    --view-body-ui-widget-header-font-color: var(--color-white-lilac);
    --view-body-ui-widget-header-background-color: var(--color-white-lilac);
    /* ------ END : Tabs variables -----*/

    /* ------ START : Forms variables ------ */
    --form-table-list-header-background-color: var(--body-background);
    --form-table-list-header-border-bottom-color: none;
    --form-table-list-header-h3-font-color: var(--body-color);
    --form-table-list-header-h4-font-color: var(--color-pasific-bleu);
    --form-table-list-lvl-1-background-color: var(--color-white);
    --form-table-list-lvl-1-col-name-background-color: var(--color-wild-sand);
    --form-table-list-lvl-1-col-name-border-bottom-color: var(--color-white-lilac);
    --form-table-list-lvl-1-col-name-border-top-color: var(--form-table-list-lvl-1-col-name-border-bottom-color);
    /* ------ END : Forms variables -----*/

    /* ------ START : Footer variables -----*/
    --footer-background-color: var(--color-white-lilac);
    --tactical-light-table-font-color: var(--color-tundora);
    --log-out-font-color: var(--color-emperor);
    --path-way-font-color: var(--color-scorpion-2);
    --separator-font-color: var(--color-black);
    --list-separator-background-color: var(--color-celery);
    /* ------ END : Footer variables -----*/

    /* ------ START : Pagination variables -----*/
    --other-page-numbers-font-color: var(--color-maya-blue);
    --current-page-number-font-color: var(--color-orient);
    --page-limit-font-backgound-color: var(--color-periwinkle);
    --page-limit-border-color: var(--color-athens-gray-2);
    --page-limit-font-color: var(--color-white);
    /* ------ END : Pagination variables -----*/

    /* ------ START : Widget css variables -----*/
    --manage-more-views-border-color: var(--color-pasific-bleu);
    --manage-more-views-hover-border-color: var(--color-orient);
    /* ------ END : Widget css variables -----*/

    /* ------ START : Widget pagination variables -----*/
    --widget-pagination-current-background-color: var(--color-pasific-bleu);
    --widget-pagination-current-font-color: var(--color-white);
    --widget-pagination-current-border-color: var(--widget-pagination-current-background-color);
    --widget-pagination-anchor-border-color: var(--color-pasific-bleu);
    --widget-pagination-anchor-font-color: var(--widget-pagination-anchor-border-color);
    /* ------ END : Widget pagination variables -----*/

    /* ------ START : Warning variables -----*/
    --error-message-background-color: var(--color-lavender-blush);
    --error-message-font-color: var(--color-danger);
    --error-message-border-color: var(--error-message-font-color);
    --success-message-background-color: var(--color-pistachio-rgba);
    --success-message-font-color: var(--color-olive);
    --success-message-border-color: var(--success-message-font-color);
    --message-field-error-font-color: var(--error-message-font-color);
    --message-field-success2-font-color: var(--success-message-font-color);
    --up-to-date-background-color: var(--color-blue-romance);
    --up-to-date-border-color: var(--color-norway);
    --update-secu-background-color: var(--color-fantasy);
    --update-secu-border-color: var(--color-deep-blush-2);
    --update-background-color: var(--color-half-dutch-white);
    --update-border-color: var(--color-lightning-yellow);
    --update-error-background-color: var(--color-bittersweet);
    --update-error-border-color: var(--color-silver-chalice-2);
    --update-read-me-output-background-color: var(--color-white);
    --update-read-me-output-border-color: var(--color-silver-chalice-2);
    --up-to-date-color:var(--color-white);
    /* ------ END : Warning variables -----*/

    /* ------ START : Arbo ACL variables -----*/
    --arbo-a-bg-grey-background-color: var(--color-silver);
    --arbo-a-bg-grey-mid-background-color: var(--color-very-light-grey);
    --arbo-a-bg-grey-light-background-color: var(--color-alto);
    --arbo-a-bg-grey-white-background-color: var(--color-gallery);
    /* ------ END : Arbo ACL variables -----*/

    /* ------ START : Search options variables -----*/
    --search-input-host-background-color: var(--color-white);
    --search-input-active-host-background-color: var(--color-tickle-me-pink);
    --search-input-service-background-color: var(--search-input-host-background-color);
    --search-input-active-service-background-color: var(--search-input-active-host-background-color);
    --search-input-active-background-color: var(--search-input-active-host-background-color);
    --search-input-found-background-color: var(--color-olivine);
    /* ------ END : Search options variables -----*/

    /* ------ START : Log options variables -----*/
    --ajax-option-background-color: var(--color-alabaster);
    --ajax-option-font-color: var(--color-dove-gray);
    --ajax-option-border-bottom-color: var(--color-white-lilac);
    --ajax-option-border-top-color: var(--ajax-option-border-bottom-color);
    --ajax-option-tr-first-child-background-color: var(--color-white);
    --ajax-option-tr-first-child-font-color: var(--color-grey-chateau);
    --ajax-option-h4-font-color: var(--color-surfie-green);
    /* ------ END : Log options variables -----*/

    /* ------ START : Tactical overview variables -----*/
    --sub-table-tactical-td-background-color: var(--color-mercury);
    --sub-tactical-DT-background-color: var(--color-alto-2);
    --sub-tactical-DT-border-color: var(--color-white);
    --tactical-light-table-td-border-color: var(--color-silver-chalice-2);
    --tactical-light-header-background-color: var(--color-athens-gray-3);
    --tactical-light-header-font-color: var(--color-dove-gray);
    --tac-warn-background-color: var(--color-super-nova);
    --tac-pb-background-color: var(--color-pending);
    --host-service-stats-unhandeled-problems-border-color: var(--color-very-light-grey);
    --tactikal-div-border-color: var(--host-service-stats-unhandeled-problems-border-color);
    /* ------ END : Tactical overview variables -----*/

    /* ------ START : Line alternate variables -----*/
    --row-disabled-background-color: var(--color-athens-gray-4);
    --list-table-small-arg-anchor-font-color: var(--color-dove-gray);
    --list-lvl-3-border-bottom-color: var(--color-white);
    --list-lvl-3-th-font-color: var(--color-aluminium);
    /* ------ END : Line alternate variables -----*/

    /* ------ START : Info Bulles variables -----*/
    --warn-background-color: var(--color-orange);
    --warn-font-color: var(--color-white);
    --bulle-dash-tab-td-background-color: var(--color-mischka);
    --warn-border-color: var(--warn-font-color);
    --bulle-dash-tab-td-border-color: var(--warn-font-color);
    --list-header-popup-background-color: var(--warn-font-color);
    --list-header-popup-border-left-color: var(--color-red);
    --list-header-popup-td-border-color: var(--list-header-popup-border-left-color);
    /* ------ END : Info Bulles variables -----*/

    /* ------ START : Toolbar variables -----*/
    --toolbar-td-select-top-action-border-color: var(--color-ghost);
    --checkbox-anchor-info-bulle-hover-table-border-color: var(--color-gray);
    --menu-3-logout-anchor-font-color: var(--color-dove-gray);
    --image-volante-background-color: var(--color-white);
    --image-volante-border-color: var(--color-iron);
    --popup-volante-background-color: var(--image-volante-background-color);
    --popup-volante-border-color: var(--color-aluminium-2);
    /* ------ END : Toolbar variables -----*/

    /* ------ START : Clone element variables -----*/
    --clone-placeholder-border-color: var(--color-very-light-grey);
    /* ------ END : Clone element variables -----*/

    /* ------ START : Reporting 2015 variables -----*/
    --form-period-submit-font-color: var(--color-white);
    --form-period-submit-background-color: var(--color-apple);
    --form-period-submit-border-color: var(--color-forest-green);
    --form-period-select-border-color: var(--color-silver);
    --td-list-col-header-left-select-border-color: var(--color-silver);
    --info-message-background-color: var(--color-iris-blue);
    --info-message-font-color: var(--color-white);
    --info-message-border-color: var(--color-white);
    --info-message-before-border-left-color: transparent;
    --info-message-before-border-right-color: var(--info-message-before-border-left-color);
    --info-message-before-border-bottom-color: var(--info-message-background-color);
    /* ------ END : Reporting 2015 variables -----*/

    /* ------ START : popin variables -----*/
    --centreon-popin-background-color: var(--color-gallery-2);
    --centreon-popin-border-color: var(--color-aluminium-2);
    --centreon-popin-overlay-background-color: var(--color-black);
    --popin-wrapper-font-color: var(--color-martar);
    --cbox-content-border-color: var(--color-aluminium-2);
    /* ------ END : popin variables -----*/

    /* ------ START : ColorBox variables -----*/
    --cbox-dimensions-background-color: none;
    /* ------ END : ColorBox variables -----*/

    /* ------ START : Fullscreen icon variables -----*/
    --fullscreen-icon-background-color: var(--color-scarpa-flow);
    /* ------ END : Fullscreen icon variables -----*/

    /* ------ START : List links variables -----*/
    --list-link-td-border-bottom-color: var(--color-iron);
    --list-link-td-anchor-font-color: var(--color-orient);
    --list-link-td-anchor-hover-font-color: var(--color-maya-blue);
    /* ------ END : List links variables -----*/

    /* ------ START : Dividers variables -----*/
    --horizontal-divider-background-color: var(--color-white-lilac);
    /* ------ END : Dividers variables -----*/

    /* ------ START : Graph pagination variables -----*/
    --paginator-p-font-color: var(--color-scarpa-flow);
    --paginator-p-background-color: var(--color-white-lilac);
    --paginator-p-over-background-color: var(--color-olive);
    --paginator-p-selected-background-color: var(--color-pistachio);
    --macro-legend-background-color: var(--color-white);
    --macro-legend-font-color: var(--color-aluminium);
    /* ------ END : Graph pagination variables -----*/

    /* ------ START : JQuery tabs variables -----*/
    --tabs-periods-background-color: var(--color-white);
    --tabs-periods-border-color: var(--color-white-lilac);
    --ui-widget-content-background-color: transparent;
    --ui-widget-header-background-color: var(--color-white);
    --ui-widget-header-border-bottom-color: var(--color-white-lilac);
    /* ------ END : JQuery tabs variables -----*/

    /* ------ START : JQuery datepicker variables -----*/
    --ui-date-time-picker-background-color: var(--color-white);
    --ui-datepicker-title-font-color: var(--color-orient);
    --ui-td-date-time-picker-anchor-span-border-color: var(--color-iron);
    --ui-td-date-time-picker-anchor-span-background-color: var(--color-athens-gray-5);
    --ui-td-date-time-picker-anchor-span-font-color: var(--color-pasific-bleu);
    --ui-timepicker-minute-cell-border-color: var(--color-french-gray);
    --ui-timepicker-minute-cell-background-color: var(--color-french-gray-2);
    --ui-timepicker-minute-cell-font-color: var(--color-pasific-bleu);
    --ui-datepicker-time-next-prev-state-disabled-hover-background-color: var(--color-aluminium);
    --ui-datepicker-time-next-prev-state-hover-background-color: var(--color-maya-blue);
    /* ------ END : JQuery datepicker variables -----*/

    /* ------ START : Bloc element variables -----*/
    --elem-bloc-border-color: var(--color-iron);
    --elem-bloc-not-advanced-form-service-label-before-background-color: var(--color-white);
    --elem-bloc-not-advanced-form-service-label-before-border-color: var(--color-ghost);
    --included-checkbox-checked-before-font-color: var(--color-white);
    --included-checkbox-checked-before-background-color: var(--color-success);
    --included-checkbox-checked-before-border-color: var(--included-checkbox-checked-before-background-color);
    --excluded-checkbox-checked-before-font-color: var(--color-white);
    --excluded-checkbox-checked-before-background-color: var(--color-danger);
    --excluded-checkbox-checked-before-border-color: var(--excluded-checkbox-checked-before-background-color);
    --checkbox-tpl-service-hover-background-color: var(--color-white-lilac);
    --edit-bt-background-color: var(--color-pasific-bleu);
    --edit-bt-disabled-background-color: var(--color-iron);
    --preview-icon-border-color: var(--color-robins-egg-blue);
    --md-preview-border-color: var(--color-silver);
    --md-preview-background-color: var(--color-white);
    /* ------ END : Bloc element variables -----*/

    /* ------ START : Vertical tabs variables -----*/
    --vertical-tabs-widget-content-background-color: none;
    --vertical-tabs-widget-content-border-color: none;
    --ui-vertical-tabs-nav-background-color: transparent;
    --ui-vertical-tabs-state-default-background-color: var(--color-white);
    --vertical-tabs-lang-wrapper-before-background-color: var(--color-white-lilac);
    --vertical-tabs-lang-abr-font-color: var(--color-persian-green);
    /* ------ END : Vertical tabs variables -----*/

    /* ------ START : Views performance variables -----*/
    --graph-border-color: var(--color-periwinkle);
    --graph-title-background-color: var(--color-periwinkle-gray);
    --graph-region-downtime-fill-color: var(--color-mauve);
    --graph-region-ack-fill-color: var(--color-dark-goldenrod);
    --chart-legend-font-color: var(--color-martar);
    --ico-col-active-border-color: var(--color-maya-blue);
    /* ------ END : Views performance variables -----*/

    /* ------ START : Platform status variables -----*/
    --c3-path-stroke-color: var(--color-black);
    --c3-text-fill-color: var(--color-black);
    /* ------ END : Platform status variables -----*/

    /* ------ START : Refresh component for chart variables -----*/
    --refresh-border-color: var(--color-aluminium);
    --refresh-list-border-color: var(--refresh-border-color);
    --refresh-list-background-color: var(--refresh-border-color);
    --refresh-list-li-hover-background-color: var(--color-cornflower-blue);
    --broker-stats-lv2-title-background-color: var(--color-white-lilac);
    --broker-stats-lv2-title-hover-background-color: var(--color-iron);
    --broker-stats-title-background-color: var(--color-wild-sand);
    --broker-stats-title-hover-background-color: var(--color-white-lilac);
    --broker-stats-title-border-bottom-color: var(--color-white-lilac);
    --broker-stats-title-border-top-color: var(--broker-stats-title-border-bottom-color);
    --expand-border-color: var(--color-grey-chateau);
    --broker-stats-info-name-font-color: var(--color-sapphire);
    --broker-stats-loaded-font-color: var(--color-success);
    /* ------ END : Refresh component for chart variables -----*/

    /* ------ START : Generation page variables -----*/
    --ui-progress-bar-value-background-color: var(--color-success);
    --installation-content-accordion-background-color: var(--color-alto-3);
    --installation-content-accordion-font-color: var(--color-charcoal);
    --installation-content-accordion-border-color: none;
    --content-wrapper-not-2nth-child-section-background-color: var(--color-alto-3);
    --accordion-hover-background-color: var(--color-silver-2);
    --portlet-header-input-background-color: var(--color-gallery-rgba);
    /* ------ END : Generation page variables -----*/

    /* ------ START : Configuration pollers action buttons variables -----*/
    --bt-poller-action-disabled-background-color: var(--color-silver-3);
    /* ------ END : Configuration pollers action buttons variables -----*/

    /* ------ START : Loading containers variables -----*/
    --loading-wrapper-background-color: var(--color-white-rgba-5);
    --keyframes-green1-from-fill-color: var(--color-sushi);
    --keyframes-green1-to-fill-color: var(--color-sulu);
    --keyframes-green2-from-fill-color: var(--color-chateau-green);
    --keyframes-green2-to-fill-color: var(--color-grannysmith-apple);
    --keyframes-green3-from-fill-color: var(--color-persian-green-3);
    --keyframes-green3-to-fill-color: var(--color-viking);
    --keyframes-blue1-from-fill-color: var(--color-cerulean);
    --keyframes-blue1-to-fill-color: var(--color-malibu-2);
    --keyframes-blue2-from-fill-color: var(--color-loch-mara);
    --keyframes-blue2-to-fill-color: var(--color-danube);
    --keyframes-blue3-from-fill-color: var(--color-loch-mara);
    --keyframes-blue3-to-fill-color: var(--color-danube);
    --color-1-fill-color: var(--color-sushi);
    --color-2-fill-color: var(--color-chateau-green);
    --color-3-fill-color: var(--color-persian-green-3);
    --color-4-fill-color: var(--color-cerulean);
    --color-5-fill-color: var(--color-loch-mara);
    --color-6-fill-color: var(--color-bayofmany);
    /* ------ END : Loading containers variables -----*/
    /* ------ START : Login variables -----*/
    --login-tab-background-color: var(--color-white);
    --login-tab-border-color: var(--color-iron);
    --message-background-color: var(--color-lavender-blush);
    --message-font-color: var(--color-danger);
    --message-border-color: var(--message-font-color);
    --btc-font-color: var(--color-white);
    --bt-info-disabled-background-color: var(--color-gray);
    --bt-group-input-font-color: var(--color-white);
    --link-label-font-color: var(--color-surfie-green);
    --input-select-border-color: var(--color-ghost);
    --link-td-font-color: var(--color-emperor);
    --bt-info-hover-not-disabled-background-color: var(--color-persian-green);
    --login-tab2-td-background-color: var(--color-athens-gray-3);
    --login-invit-cpy-font-color: var(--color-gray);
    /* ------ END : Login variables -----*/
    /* ------ START : Markdown css variables -----*/
    --md-preview-table-th-border-bottom-color: var(--color-silver);
    --md-preview-table-td-border-bottom-color: var(--color-alto);
    --md-preview-pre-background-color: var(--color-gallery);
    --md-preview-pre-border-color: var(--color-alto);
    --md-preview-pre-font-color: var(--color-charcoal);
    --md-preview-pre-webkit-box-shadow-color: var(--color-black-rgba-07);
    --md-preview-pre-code-background-color: var(--md-preview-pre-background-color);
    --md-preview-pre-code-border-color: none;
    --md-preview-code-background-color: var(--color-titan-white);
    --md-preview-code-font-color: var(--color-charcoal);
    --md-preview-code-border-color: var(--color-alto-4);
    --md-preview-anchor-font-color: var(--color-boston-blue);
    --md-preview-code-anchor-link-visited: var(--md-preview-anchor-font-color);
    --md-preview-h1-border-top-color: var(--color-silver-chalice);
    --md-preview-h2-border-top-color: var(--color-alto-5);
    --md-preview-hr-border-color: var(--color-alto);
    --md-preview-blockquote-border-left-color: var(--color-alto);
    --md-preview-blockquote-font-color: var(--color-martar);
    /* ------ END : Markdown css variables -----*/
    /* ------ START : JQuery UI variables -----*/
    --ui-selectable-helper-border-color: var(--color-black);
    --ui-icon-background-box-shadow-color: var(--color-very-light-grey);
    --ui-icon-background-border-color: none;
    --ui-spinner-input-background-color: none;
    --ui-spinner-input-border-color: none;
    --ui-spinner-input-font-color: inherit;
    --ui-tabs-panel-background-color: none;
    --ui-widget-ui-widget-content-border-color: var(--color-silver-4);
    --jquery-ui-widget-content-background-color: var(--color-white);
    --jquery-ui-widget-content-border-color: var(--color-alto);
    --jquery-ui-widget-content-font-color: var(--color-mine-shaft);
    --jquery-ui-widget-content-anchor-font-color: var(--jquery-ui-widget-content-font-color);
    --jquery-ui-widget-header-border-color: var(--jquery-ui-widget-content-border-color);
    --jquery-ui-widget-header-background-color: var(--color-mercury-2);
    --jquery-ui-widget-header-font-color: var(--jquery-ui-widget-content-font-color);
    --jquery-ui-widget-header-anchor-font-color: var(--jquery-ui-widget-content-font-color);
    --ui-icon-fill-color: var(--color-primary-dark);
    /* Interaction states variables */
    --ui-button-state-disabled-hovered-active-border-color: var(--color-silver-4);
    --ui-button-state-disabled-hovered-active-background-color: var(--color-wild-sand-2);
    --ui-button-state-disabled-hovered-active-font-color: var(--color-tundora);
    --ui-button-anchor-visited-font-color: var(--ui-button-state-disabled-hovered-active-font-color);
    --ui-button-state-hover-focus-border-color: var(--color-very-light-grey);
    --ui-button-state-hover-focus-background-color: var(--color-gallery-2);
    --ui-button-state-hover-focus-font-color: var(--color-mine-shaft-2);
    --ui-button-anchor-state-hover-focus-font-color: var(--ui-button-state-hover-focus-font-color);
    --ui-visual-focus-box-shadow-color: var(--color-danube-2);
    --ui-button-anchor-state-active-hover-border-color: var(--color-blue-ribon);
    --ui-button-anchor-state-active-hover-background-color: var(--color-azure-radiance);
    --ui-button-anchor-state-active-hover-font-color: var(--color-white);
    --jquery-ui-icon-background-color: var(--color-white);
    --jquery-ui-icon-border-color: var(--color-blue-ribon);
    --ui-state-active-anchor-visited-font-color: var(--color-white);
    --ui-state-highlight-border-color: var(--color-tacha);
    --ui-state-highlight-background-color: var(--color-witch-haze);
    --ui-state-highlight-font-color: var(--color-pacifika);
    --ui-state-checked-border-color: var(--color-tacha);
    --ui-state-checked-background-color: var(--color-witch-haze);
    --ui-state-highlight-anchor-font-color: var(--color-pacifika);
    --ui-state-error-font-color: var(--color-congo-brown);
    --ui-state-error-background-color: var(--color-cindrella);
    --ui-state-error-border-color: var(--color-wewak);
    --ui-state-error-anchor-font-color: var(--ui-state-error-font-color);
    --ui-state-error-text-font-color: var(--ui-state-error-font-color);
    /* Overlays variables */
    --ui-widget-overlay-background-color: var(--color-silver-chalice);
    --ui-widget-shadow-webkit-box-shadow-color: var(--color-dove-gray);
    --ui-widget-shadow-box-shadow-color: var(--ui-widget-shadow-webkit-box-shadow-color);
    /* Centreon jquery */
    /* Portlet style variables */
    --ui-sortable-placeholder-border-color: var(--color-black);
    --ui-button-focus-font-color: var(--color-white);
    --ui-tabs-nav-li-anchor-background-color: var(--color-pasific-bleu);
    --ui-tabs-nav-li-background-color: var(--ui-tabs-nav-li-anchor-background-color);
    --ui-state-processing-anchor-background-color: none;
    --ui-state-processing-background-color: none;
    /* ------ END : JQuery UI variables -----*/
    /* ------ START : New Icons variables -----*/
    --help-tool-tip-icon-fill-color: var(--color-primary-dark);
    /* ------ END : New Icons variables -----*/
}
