/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
}

.main-content {
  height: 100%;
  width: 100%;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  transition: all 0.3s;
  position: relative;
}

.fullscreen-wrapper {
  overflow: hidden;
  flex-grow: 1;
}

.react-page {
  overflow: auto;
  height: calc(100vh - 82px);
}