@font-face {
  font-family: "Roboto Light";
  src: url('../../fonts/fonts-generated/roboto-light-webfont.woff2') format('woff2'),
       url('../../fonts/fonts-generated/roboto-light-webfont.woff') format('woff'),
       url('../../fonts/fonts-generated/roboto-light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto Regular";
  src: url('../../fonts/fonts-generated/roboto-regular-webfont.woff2') format('woff2'),
       url('../../fonts/fonts-generated/roboto-regular-webfont.woff') format('woff'),
       url('../../fonts/fonts-generated/roboto-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto Medium";
  src: url('../../fonts/fonts-generated/roboto-medium-webfont.woff2') format('woff2'),
       url('../../fonts/fonts-generated/roboto-medium-webfont.woff') format('woff'),
       url('../../fonts/fonts-generated/roboto-medium-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto Bold";
  src: url('../../fonts/fonts-generated/roboto-bold-webfont.woff2') format('woff2'),
       url('../../fonts/fonts-generated/roboto-bold-webfont.woff') format('woff'),
       url('../../fonts/fonts-generated/roboto-bold-webfont.ttf') format('truetype');
}