.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 46px;
  padding: 0 100px 0 20px;
  box-sizing: border-box;
  background-color: #232f39;
  height: 30px;
  transition: all .2s;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    span {
      color: $white-color;
      font-family: $primary-font-light;
      font-size: 0.75rem;
    }
  }
  &-list {
    &-item {
      display: inline-block;
      padding-right: 40px;
      position: relative;
      font-family: $primary-font-regular;
      font-size: 0.75rem;
      &:after {
        position: absolute;
        right: 20px;
        content: "|";
        color: $white-color;
      }
      a {
        text-decoration: none;
        color: $white-color;
      }
      &:last-child {
        padding: 0;
        &:after {
          content: none;
        }
      }
    }
  }
}
.sidebar.active + #content .footer {
  left: 160px;
}
.full-screen {
  position: fixed;
  right: 10px;
  border-radius: 4px;
  background: url("./img/icons/icon-full-screen.png") no-repeat center center;
  background-size: cover;
  cursor: pointer;
  z-index: 99;
  bottom: 14px;
  width: 38px;
  height: 32px;
  display: inline-block;
}