.header {
  &-top {
    background-color: #E7E7E8;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 4px 12px 1px;
    &-icons {
      display: flex;
      align-items: center;
    }
    &-logo {
      width: 16%;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    &-icons {
      display: flex;
      align-items: center;
      width: 84%;
      padding-left: 9px;
      box-sizing: border-box;
    }
    .round {
      border-radius: 50%;
      display: block;
      text-align: center;
      &-big {
        width: 46px;
        height: 46px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        &.green {
          background-color: #88b917;
          &:hover {
            background-color: rgb(159, 199, 69);
          }
        }
        &.red {
          background-color: #e00b3d;
          &:hover {
            background-color: #ff2c5b;
          }
        }
        span {
          padding: 14px 0;
        }
      }
      &-small {
        width: 40px;
        height: 40px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        &.gray-dark{
          background-color: #818285;
          &:hover {
            background-color: #a6a7a6
          }
        }
        &.gray-light {
          background-color: #bcbdc0;
          &:hover {
            background-color: #95969a;
          }
        }
        &.orange {
          background-color: #ff9a13;
          &:hover {
            background-color: #ffb749;
          }
        }
        &.white {
          background-color: #fff;
          margin-left: 10px;
          font-family: 'Open Sans', Arial, Tahoma, Helvetica, Sans-Serif;
          font-weight: 500;
          transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          position: relative;
          &:hover {
            background-color: rgba(0, 0, 0, 0.08);
          }
        }
        .number {
          padding: 12px 0;
        }
      }
      .number {
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        outline: none;
        display: block;
        > span {
          display: block;
        }
      }
    }
    .wrap {
      &-left {
        flex: 0 1 30%;
        &-icon {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          display: inline-block;
          cursor: pointer;
          vertical-align: middle;
          margin: 0 2px;
          &:hover {
            background-color: rgba(255, 255, 255, 0.5);
          }
          &.active {
            background-color: #fff; 
          }
          .iconmoon {
            padding: 9px 0;
          }
        }
      }
      &-middle {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        &-icons {
          display: inline-block;
          margin-left: 19px;
        }
        &-icon {
          display: inline-block;
          vertical-align: middle;
          margin: 3px 3.5px;
          font-family: 'Open Sans', Arial, Tahoma, Helvetica, Sans-Serif;
          font-weight: 500;
          position: relative;
          .iconmoon {
            display: block;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            &:before {
              font-size: 34px;
              cursor: pointer;
            }
          }
        }
        &-left {
          &:first-child {
            margin-right: 31px;
          }
          .wrap-middle-icon:first-child {
            margin-right: 9px;
          }
        }

      }
      &-right {
        display: flex;
        width: 20%;
        justify-content: flex-end;
        &-date {
          color: #81828a;
          font-size: 14px;
          font-family: 'Open Sans', Arial, Tahoma, Helvetica, Sans-Serif;
          font-weight: 500;
          span {
            display: block;
          }
        }
        &-time {
          padding-right: 7px;
          color: #76777f;
          font-size: 24px;
          line-height: 22px;
          span {
            display: block;
          }
        }
      }
    }
  }
  &-bottom {
    background-color: rgb(43, 158, 147);
    .nav {
      &-items {
        margin: 0;
        padding: 0;
      }
      &-item {
        display: inline-block;
        position: relative;
        &:hover {
          background-color: rgba(0, 0, 0, 0.08);
          .submenu {
            display: block;
          }
        }
        &-link {
          cursor: pointer;
          padding: 7px 9px;
          color: #ffffff;
          text-decoration: none;
          font-family: 'Open Sans', Arial, Tahoma, Helvetica, Sans-Serif;
          font-weight: 500;
          display: block;
          font-size: 14px;
          line-height: 1.4em;
          text-transform: lowercase;
        }
      }
    }
  }
  .submenu {
    display: none;
    position: absolute;
    left: 9px;
    top: 100%;
    background-color: #fff;
    border: 1px solid #e7e7e8;
    padding: 10px;
    border-radius: 2px;
    z-index: 99;
    &-inner {
      display: flex;
    }
    &-items {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        width: 100%;
        width: max-content;
        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.08);
        }
      }
      a {
        color: rgba(0, 0, 0, 0.87);
        font-size: 0.875rem;
        font-weight: 400;
        font-family: 'Open Sans', Arial, Tahoma, Helvetica, Sans-Serif;
        line-height: 1.46429em;
        display: block;
        padding: 6px 12px;
        text-decoration: none;
      }
    }
    &-title {
      color: #818285;
      font-size: 1rem;
      font-weight: 400;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.5em;
      margin-bottom: 0.35em;
      margin-top: 0;
      width: max-content;
    }
    &-top {
      position: absolute;
      left: 0;
      background-color: #fff;
      padding: 14px;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
      min-width: 180px;
      z-index: 9;
      border-radius: 4px;
      box-sizing: border-box;
      display: none;
      text-align: left;
      &.submenu-active {
        display: block;
      }
      &.profile {
        left: auto;
        right: 0;
        min-width: 257px;
        text-align: left;
        .btn {
          float: right;
          margin-top: 10px;
        }
        .submenu-top-bookmark-link {
          margin: 15px 9px;
          width: 62%;
          border: 1px solid #bcbdc0;
          padding: 8px 6px;
          border-radius: 3px;
          outline: none;
        }
        .submenu-top-item-link{
          &:hover {
            text-decoration: none;
          }
        }
        .submenu-top-user {
          &-name {
            display: block;
            margin-bottom: 10px;
          }
          &-edit {
            float: right;
            color: rgb(0, 0, 238) !important;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.54);
            &:hover {
              text-decoration: underline;
            }
          }
          &-type {
            color: rgba(0, 0, 0, 0.54);
            font-size: 0.75rem;
            font-weight: 400;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            line-height: 1.375em;
            margin-left: 5px;
          }
        }
        .iconmoon {
          display: inline-block;
          vertical-align: middle;
          padding-top: 0;
          cursor: pointer;
          padding: 9px;
          border-radius: 50%;
          &:hover {
            background-color: rgba(136, 185, 23, 0.08);
          }
        }
        .button-wrap {
          border-top: 1px solid #d1d2d4;
          padding-right: 16px;
          &:after {
            content: "";
            clear: both;
            display: table;
          }
        }
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      &-item {
        &-link {
          padding: 10px 16px 17px;
          display: block;
          color: rgba(0, 0, 0, 0.87);
          font-size: 0.875rem;
          font-weight: 400;
          font-family: 'Open Sans', Arial, Tahoma, Helvetica, Sans-Serif;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        &:first-child {
          .submenu-top-item-link {
            border-bottom: 1px solid #d1d2d4;
          }
        }
      }
      &-button {
        margin: 10px 16px;
      }
      &-count {
        float: right;
      }
      &.host {
        min-width: 245px;
      }
      &.services {
        min-width: 255px;
      }
    }
  }
  .custom-icon {
    top: 21px;
    left: 0px;
    width: 12px;
    height: 12px;
    border: 2px solid #E6E6E7;
    position: absolute;
    border-radius: 20px;
    background-color: #2AD1D4;
  }
  .wrap-right-icon.white {
    position: relative;
    > span.profile {
      padding: 12px 0;
      font-weight: 700;
      font-family: 'Open Sans', Arial, Tahoma, Helvetica, Sans-Serif !important;
      display: block;
      cursor: pointer;
    }
  }
  .dot-colored {
    position: relative;
    padding-left: 15px;
    &:before {
      position: absolute;
      content: '';
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
    &.red {
      &:before {
        background-color: rgb(224, 11, 61);
      }
    }
    &.gray {
      &:before {
        background-color: rgb(129, 130, 133);
      }
    }
    &.green {
      &:before {
        background-color: rgb(136, 185, 23);
      }
    }
    &.blue {
      &:before {
        background-color: rgb(42, 209, 212);
      }
    }
    &.orange {
      &:before {
        background-color: #ff9a13;
      }
    }
  }
}