.mb-2 {
  margin-bottom: 20px;
}
.list-unstyled {
  // list-style: none;
  padding-left: 0;
  margin: 0;
}

// Opacity
.half-opacity {
  opacity: .5;
}

.hidden {
  display: none!important;
}

.hidden-input {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  width: 0px;
  height: 0px;
  top: -100px;
}