@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot');
  src:  url('./fonts/icomoon.eot') format('embedded-opentype'),
    url('./fonts/icomoon.ttf') format('truetype'),
    url('./fonts/icomoon.woff') format('woff'),
    url('./fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-home {
  background: url("./img/icons/home.svg") no-repeat center center;
}
.icon-home:hover,
.menu-item.active .icon-home {
  background: url("./img/icons/home-hover.svg") no-repeat center center;
}

.icon-monitoring {
  background: url("./img/icons/monitoring.svg") no-repeat center center;
}
.icon-monitoring:hover,
.menu-item.active .icon-monitoring {
  background: url("./img/icons/monitoring-hover.svg") no-repeat center center;
}

.icon-reporting {
  background: url("./img/icons/reporting.svg") no-repeat center center;
}
.icon-reporting:hover,
.menu-item.active .icon-reporting {
  background: url("./img/icons/reporting-hover.svg") no-repeat center center;
}

.icon-configuration {
  background: url("./img/icons/settings.svg") no-repeat center center;
}
.icon-configuration:hover,
.menu-item.active .icon-configuration {
  background: url("./img/icons/settings-hover.svg") no-repeat center center;
}

.icon-administration {
  background: url("./img/icons/administration.svg") no-repeat center center;
}
.icon-administration:hover,
.menu-item.active .icon-administration {
  background: url("./img/icons/administration-hover.svg") no-repeat center center;
}

.icon-poller:before {
  content: "\e908";
  color: $white-color;
}

.icon-link:before {
  content: "\e906";
  color: #232f39;
}

.icon-clock:before {
  content: "\e901";
  color: #232f39;
}

.icon-database:before {
  content: "\e903";
  color: #232f39;
}

.icon-hosts:before {
  content: "\e905";
  color: $white-color;
}

.icon-services:before {
  content: "\e90a";
  color: $white-color;
}

.icon-user:before {
  content: "\e90b";
  color: $white-color;
}

.iconmoon {
  display: block;
  text-align: center;
  &:before {
    font-size: 24px;
  }
}