@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot');
  src:  url('./fonts/icomoon.eot') format('embedded-opentype'),
    url('./fonts/icomoon.ttf') format('truetype'),
    url('./fonts/icomoon.woff') format('woff'),
    url('./fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
  content: "\e902";
  color: #88b917;
}
.icon-administration:before {
  content: "\e900";
  color: #17387b;
}
.icon-configuration:before {
  content: "\e901";
  color: #319ed5;
}
.icon-host:before {
  content: "\e904";
  color: #A7A9AC;
}
.icon-host:hover:before {
  color: #D1D2D4;
}
.icon-monitoring:before {
  content: "\e905";
  color: #85b446;
}
.icon-poller:before {
  content: "\e906";
  color: rgb(136, 185, 23);
}
.icon-poller.warning:before {
  content: "\e906";
  color: #FF9A13;
}
.icon-poller.critical:before {
  content: "\e906";
  color: #E00B3D;
}
.icon-reporting:before {
  content: "\e907";
  color: #e4932c;
}
.icon-services:before {
  content: "\e908";
  color: #A7A9AC;
}
.icon-services:hover:before {
  color: #D1D2D4;
}
.icon-home:before {
  content: "\e903";
  color: #2b9e93;
}
.iconmoon {
  display: block;
  position: relative;
  text-align: center;
  &:before {
    font-size: 24px;
  }
}