@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot');
  src:  url('../../fonts/icomoon.eot') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf') format('truetype'),
    url('../../fonts/icomoon.woff') format('woff'),
    url('../../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-home {
  background: url("../../img/icons/home.svg") no-repeat center center;
  color: rgba(0, 159, 152, 1);
}
.icon-home:hover {
  background: url("../../img/icons/home-hover.svg") no-repeat center center;
  color: $white-color;
}

.icon-monitoring {
  background: url("../../img/icons/monitoring.svg") no-repeat center center;
  color: rgba(136, 189, 35, 1);
}
.icon-monitoring:hover {
  background: url("../../img/icons/monitoring-hover.svg") no-repeat center center;
  color: $white-color;
}

.icon-reporting {
  background: url("../../img/icons/reporting.svg") no-repeat center center;
  color: rgba(255, 162, 0, 1);
}
.icon-reporting:hover {
  background: url("../../img/icons/reporting-hover.svg") no-repeat center center;
  color: $white-color;
}

.icon-configuration {
  background: url("../../img/icons/settings.svg") no-repeat center center;
  color: rgba(0, 159, 233, 1);
}
.icon-configuration:hover {
  background: url("../../img/icons/settings-hover.svg") no-repeat center center;
  color: $white-color;
}

.icon-administration {
  background: url("../../img/icons/administration.svg") no-repeat center center;
  color: rgba(43, 45,132, 1);
}
.icon-administration:hover {
  background: url("../../img/icons/administration-hover.svg") no-repeat center center;
  color: $white-color;
}

.icon-poller:before {
  content: "\e908";
  color: $white-color;
}

.icon-link:before {
  content: "\e906";
  color: #232f39;
}

.icon-clock:before {
  content: "\e901";
  color: #232f39;
}

.icon-database:before {
  content: "\e903";
  color: #232f39;
}

.icon-hosts:before {
  content: "\e905";
  color: $white-color;
}

.icon-services:before {
  content: "\e90a";
  color: $white-color;
}

.icon-user:before {
  content: "\e90b";
  color: $white-color;
}

.iconmoon {
  display: block;
  text-align: center;
  &:before {
    font-size: 24px;
  }
}
