
@import "./variables";

@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot');
  src:  url('../../fonts/icomoon.eot') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf') format('truetype'),
    url('../../fonts/icomoon.woff') format('woff'),
    url('../../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-home:before {
  content: "\e904";
  color: rgba(0, 159, 152, 1);
}
.icon-home:hover:before {
  content: "\e904";
  color: $white-color;
}

.icon-monitoring:before {
  content: "\e907";
  color: rgba(136, 189, 35, 1);
}
.icon-monitoring:hover:before {
  content: "\e907";
  color: $white-color;
}

.icon-reporting:before {
  content: "\e909";
  color: rgba(255, 162, 0, 1);
}
.icon-reporting:hover:before {
  content: "\e909";
  color: $white-color;
}

.icon-configuration:before {
  content: "\e902";
  color: rgba(0, 159, 233, 1);
}
.icon-configuration:hover:before {
  content: "\e902";
  color: $white-color;
}

.icon-administration:before {
  content: "\e900";
  color: rgba(43, 45,132, 1);
}
.icon-administration:hover:before {
  content: "\e900";
  color: $white-color;
}

.icon-poller:before {
  content: "\e908";
  color: $white-color;
}

.icon-link:before {
  content: "\e906";
  color: #232f39;
}

.icon-clock:before {
  content: "\e901";
  color: #232f39;
}

.icon-database:before {
  content: "\e903";
  color: #232f39;
}

.icon-hosts:before {
  content: "\e905";
  color: $white-color;
}

.icon-services:before {
  content: "\e90a";
  color: $white-color;
}

.icon-user:before {
  content: "\e90b";
  color: $white-color;
}

.icon-copy:before {
  content: "\e90d";
  color: rgba(255, 161, 37, 1);
  font-size: 19px;
}

.icon-copied:before {
  content: "\e90c";
  color: rgba(255, 161, 37, 1);
  font-size: 19px;
}

.iconmoon {
  display: block;
  text-align: center;
  &:before {
    font-size: 24px;
  }
}