@import "./variables";

.message {
  &-alert {
    background-color: #ffe6ec;
    border: 1px solid #e00b3d;
    color: #e00b3d;
    font-weight: bold;
    margin: 5px auto;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
    width: 30%;
    font-family: $primary-font-regular;
    font-size: 11px;
    box-sizing: border-box;
    margin-top: 15px;
  }
}