/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

.sidebar {
  min-width: 45px;
  max-width: 45px;
  text-align: center;
  background: #e0e0e0;
  transition: all 0.2s;
  .sidebar-logo {
    display: none;
  }
  .menu-item-name {
    display: none;
  }
  .collapsed-items {
    display: none;
  }
  .toggle-sidebar-wrap {
    width: 45px;
  }
  .toggle-sidebar {
    &-wrap {
      background: #fff;
      width: 45px;
      height: 30px;
      position: fixed;
      bottom: 0;
      transition: all .2s;
    }
    &-icon {
      background: url("./img/icons/aside-menu-toggle-arrow.png") no-repeat center center;
      transform: rotateY(180deg);
      height: 30px;
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      cursor: pointer;
      width: 100%;
      transition: all .2s;
    }
  }

  &.active {
    min-width: 160px;
    max-width: 160px;
    .sidebar-logo {
      display: block;
    }
    .sidebar-logo-mini {
      display: none;
    }
    .menu-item-name {
      display: inline-block;
    }
    .collapsed-items {
      display: block;
    }
    .toggle-sidebar-wrap {
      width: 160px;
    }
    .toggle-sidebar-icon {
      transform: none;
      background-position: 90% center;
    }
  }
  .sidebar-logo-mini {
    padding: 16px 11px;
    box-sizing: border-box;
    height: 51px;
  }
  &-logo {
    padding: 10px 12px;
    box-sizing: border-box;
    height: 51px;
    a {
      display: block;
    }
    &-image {
      max-width: 100%;
      height: auto;
    }
  }
  &.active {
    .dropdown-toggle::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
    }
  }
  .iconmoon {
    text-align: left;
    font-size: 0.625rem;
    color: #242f3b;
    font-weight: 300;
    padding: 7px 12px;
    display: block;
    &:hover {
      color: $white-color;
    }
    &:before {
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
    }
  }
  &-inner {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
  }
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

a {
  &.download {
    background: $white-color;
    color: #7386D5;
  }
  &.article {
    background: #6d7fcc;
    color: $white-color;
    &:hover {
      background: #6d7fcc;
      color: $white-color;
    }
  }
}
.menu {
  &-items {
    &.components {
      border-top: 1px solid $white-color;
      padding-bottom: 30px;
    }
  }
  &-item {
    &-link {
      border-bottom: 1px solid $white-color;
      text-align: left;
      text-decoration: none;
      display: block;
      position: relative;
      &:hover {
        color: $white-color;
      }
      i {
        margin-right: 10px;
      }
    }

    &:first-child {
      &.active {
        > span {
          background: $turquoise-centreon-primary;
        }
      }
      > span:hover {
        background: $turquoise-centreon-darken;
      }
      .collapsed-level-item {
        &.active {
          .collapsed-level-item-link {
            background: $turquoise-centreon-primary;
            color: $white-color;
          }
          
        }
        &:hover {
          .collapsed-level-item-link {
            background: $turquoise-centreon-darken;
            color: $white-color;
          }
        }
      }
    }

    &:nth-child(2) {
      &.active {
        > span {
          background: $lime-centreon-primary;
        }
      }
      > span:hover {
        background: $lime-centreon-darken;
      }
      .collapsed-level-item {
        &.active {
          .collapsed-level-item-link {
            background: $lime-centreon-primary;
            color: $white-color;
          }
        }
        &:hover {
          .collapsed-level-item-link {
            background: $lime-centreon-darken;
            color: $white-color;
          }
        }
      }
    }

    &:nth-child(3) {
      &.active {
        > span {
          background: $orange-centreon-primary;
        }
      }
      > span:hover {
        background: $orange-centreon-darken;
      }
      .collapsed-level-item {
        &.active {
          .collapsed-level-item-link {
            background: $orange-centreon-primary;
            color: $white-color;
          }
        }
        &:hover {
          .collapsed-level-item-link {
            background: $orange-centreon-darken;
            color: $white-color;
          }
        }
      }
    }

    &:nth-child(4) {
      &.active {
        > span {
          background: $lightblue-centreon-primary;
        }
      }
      > span:hover {
        background: $lightblue-centreon-darken;
      }
      .collapsed-level-item {
        &.active {
          .collapsed-level-item-link {
            background: $lightblue-centreon-primary;
            color: $white-color;
          }
        }
        &:hover {
          .collapsed-level-item-link {
            background: $lightblue-centreon-darken;
            color: $white-color;
          }
        }
      }
    }

    &:nth-child(5) {
      &.active {
        > span {
          background: $darkblue-centreon-primary;
        }
      }
      > span:hover {
        background: $darkblue-centreon-darken;
      }
      .collapsed-level-item {
        &.active {
          .collapsed-level-item-link {
            background: $darkblue-centreon-primary;
            color: $white-color;
          }
        }
        &:hover {
          .collapsed-level-item-link {
            background: $darkblue-centreon-darken;
            color: $white-color;
          }
        }
      }
    }

    &.active > span {
      color: $white-color;
      .iconmoon {
        color: $white-color;
        &:before {
          color: $white-color;
        }
      }
    }
    &-name {
      font-family: $primary-font-regular;
      font-size: 0.75rem;
      vertical-align: middle;
      position: absolute;
      left: 41px;
      transform: translateY(-50%);
      top: 50%;
    }
  }
}
.collapse {
  .collapsed-level {
    &-item {
      background-color: #f7f6f6;
      &-link {
        border-bottom: 1px solid #f7f7f7;
        text-align: left;
        text-decoration: none;
        font-size: 0.7rem;
        color: rgb(36,47,59);
        font-family: $primary-font-light;
        padding: 10px 10px 11px 47px;
        display: block;
        letter-spacing: -0.4px;
        cursor: pointer;
      }
    }
    &-title {
      color: $lightblue-centreon-primary;
      font-family: $primary-font-light;
      font-size: 0.7rem;
      background-color: $white-color;
      display: block;
      padding: 3px 10px 3px 47px;
      border-bottom: 1px solid #f7f7f7;
      text-align: left;
    }
  }
  .collapsed-item {
    .first-level {
      display: none;
    }
    .second-level {
      display: none;
    }
    &.active {
      .first-level {
        display: block;
      }
      > .collapsed-level-item-link {
        background-position: 26px -41px;
      }
    }
    &.active {
      .second-level {
        display: block;
      }
    }
    > .collapsed-level-item-link {
      background: url("./img/icons/aside-menu-arrows.png") no-repeat;
      background-position: 26px 5px;
      background-color: #f7f7f7;
      &.img-none {
        background: none;
        background-color: #f7f7f7;
      }
    }
  }
}
.collapsed-level {
  &-items {
    &.first-level {
      .collapsed-level-item {
        background-color: $white-color;
        .collapsed-level-item-link {
          padding: 8px 10px 8px 47px;
          // &:hover {
          //   color: $white-color;
          //   background-color: #0a78a5;
          // }
        }
      }
    }
  }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px;
  }
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar {
    &.active {
      margin-left: 0;
    }
    .sidebar-header h3, .CTAs {
      display: none;
    }
    .sidebar-header strong {
      display: block;
    }
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}