.tooltip {
  position: absolute;
  background-color: #232f39;
  color: white;
  min-width: 80px;
  z-index: 999;
  padding: 8px;
  font-family: 'Open Sans', Arial, Tahoma, Helvetica, sans-serif;
  font-size: 10px;
  border-radius: 3px;
  text-align: center;
  display: block;
  animation: 0.3s fadeIn;
  animation-fill-mode: forwards;
  opacity: 0;
  pointer-events: none;
  &.hidden {
    display: none;
  }
}
nav.sidebar.active + .tooltip {
  display: none;
}

@keyframes fadeIn {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}