/* Colors */

$primary-color: #f17420;

$secondary-light-color: #e5f5ff;      
$secondary-color: #228fc7;
$secondary-dark-color: #175690;

$white-color: #ffffff;
$gray-lightest-color: #eeeeee;
$gray-lighter-color: #e0e0e0;
$gray-light-color: #dedede;
$gray-color: #c4c4c4;
$gray-dark-color: #8E8E8E;
$gray-darker-color: #979797;
$gray-darkest-color: #515151;
$black-color: #000000;

$success-color: #20a11c;
$notification-color: #fffeec;
$info-color: #fff5ef;
$warning-color: #ffdce0;
$danger-color: #d0021b;

/* Fonts */
$primary-font: "Roboto", sans-serif;

$font-light: 300;
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 600;
$font-extra-bold: 700; 