/* Colors */
$white-color: #ffffff;
$black-color: #000000;

$lime-centreon-primary: #84BD00;
$green-centreon-primary: #43B02A;
$turquoise-centreon-primary: #00A499;
$lightblue-centreon-primary: #009FDF;
$blue-centreon-primary: #0072CE;
$darkblue-centreon-primary: #10069F;

$lime-centreon-darken: #597F00;
$green-centreon-darken: #27651A;
$turquoise-centreon-darken: #007F77;
$lightblue-centreon-darken: #005A7F;
$blue-centreon-darken: #064166;
$darkblue-centreon-darken: #09225C;

$success-color: #20a11c;
$notification-color: #fffeec;
$info-color: #fff5ef;
$warning-color: #ffdce0;
$danger-color: #d0021b;

/* Fonts */
$primary-font: "Roboto", sans-serif;

$font-light: 300;
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 600;
$font-extra-bold: 700; 