@import "../../styles/partials/mixins";

.main-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  .ball-grid-pulse {
    width: 100%;
  }
}

.loader {
  &-inner {
    @include clearfix();
    width: 100%;
    text-align: center;
    div {
      float: none;
      &:nth-child(1) {
        background-color: #007dc5;
      }
      &:nth-child(2){
        background-color: #00a7ed;
      }
      &:nth-child(3){
        background-color: #009f97;
      }
      &:nth-child(4){
        background-color: #87bd23;
      }
    }
  }
}