[global]
centreon_path=/srv/centreon

[db_centreon]
dsn="mysql:host=localhost;dbname=centreon"
username=centreon
password=centreon
profile=false

[db_storage]
dsn="mysql:host=localhost;dbname=centreon_storage"
username=centreon
password=centreon
profile=false

[loggers]
logger[]=file

[logger_file]
type=file
level=DEBUG
filename=/tmp/centreon.log
