/* input */

label, input[type="text"],input[type="number"], textarea {
    display: block;
    border: 0;
    outline: 0;
}

.CentreonForm input[type="text"],
.CentreonForm input[type="number"],
.CentreonForm input[type="mail"],
.CentreonForm textarea,
.CentreonForm .select2-container .select2-choice
{
    width: 100%;
    height: 40px;
    padding: 18px 12px 6px;
    outline: 0;
    border-radius: 3px;
    box-shadow: 2px 1px 1px #d1d2d4;
    border: 1px solid #d1d2d4;
}

.CentreonForm textarea {
    height: 6em;
    resize: none;
}
/*-- help  --*/

.CentreonForm cite {
//display: none;
    font-size: 70%;
    position: absolute;
    color: #0079ac;
    width: 60%;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    bottom: -3px;
    left: 2em;
}

/*-- Inheritance  --*/

.CentreonForm .inheritance {
    font-size: 80%;
    color: #58585a;
    position: absolute;
    bottom: 3px;
    right: 1.5em;
    width: 30%;
    text-align: right;
}

/*-- Label  --*/

label.floatLabel {
    font-size: 11px;
    position: absolute;
    top: 3px;
    left: 30px;
    color: #bcbdc0;
    font-weight: normal;
    opacity: 1;
    -webkit-transition: .333s ease top, .333s ease opacity;
    transition: .333s ease top, .333s ease opacity;
    z-index: 1;
}

.js-unhighlight-label label {
    color: #00ccbf;
}
.js-unhighlight-label input {
    color: #000;
}

.js-hide-label > label.floatLabel {
    opacity: 0;
    top: 1.5em;
}

.required:after {
     display: none;
 }
.required ~ span {
      position: absolute;
      left: 20px;
      top: 4px;
      color: #e00b3d;
      opacity : 0.6;
}

/* Buttons */

.buttonGroup {
    display: inline-block;
    z-index: 1;
    //position : absolute;
    top: 6px;
}
.buttonGroup .configuration-actions,
.buttonGroup #selected_option,
.buttonGroup #addToGroup
{
    float:left;
    position: relative;
}

.btnC {
    position: relative;
    line-height: 1.5;
    margin: 0 2px;
    border-radius: 3px;
    text-decoration: none;
//font-size: 75%;
    padding : 0 12px !important;
    height: 40px;
    vertical-align: middle;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 2px 1px 1px #d1d2d4;
}
.btnDefault {
    color: #e7e7e8;
    background-color: #e7e7e8;
}
.btnDefault:focus {
     outline: none;
 }
.btnDefault:hover {
     color: #e7e7e8;
     background-color: #a7a9ac;
     transition: all 0.3s ease;
 }

/* -- Success button -- */

.btnSuccess,{
    background-color: #88b917;
//box-shadow: 1px 2px 2px #88b917;
    color: white !important;
}

.btnDanger{
    background-color: #e00b3d;
    color: white;
}
.btn{
    color: white;
}

/* -- Info button -- */
.btnInfo{
    background-color: #b2ece8;
    box-shadow: 1px 2px 2px #00bfb3;
    color: #007f77;
}

/*---- Group of 2 Fields --- */
.inlineGroup {
    height: 40px;
    display: table;
}
.inlineGroup .Elem1 {
    display: table-cell;
    width: 100%;
    vertical-align: top;
}
.inlineGroup .Elem2 {
    display: table-cell;
    margin-left: 6px;
}
.inlineGroup button {
    float: right;
}

