:root {
    --body-background-color: #FFF;
    --body-font-color: #555;
    --list-table-anchors-font-color: #666666;
    --list-table-border-color: #BFD0E2;
    --list-lvl-1-background-color:#D5DFEB;
    --list-lvl-2-background-color:#CED3ED;
    --list-header-background:#CFEDF9;
    --list-sub-header-background-color:#A9C5F2;
    --list-one-background-color: #F8FDFF;
    --list-one-fix-background-color: var(--list-one-background-color);
    --list-one-hover-background-color: var(--list-header-background);
    --list-two-background-color: #F0FBFF;
    --list-two-fix-background-color: var(--list-two-background-color);
    --list-two-hover-background-color: var(--list-header-background);
    --list-three-background-color: #fada83;
    --list-three-hover-background-color: #bada83;
    --list-four-background-color: #fdc11e;
    --list-four-hover-background-color: #bdc11e;
    --list-up-background-color: #88b917;
    --list-up-hover-background-color: #B2A867;
    --list-down-background-color: #ffaec1;
    --list-down-hover-background-color: #e17790;
    --list-unreachable-background-color: #818285;
    --list-unreachable-hover-background-color: var(--list-unreachable-background-color);
    --list-downtime-background-color: #f1dfff;
    --list-downtime-hover-background-color: #e7c9ff;
    --list-ack-background-color: #fefc8e;
    --list-ack-hover-background-color: #fcf17f;
    --list-lvls-td-top-border-color: #AAAAAA;
    --list-lvls-td-left-border-color: var(--list-lvls-td-top-border-color);
    --list-lvls-td-bottom-border-color: var(--list-lvls-td-top-border-color);
    --list-lvls-td-right-border-color: var(--list-lvls-td-top-border-color);
    --tab-list-lvls-td-top-border-color: var(--list-lvls-td-top-border-color);
    --tab-list-lvls-td-left-border-color: var(--list-lvls-td-top-border-color);
    --tab-list-lvls-td-bottom-border-color: var(--list-lvls-td-top-border-color);
    --tab-list-lvls-td-right-border-color: var(--list-lvls-td-top-border-color);
    --lists-td-top-border-color: #D1DCEB;
    --lists-td-left-border-color: var(--lists-td-top-border-color);
    --lists-td-bottom-border-color: var(--lists-td-top-border-color);
    --lists-td-right-border-color: var(--lists-td-top-border-color);
    --tab-lists-td-top-border-color: var(--lists-td-top-border-color);
    --tab-lists-td-left-border-color: var(--lists-td-top-border-color);
    --tab-lists-td-bottom-border-color: var(--lists-td-top-border-color);
    --tab-lists-td-right-border-color: var(--lists-td-top-border-color);
    --list-header-border-top-color: var(--body-background-color);
    --list-header-border-left-color: var(--list-header-border-top-color);
    --list-footer-border-color: #AAAAEE;
    --input-font-color: var(--body-background-color);
    --input-background-color: #009FDF;
    --input-border-color: var(--input-background-color);
    --pagination-font-color: var(--body-background-color);
    --pagination-background-color: var(--list-table-border-color);
    --message-loading-font-color: blue;
    --message-is-loading-font-color: white;
    --message-is-loading-background-color: red;
    --toolbar-td-selectaction-top-anchor-font-color: #5E5E5E;
    --toolbar-td-selectaction-top-anchor-hover-font-color: #E8AB5C;
    --toolbar-table-bottom-border-color: var(--input-background-color);
    --a-b-border-color: var(--list-footer-border-color);
    --header-tab-container-bottom-border-color: var(--input-background-color);
    --main-nav-list-background-color: var(--input-background-color);
    --main-nav-list-border-color: var(--input-background-color);
    --main-nav-list-a-anchor-font-color: var(--input-background-color);
    --main-nav-list-b-anchor-font-color: #C1ECFF;
    /* Style.css variables */
    --menu3-anchor-hover-font-color: #E8AB5C;
    --menu3-background-color: #FFF;
    --date-font-color: #bcbdc0;
    --detail-chart-title-background-color:#cfedf9;
    /* ------ START : info box variables -----*/
    --info-box-border-color: #d1d2d4;
    --info-box-background-color: #f6f6f6;
    --info-box-h4-font-color: #818285;
    /* ------ END : info box variables -----*/
    /* ------ START : toggle wrapper variables -----*/
    --toggle-wrapper-background-color: #fff;
    --toggle-wrapper-border-color: #d1d2d4;
    /* ------ END : toggle wrapper variables -----*/
    /* ------ START : form header variables -----*/
    --table-form-header-font-color: #818285;
    --table-form-header-bottom-border-color: #d1d2d4;
    /* ------ END : form header variables -----*/
    /* ------ START : Tabs variables -----*/
    --tabs-header-top-border-color: #fff;
    --tabs-header-right-border-color: var(--tabs-header-top-border-color);
    --tabs-header-left-border-color: var(--tabs-header-top-border-color);
    --global-view-ui-widget-content-border-color: none;
    --global-view-ui-widget-content-background-color: none;
    --global-view-ui-border-color: none;
    --ui-background-color: #fff;
    --ui-anchor-state-default-font-color: #ffffff;
    --ui-anchor-state-active-visited-font-color: #00a499;
    --global-view-ui-active-tabs-border-color: #00ccbf;
    --view-body-portlet-border-color: #e7e7e8;
    --view-body-ui-widget-header-font-color: #433f38;
    --view-body-ui-widget-header-background-color: #e7e7e8;
    /* ------ END : Tabs variables -----*/
    /* ------ START : Forms variables ------ */
    --form-table-list-header-background-color: #fff;
    --form-table-list-header-border-bottom-color: none;
    --form-table-list-header-h3-font-color: #597f00;
    --form-table-list-header-h4-font-color: #009fdf;
    --form-table-list-lvl-1-background-color: #fff;
    --form-table-list-lvl-1-col-name-background-color: #f4f4f4;
    --form-table-list-lvl-1-col-name-border-bottom-color: #e7e7e8;
    --form-table-list-lvl-1-col-name-border-top-color: var(--form-table-list-lvl-1-col-name-border-bottom-color);
    /* ------ END : Forms variables -----*/
    /* ------ START : Footer variables -----*/
    --footer-background-color: #e7e7e8;
    --tactical-light-table-font-color: #454545;
    --log-out-font-color: #525252;
    --path-way-font-color: #5a5a5a;
    --separator-font-color: #000000;
    --list-separator-background-color: #99CC55;
    /* ------ END : Footer variables -----*/
    /* ------ START : Pagination variables -----*/
    --other-page-numbers-font-color: #4ccaff;
    --current-page-number-font-color: #005a7f;
    --page-limit-font-backgound-color: #BFD0E2;
    --page-limit-border-color: #eff1f6;
    --page-limit-font-color: #fff;
    /* ------ END : Pagination variables -----*/
    /* ------ START : Widget css variables -----*/
    --manage-more-views-border-color: #009fdf;
    --manage-more-views-hover-border-color: #005a7f;
    /* ------ END : Widget css variables -----*/
    /* ------ START : Widget pagination variables -----*/
    --widget-pagination-current-background-color: #009fdf;
    --widget-pagination-current-font-color: #fff;
    --widget-pagination-current-border-color: var(--widget-pagination-current-background-color);
    --widget-pagination-anchor-border-color: #009fdf;
    --widget-pagination-anchor-font-color: var(--widget-pagination-anchor-border-color);
    /* ------ END : Widget pagination variables -----*/
    /* ------ START : Warning variables -----*/
    --error-message-background-color: #ffe6ec;
    --error-message-font-color: #e00b3d;
    --error-message-border-color: var(--error-message-font-color);
    --success-message-background-color: rgba(158, 199, 0, 0.49);
    --success-message-font-color: #597f00;
    --success-message-border-color: var(--success-message-font-color);
    --message-field-error-font-color: var(--error-message-font-color);
    --message-field-success2-font-color: var(--success-message-font-color);
    --up-to-date-background-color: #DFF9E0;
    --up-to-date-border-color: #ADC7A1;
    --update-secu-background-color: #F9EDED;
    --update-secu-border-color: #E3858C;
    --update-background-color: #FEF7DB;
    --update-border-color: #FDC11E;
    --update-error-background-color: #fa6f6c;
    --update-error-border-color: #AEAEAE;
    --update-read-me-output-background-color: #FFF;
    --update-read-me-output-border-color: #AEAEAE;
    /* ------ END : Warning variables -----*/
    /* ------ START : Arbo ACL variables -----*/
    --arbo-a-bg-grey-background-color: #BBBBBB;
    --arbo-a-bg-grey-mid-background-color: #CCCCCC;
    --arbo-a-bg-grey-light-background-color: #DDDDDD;
    --arbo-a-bg-grey-white-background-color: #EEEEEE;
    /* ------ END : Arbo ACL variables -----*/
    /* ------ START : Search options variables -----*/
    --search-input-host-background-color: #FFFFFF;
    --search-input-active-host-background-color: #F778A1;
    --search-input-service-background-color: var(--search-input-host-background-color);
    --search-input-active-service-background-color: var(--search-input-active-host-background-color);
    --search-input-active-background-color: var(--search-input-active-host-background-color);
    --search-input-found-background-color: #99C68E;
    /* ------ END : Search options variables -----*/
    /* ------ START : Log options variables -----*/
    --ajax-option-background-color: #f9f9f9;
    --ajax-option-font-color: #666;
    --ajax-option-border-bottom-color: #e7e7e8;
    --ajax-option-border-top-color: var(--ajax-option-border-bottom-color);
    --ajax-option-tr-first-child-background-color: #fff;
    --ajax-option-tr-first-child-font-color: #a7a9ac;
    --ajax-option-h4-font-color: #007f77;
    /* ------ END : Log options variables -----*/
    /* ------ START : Tactical overview variables -----*/
    --sub-table-tactical-td-background-color: #E6E6E6;
    --sub-tactical-DT-background-color: #D9D9D9;
    --sub-tactical-DT-border-color: #FFF;
    --tactical-light-table-td-border-color: #AEAEAE;
    --tactical-light-header-background-color: #eaeaee;
    --tactical-light-header-font-color: #666;
    --tac-warn-background-color: #F8C706;
    --tac-pb-background-color: #2AD1D4;
    --host-service-stats-unhandeled-problems-border-color: #CCC;
    --tactikal-div-border-color: var(--host-service-stats-unhandeled-problems-border-color);
    /* ------ END : Tactical overview variables -----*/
    /* ------ START : Line alternate variables -----*/
    --row-disabled-background-color: #f0f0f1;
    --list-table-small-arg-anchor-font-color: #666;
    --list-lvl-3-border-bottom-color: #fff;
    --list-lvl-3-th-font-color: #818285;
    /* ------ END : Line alternate variables -----*/
    /* ------ START : Info Bulles variables -----*/
    --warn-background-color: orange;
    --warn-font-color: #FFF;
    --bulle-dash-tab-td-background-color: #e0e0ea;
    --warn-border-color: var(--warn-font-color);
    --bulle-dash-tab-td-border-color: var(--warn-font-color);
    --list-header-popup-background-color: var(--warn-font-color);
    --list-header-popup-border-left-color: red;
    --list-header-popup-td-border-color: var(--list-header-popup-border-left-color);
    /* ------ END : Info Bulles variables -----*/
    /* ------ START : Toolbar variables -----*/
    --toolbar-td-select-top-action-border-color: #bcbdc0;
    --checkbox-anchor-info-bulle-hover-table-border-color: gray;
    --menu-3-logout-anchor-font-color: #666;
    --image-volante-background-color: #ffffff;
    --image-volante-border-color: #d1d2d4;
    --popup-volante-background-color: var(--image-volante-background-color);
    --popup-volante-border-color: #a7a8ac;
    /* ------ END : Toolbar variables -----*/
    /* ------ START : Clone element variables -----*/
    --clone-placeholder-border-color: #cccccc;
    /* ------ END : Clone element variables -----*/
    /* ------ START : Reporting 2015 variables -----*/
    --form-period-submit-font-color: white;
    --form-period-submit-background-color: #50ce36;
    --form-period-submit-border-color: #40a52b;
    --form-period-select-border-color: #BBBBBB;
    --td-list-col-header-left-select-border-color: #BBBBBB;
    --info-message-background-color: #00bfb3;
    --info-message-font-color: white;
    --info-message-border-color: #fff;
    --info-message-before-border-left-color: transparent;
    --info-message-before-border-right-color: var(--info-message-before-border-left-color);
    --info-message-before-border-bottom-color: var(--info-message-background-color);
    /* ------ END : Reporting 2015 variables -----*/
    /* ------ START : popin variables -----*/
    --centreon-popin-background-color: white;
    --centreon-popin-border-color: #a7a8ac;
    --centreon-popin-overlay-background-color: black;
    --popin-wrapper-font-color: #555;
    --cbox-content-border-color: #a7a8ac;
    /* ------ END : popin variables -----*/
    /* ------ START : ColorBox variables -----*/
    --cbox-dimensions-background-color: none;
    /* ------ END : ColorBox variables -----*/
    /* ------ START : Fullscreen icon variables -----*/
    --fullscreen-icon-background-color: #58585a;
    /* ------ END : Fullscreen icon variables -----*/
    /* ------ START : List links variables -----*/
    --list-link-td-border-bottom-color: #d1d2d4;
    --list-link-td-anchor-font-color: #005a7f;
    --list-link-td-anchor-hover-font-color: #4ccaff;
    /* ------ END : List links variables -----*/
    /* ------ START : Dividers variables -----*/
    --horizontal-divider-background-color: #e7e7e8;
    /* ------ END : Dividers variables -----*/
    /* ------ START : Graph pagination variables -----*/
    --paginator-p-font-color: #58585a;
    --paginator-p-background-color: #e7e7e8;
    --paginator-p-over-background-color: #597f00;
    --paginator-p-selected-background-color: #8ecc00;
    --macro-legend-background-color: #fff;
    --macro-legend-font-color: #818285;
    /* ------ END : Graph pagination variables -----*/
    /* ------ START : JQuery tabs variables -----*/
    --tabs-periods-background-color: #fff;
    --tabs-periods-border-color: #e7e7e8;
    --ui-widget-content-background-color: transparent;
    --ui-widget-header-background-color: #fff;
    --ui-widget-header-border-bottom-color: #e7e7e8;
    /* ------ END : JQuery tabs variables -----*/
    /* ------ START : JQuery datepicker variables -----*/
    --ui-date-time-picker-background-color: #fff;
    --ui-datepicker-title-font-color: #005a7f;
    --ui-td-date-time-picker-anchor-span-border-color: #d1d2d4;
    --ui-td-date-time-picker-anchor-span-background-color: #f3f3f4;
    --ui-td-date-time-picker-anchor-span-font-color: #009fdf;
    --ui-timepicker-minute-cell-border-color: #bdbdc2;
    --ui-timepicker-minute-cell-background-color: #cacace;
    --ui-timepicker-minute-cell-font-color: #009fdf;
    --ui-datepicker-time-next-prev-state-disabled-hover-background-color: #818285;
    --ui-datepicker-time-next-prev-state-hover-background-color: #4ccaff;
    /* ------ END : JQuery datepicker variables -----*/
    /* ------ START : Bloc element variables -----*/
    --elem-bloc-border-color: #D1D2D4;
    --elem-bloc-not-advanced-form-service-label-before-background-color: #fff;
    --elem-bloc-not-advanced-form-service-label-before-border-color: #bcbdc0;
    --included-checkbox-checked-before-font-color: #fff;
    --included-checkbox-checked-before-background-color: #88b917;
    --included-checkbox-checked-before-border-color: var(--included-checkbox-checked-before-background-color);
    --excluded-checkbox-checked-before-font-color: #fff;
    --excluded-checkbox-checked-before-background-color: #e00b3d;
    --excluded-checkbox-checked-before-border-color: var(--excluded-checkbox-checked-before-background-color);
    --checkbox-tpl-service-hover-background-color: #e7e7e8;
    --edit-bt-background-color: #009fdf;
    --edit-bt-disabled-background-color: #d1d2d4;
    --preview-icon-border-color: #00ccbf;
    --md-preview-border-color: rgb(187, 187, 187);
    --md-preview-background-color: #fff;
    /* ------ END : Bloc element variables -----*/
    /* ------ START : Vertical tabs variables -----*/
    --vertical-tabs-widget-content-background-color: none;
    --vertical-tabs-widget-content-border-color: none;
    --ui-vertical-tabs-nav-background-color: transparent;
    --ui-vertical-tabs-state-default-background-color: #fff;
    --vertical-tabs-lang-wrapper-before-background-color: #e7e7e8;
    --vertical-tabs-lang-abr-font-color: #00a499;
    /* ------ END : Vertical tabs variables -----*/
    /* ------ START : Views performance variables -----*/
    --graph-border-color: #bfd0e2;
    --graph-title-background-color: #cfedf9;
    --graph-region-downtime-fill-color: #cc99ff;
    --graph-region-ack-fill-color: #ae9500;
    --chart-legend-font-color: #555;
    --ico-col-active-border-color: #4ccaff;
    /* ------ END : Views performance variables -----*/
    /* ------ START : Refresh component for chart variables -----*/
    --refresh-border-color: #818285;
    --refresh-list-border-color: var(--refresh-border-color);
    --refresh-list-background-color: var(--refresh-border-color);
    --refresh-list-li-hover-background-color: #5897fb;
    --broker-stats-lv2-title-background-color: #e7e7e8;
    --broker-stats-lv2-title-hover-background-color: #d1d2d4;
    --broker-stats-title-background-color: #f4f4f4;
    --broker-stats-title-hover-background-color: #e7e7e8;
    --broker-stats-title-border-bottom-color: #e7e7e8;
    --broker-stats-title-border-top-color: var(--broker-stats-title-border-bottom-color);
    --expand-border-color: #a7a9ac;
    --broker-stats-info-name-font-color: #09225c;
    --broker-stats-loaded-font-color: #88b917;
    /* ------ END : Refresh component for chart variables -----*/
    /* ------ START : Generation page variables -----*/
    --ui-progress-bar-value-background-color: #88b917;
    --installation-content-accordion-background-color: #d6d5d5;
    --installation-content-accordion-font-color: #444;
    --installation-content-accordion-border-color: none;
    --content-wrapper-not-2nth-child-section-background-color: #d6d5d5;
    --accordion-hover-background-color: #c3c3c3;
    --portlet-header-input-background-color: rgba(239,239,239, 0.8);
    /* ------ END : Generation page variables -----*/
    /* ------ START : Configuration pollers action buttons variables -----*/
    --bt-poller-action-disabled-background-color: #cdcdcd;
    /* ------ END : Configuration pollers action buttons variables -----*/
    /* ------ START : Loading containers variables -----*/
    --loading-wrapper-background-color: rgba(255,255,255,0.5);
    --keyframes-green1-from-fill-color: #83c249;
    --keyframes-green1-to-fill-color: #ccf289;
    --keyframes-green2-from-fill-color: #34b24f;
    --keyframes-green2-to-fill-color: #93e888;
    --keyframes-green3-from-fill-color: #00ac9f;
    --keyframes-green3-to-fill-color: #4fd6ca;
    --keyframes-blue1-from-fill-color: #00aeec;
    --keyframes-blue1-to-fill-color: #7bd0fa;
    --keyframes-blue2-from-fill-color: #0078bb;
    --keyframes-blue2-to-fill-color: #60a6d7;
    --keyframes-blue3-from-fill-color: #0078bb;
    --keyframes-blue3-to-fill-color: #60a6d7;
    --color-1-fill-color: #83c249;
    --color-2-fill-color: #34b24f;
    --color-3-fill-color: #00ac9f;
    --color-4-fill-color: #00aeec;
    --color-5-fill-color: #0078bb;
    --color-6-fill-color: #29378e;
    /* ------ END : Loading containers variables -----*/
    /* ------ START : Login variables -----*/
    --login-tab-background-color: #fff;
    --login-tab-border-color: #d1d2d4;
    --message-background-color: #ffe6ec;
    --message-font-color: #e00b3d;
    --message-border-color: var(--message-font-color);
    --btc-font-color: #fff;
    --bt-success-background-color: #88b917;
    --bt-info-background-color: #00bfb3;
    --bt-info-disabled-background-color: gray;
    --bt-group-input-font-color: #fff;
    --link-label-font-color: #007f77;
    --input-select-border-color: #bcbdc0;
    --link-td-font-color: #525252;
    --bt-info-hover-not-disabled-background-color: #00a499;
    --login-tab2-td-background-color: #eaeaee;
    --login-invit-cpy-font-color: gray;
    /* ------ END : Login variables -----*/
    /* ------ START : Markdown css variables -----*/
    --md-preview-table-th-border-bottom-color: #bbb;
    --md-preview-table-td-border-bottom-color: #ddd;
    --md-preview-pre-background-color: #eee;
    --md-preview-pre-border-color: #ddd;
    --md-preview-pre-font-color: #444;
    --md-preview-pre-webkit-box-shadow-color: rgba(0, 0, 0, 0.07);
    --md-preview-pre-code-background-color: var(--md-preview-pre-background-color);
    --md-preview-pre-code-border-color: none;
    --md-preview-code-background-color: #f8f8ff;
    --md-preview-code-font-color: #444;
    --md-preview-code-border-color: #dedede;
    --md-preview-anchor-font-color: #4183c4;
    --md-preview-code-anchor-link-visited: var(--md-preview-anchor-font-color);
    --md-preview-h1-border-top-color: #aaa;
    --md-preview-h2-border-top-color: #e0e0e0;
    --md-preview-hr-border-color: #ddd;
    --md-preview-blockquote-border-left-color: #ddd;
    --md-preview-blockquote-font-color: #555;
    /* ------ END : Markdown css variables -----*/
    /* ------ START : JQuery UI variables -----*/
    --ui-selectable-helper-border-color: #black;
    --ui-icon-background-box-shadow-color: #ccc;
    --ui-icon-background-border-color: none;
    --ui-spinner-input-background-color: none;
    --ui-spinner-input-border-color: none;
    --ui-spinner-input-font-color: inherit;
    --ui-tabs-panel-background-color: none;
    --ui-widget-ui-widget-content-border-color: #c5c5c5;
    --jquery-ui-widget-content-background-color: #ffffff;
    --jquery-ui-widget-content-border-color: #dddddd;
    --jquery-ui-widget-content-font-color: #333333;
    --jquery-ui-widget-content-anchor-font-color: var(--jquery-ui-widget-content-font-color);
    --jquery-ui-widget-header-border-color: var(--jquery-ui-widget-content-border-color);
    --jquery-ui-widget-header-background-color: #e9e9e9;
    --jquery-ui-widget-header-font-color: var(--jquery-ui-widget-content-font-color);
    --jquery-ui-widget-header-anchor-font-color: var(--jquery-ui-widget-content-font-color);
    /* Interaction states variables */
    --ui-button-state-disabled-hovered-active-border-color: #c5c5c5;
    --ui-button-state-disabled-hovered-active-background-color: #f6f6f6;
    --ui-button-state-disabled-hovered-active-font-color: #454545;
    --ui-button-anchor-visited-font-color: var(--ui-button-state-disabled-hovered-active-font-color);
    --ui-button-state-hover-focus-border-color: #cccccc;
    --ui-button-state-hover-focus-background-color: #ededed;
    --ui-button-state-hover-focus-font-color: #2b2b2b;
    --ui-button-anchor-state-hover-focus-font-color: var(--ui-button-state-hover-focus-font-color);
    --ui-visual-focus-box-shadow-color: rgb(94, 158, 214);
    --ui-button-anchor-state-active-hover-border-color: #003eff;
    --ui-button-anchor-state-active-hover-background-color: #007fff;
    --ui-button-anchor-state-active-hover-font-color: #ffffff;
    --jquery-ui-icon-background-color: #ffffff;
    --jquery-ui-icon-border-color: #003eff;
    --ui-state-active-anchor-visited-font-color: #ffffff;
    --ui-state-highlight-border-color: #dad55e;
    --ui-state-highlight-background-color: #fffa90;
    --ui-state-highlight-font-color: #777620;
    --ui-state-checked-border-color: #dad55e;
    --ui-state-checked-background-color: #fffa90;
    --ui-state-highlight-anchor-font-color: #777620;
    --ui-state-error-font-color: #5f3f3f;
    --ui-state-error-background-color: #fddfdf;
    --ui-state-error-border-color: #f1a899;
    --ui-state-error-anchor-font-color: var(--ui-state-error-font-color);
    --ui-state-error-text-font-color: var(--ui-state-error-font-color);
    /* Overlays variables */
    --ui-widget-overlay-background-color: #aaaaaa;
    --ui-widget-shadow-webkit-box-shadow-color: #666666;
    --ui-widget-shadow-box-shadow-color: var(--ui-widget-shadow-webkit-box-shadow-color);
    /* Centreon jquery */
    /* Portlet style variables */
    --ui-sortable-placeholder-border-color: black;
    --ui-button-focus-font-color: #ffffff;
    --ui-tabs-nav-li-anchor-background-color: #009fdf;
    --ui-tabs-nav-li-background-color: var(--ui-tabs-nav-li-anchor-background-color);
    --ui-state-processing-anchor-background-color: none;
    --ui-state-processing-background-color: none;
    /* ------ END : JQuery UI variables -----*/
}
