@import "../../styles/partials/variables";

.btn {
  padding: 7px 8px;
  min-width: 64px;
  font-size: 0.875rem;
  min-height: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-sizing: border-box;
  line-height: 1.4em;
  font-family: 'Open Sans', Arial, Tahoma, Helvetica, Sans-Serif;
  font-weight: 500;
  border-radius: 3px;
  background-color: transparent;
  padding: 6px;
  cursor: pointer;
  &-green {
    color: #88b917;
    border: 1px solid $lime-centreon-darken;
    &:hover {
      color: $white-color;
      background-color: #88b917;
    }
  }
  &-red {
    color: #e00b3d;
    border: 1px solid #e00b3d;
    text-transform: initial;
    &:hover {
      color: $white-color;
      background-color: #e00b3d;
    }
  }
  &.logout {
    height: 31px;
    border-radius: 16px;
    border: 1px solid #cdcdcd;
    outline: none;
    color: rgb(188,189,192);
    font-size: .625rem;
    min-height: auto;
    &:hover {
      background-color: rgba(205, 205, 205, 1);
      color: rgb(0,9,22);
    }
  }
}