# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration

parameters:
    locale: en
    database_host: "%env(hostCentreon)%"
    database_port: "%env(port)%"
    database_db: "%env(db)%"
    database_dbstg: "%env(dbcstg)%"
    database_user: "%env(user)%"
    database_password: "%env(password)%"
    centreon_var_lib: "%env(_CENTREON_VARLIB_)%"
    validation_path: "%env(_CENTREON_PATH_)%config/packages/validator/validation.yaml"

services:
    # Default configuration for services in *this* file
    _defaults:
        public: false
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, et

    App\EventSubscriber\:
        resource: '../src/EventSubscriber/*'

    # Mandatory to use 'view_response_listener: true' in the fost rest config failed
    sensio_framework_extra.view.listener:
        alias: Sensio\Bundle\FrameworkExtraBundle\EventListener\TemplateListener

    security.provider.tokenapi:
        class: App\Security\TokenAPIAuthenticator
        public: false

    security.provider.sessionapi:
        class: App\Security\SessionAPIAuthenticator
        public: false

    Centreon\Domain\Entity\EntityValidator:
        class: Centreon\Domain\Entity\EntityValidator
        arguments: ['%validation_path%']

    Pimple\Container:
        factory: ['Centreon\LegacyContainer', 'getInstance']

imports:
    resource: './Modules/*.yaml'
