# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration

parameters:
    locale: en
    database_host: "%env(hostCentreon)%"
    database_port: "%env(port)%"
    database_db: "%env(db)%"
    database_dbstg: "%env(dbcstg)%"
    database_user: "%env(user)%"
    database_password: "%env(password)%"
    centreon_var_lib: "%env(_CENTREON_VARLIB_)%"
    validation_path: "%env(_CENTREON_PATH_)%config/packages/validator"
    centreon_path: "%env(_CENTREON_PATH_)%"
    centreon_etc_path: "%env(_CENTREON_ETC_)%"
    centreon_install_path: "%centreon_path%/www/install"
    translation_path: "%centreon_path%/www/locale"
    log_path: "%env(_CENTREON_LOG_)%"
    media_path: "img/media"
    redirect_default_page: "/monitoring/resources"
    session_expiration_delay: 120

services:
    # Default configuration for services in *this* file
    _defaults:
        public: false
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, et

    _instanceof:
        Security\Domain\Authentication\Interfaces\ProviderInterface:
            tags: ['authentication.providers']
        Core\Infrastructure\Security\Api\FindProviderConfigurations\ProviderPresenter\ProviderPresenterInterface:
            tags: ['authentication.presenters']

    EventSubscriber\:
        resource: '../src/EventSubscriber/*'

    Security\:
        resource: '../src/Security/*'

    # Mandatory to use 'view_response_listener: true' in the fost rest config failed
    sensio_framework_extra.view.listener:
        alias: Sensio\Bundle\FrameworkExtraBundle\EventListener\TemplateListener

    security.provider.tokenapi:
        class: Security\TokenAPIAuthenticator
        public: false

    security.provider.sessionapi:
        class: Security\SessionAPIAuthenticator
        public: false

    Centreon\Domain\Entity\EntityValidator:
        class: Centreon\Domain\Entity\EntityValidator
        arguments: ['%validation_path%']

    Pimple\Container:
        factory: ['Centreon\LegacyContainer', 'getInstance']

    Centreon\Application\Controller\Router:
        decorates: router
        arguments: ['@.inner']


    # Security
    Security\Domain\Authentication\Interfaces\AuthenticationRepositoryInterface:
        class: Security\Infrastructure\Repository\AuthenticationRepository

    Security\Domain\Authentication\Interfaces\AuthenticationServiceInterface:
        class: Security\Domain\Authentication\AuthenticationService
        public: true

    Security\Domain\Authentication\Interfaces\ProviderRepositoryInterface:
        class: Security\Infrastructure\Repository\ProviderRepository

    Security\Domain\Authentication\Interfaces\SessionRepositoryInterface:
        class: Security\Infrastructure\Repository\SessionRepository

    Security\Domain\Authentication\Interfaces\ProviderServiceInterface:
        class: Security\Domain\Authentication\ProviderService
        public: true

    Security\Domain\Authentication\Model\LocalProvider:
        arguments: [ "%session_expiration_delay%" ]

    Security\Domain\Authentication\Model\ProviderFactory:
        arguments: [!tagged_iterator 'authentication.providers']

    Core\Infrastructure\Security\Api\FindProviderConfigurations\FindProviderConfigurationsPresenter:
        arguments: [!tagged_iterator 'authentication.presenters']