Centreon\Domain\Downtime\Downtime:
    access_type: 'public_method'
    accessor_order: 'custom'
    custom_accessor_order:
        - 'startTime'
        - 'endTime'
        - 'actualStartTime'
        - 'actualEndTime'
    properties:
        id:
            type: int
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        entryTime:
            type: DateTime
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        authorId:
            type: int
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        authorName:
            type: string
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        hostId:
            type: int
            groups:
                - 'downtime_host'
                - 'downtime_service'
        serviceId:
            type: int
            groups:
                - 'downtime_service'
        resourceId:
            type: int
            groups:
                - 'downtime_hosts'
                - 'downtime_services'
        parentResourceId:
            type: int
            groups:
                - 'downtime_services'
        isCancelled:
            accessor:
                getter: 'isCancelled'
                setter: 'setCancelled'
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
            type: bool
        comment:
            type: string
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
                - 'resource_dt'
        deletionTime:
            type: DateTime
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        duration:
            type: int
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
                - 'resource_dt'
        endTime:
            type: DateTime
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
                - 'resource_dt'
        internalId:
            type: int
        isFixed:
            accessor:
                getter: 'isFixed'
                setter: 'setFixed'
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
                - 'resource_dt'
            type: bool
        pollerId:
            type: int
            groups:
                - 'Default'
                - 'downtime_main'
        startTime:
            type: DateTime
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
                - 'resource_dt'
        actualStartTime:
            type: DateTime
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        actualEndTime:
            type: DateTime
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        isStarted:
            accessor:
                getter: 'isStarted'
                setter: 'setStarted'
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
            type: bool
        withServices:
            accessor:
                getter: 'isWithServices'
                setter: 'setWithServices'
            groups:
                - 'downtime_host_add'
                - 'resource_dt'
            type: bool
