Centreon\Domain\Downtime\Downtime:
    properties:
        id:
            type: int
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        entryTime:
            type: DateTime
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        authorId:
            type: int
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        authorName:
            type: string
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        hostId:
            type: int
            groups:
                - 'downtime_host'
                - 'downtime_service'
        serviceId:
            type: int
            groups:
                - 'downtime_service'
                - 'downtime_meta'
        resourceId:
            type: int
            groups:
                - 'downtime_hosts'
                - 'downtime_services'
        parentResourceId:
            type: int
            groups:
                - 'downtime_services'
        isCancelled:
            type: bool
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        comment:
            type: string
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
                - 'resource_dt'
        deletionTime:
            type: DateTime
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        duration:
            type: int
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
                - 'resource_dt'
        endTime:
            type: DateTime
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
                - 'resource_dt'
        internalId:
            type: int
        isFixed:
            type: bool
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
                - 'resource_dt'
        pollerId:
            type: int
            groups:
                - 'Default'
                - 'downtime_main'
        startTime:
            type: DateTime
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
                - 'resource_dt'
        actualStartTime:
            type: DateTime
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        actualEndTime:
            type: DateTime
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        isStarted:
            type: bool
            groups:
                - 'Default'
                - 'downtime_main'
                - 'downtime_event_list'
        withServices:
            type: bool
            groups:
                - 'downtime_host_add'
                - 'resource_dt'
