<script language='javascript' src='./include/common/javascript/tool.js'></script>
<div id="div1" style="position:relative;">
    <div class="graph-options">
      <a onclick="javascript:switchCols(1)" class="ico-16 margin_right ico-col ico-col-1 active" alt="{t}One column{/t}" title="{t}One column{/t}">
      </a>
      <a onclick="javascript:switchCols(2)" class="ico-16 margin_right ico-col ico-col-2" alt="{t}Two columns{/t}" title="{t}Two columns{/t}">
      </a>
      <a onclick="javascript:switchCols(3)" class="ico-16 margin_right ico-col ico-col-3" alt="{t}Three columns{/t}" title="{t}Three columns{/t}">
      </a>
    </div>
    <div id="graphs" class="graph_content">
        <div class="graphZone">
          {foreach from=$periods item=period}
          <div id="graph_wrapper_{$period.short}" data-graph-id="{$srv_id}" class="graph">
            <div class="title">
                <svg xmlns="http://www.w3.org/2000/svg" class="remove ico-14 margin_right"  style="vertical-align:middle;" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/>
                </svg>
              <span>{$srv_name} during {$period.long}</span>
              <a class="actions" href="#" data-href="./include/views/graphs/generateGraphs/generateImage.php">
                <img alt="Export graph" src="./img/icons/picture.png" class="ico-14 margin_right">
              </a>
              <a class="actions" href="#" data-href="./include/views/graphs/exportData/ExportCSVServiceData.php">
                <img alt="Export CSV" src="./img/icons/csv.png" class="ico-14 margin_right">
              </a>
            </div>
            <div class="content">
              <div class="chart" id="graph-{$period.short}" data-graph-interval="{$period.short}" data-graph-id="{$svc_id}" data-graph-type="service">
              </div>
            </div>
          </div>
          {/foreach}
        </div>
    </div>
</div>
<script src="./include/common/javascript/moment-with-locales.min.2.21.js"></script>
<script src="./include/common/javascript/moment-timezone-with-data.min.js"></script>
<script src="./include/common/javascript/centreon/centreon-select2.js"></script>
{literal}
<script>
function switchCols(number) {

  jQuery('.graphZone').removeClass(function (index, css) {
    return (css.match(/\bcol\S+/g) || []).join(' ');
  });
  if (number === 2 || number === 3) {
    jQuery('.graphZone').addClass('col' + number);
  }
  jQuery('.graphZone .chart').centreonGraph('resize');
  jQuery('.ico-col').removeClass('active');
  jQuery('.ico-col-' + number).addClass('active');
}

jQuery(function () {
  jQuery('.chart').centreonGraph();

  /* Add events on click on action download image/CSV */
  jQuery('.graphZone').delegate('a.actions', 'click', function (e) {
    var $a = jQuery(this);
    var baseUrl = $a.data('href');
    var chartId = $a.parents('.graph').data('graphId');
    var start;
    var end;
    var timezone = localStorage.getItem('realTimezone')
        ? localStorage.getItem('realTimezone')
        : moment.tz.guess();

    /* Get the period */
    if (jQuery('select[name="period"]').val() === '') {
      start = moment.tz(
          jQuery('#StartDate').val() + ' ' + jQuery('#StartTime').val(),
          timezone
      );
      end = moment.tz(
          jQuery('#EndDate').val() + ' ' + jQuery('#EndTime').val(),
          timezone
      );
      duration = moment.duration(end.diff(start));
    } else {
      parseInterval = jQuery('select[name="period"]').val().match(/(\d+)([a-z]+)/i);
      duration = moment.duration(
        parseInt(parseInterval[1], 10),
        parseInterval[2]
      );
      start = moment().tz(timezone);
      end = moment().tz(timezone);
      start.subtract(parseInterval[1], parseInterval[2]);
    }

    e.preventDefault();
    baseUrl += '?chartId=' + chartId + '&start=' + start.unix() + '&end=' + end.unix();
    window.location = baseUrl;
  });

  /* Active drag and drop */
  jQuery('.graphZone').sortable({
    handle: '.title',
  });
});
</script>
{/literal}
