# -*-Shell-script-*-
# SVN: $Url$
# SVN: $Id$
#
# This file contain reconfigured variables used in install scripts
# By default, when you use ./install.sh -f sample.tmpl, you'll accept GPL licence.

#####################################################################
## Begin: Install modules
#####################################################################
## What do you want to install ? 
## 0 = no, 1 = yes

## CentWeb: Web front Centreon for Nagios
PROCESS_CENTREON_WWW=1
## CentStorage: ...
PROCESS_CENTSTORAGE=1
## CentCore: ...
PROCESS_CENTCORE=1
## CentPlugins: Centreon Plugins for nagios
PROCESS_CENTREON_PLUGINS=1
## CentTraps: Centreon Snmp traps process for nagios
PROCESS_CENTREON_SNMP_TRAPS=0
#####################################################################
## End: Install modules
#####################################################################


#####################################################################
## Begin: Default variables
#####################################################################
## Your default variables
## $BASE_DIR is a centreon source directory
LOG_DIR="$BASE_DIR/log"
LOG_FILE="$LOG_DIR/install_centreon.log"

## Change that with CAUTION !!!
## Centreon temporary directory to work
TMPDIR="/tmp/centreon-setup"
## default snmp config directory
SNMP_DIR="/etc/snmp/"
## a list of pear modules require by Centreon
PEAR_MODULES_LIST="pear.lst"
#####################################################################
## End: Default varibles
#####################################################################


#####################################################################
## Begin: Centreon preferences
#####################################################################
## All there variable is necessary to silent install
## Where you want to install Centreon
INSTALL_DIR_CENTREON="/srv/centreon"
## Centreon logging file
CENTREON_LOG="/var/log/centreon"
## Centreon config file
CENTREON_ETC="/etc/centreon"
## Centreon run dir (all .pid, .run, .lock)
CENTREON_RUNDIR="/var/run/centreon"
## Centreon generation config directory
##  filesGeneration and filesUpload
CENTREON_GENDIR="/var/cache/centreon"
## CentStorage store a .rrd file
CENTSTORAGE_RRD="/var/lib/centreon"
## path for centstorage binary
CENTSTORAGE_BINDIR="/srv/centreon/bin"
## path for centcore binary
CENTCORE_BINDIR="/srv/centreon/bin"
## use for all library temporary file
CENTREON_VARLIB="/var/lib/centreon"
## more centreon plugins use a file foreach test.
## There files can change (data)
CENTPLUGINS_TMP="/var/lib/centreon/centplugins"
#####################################################################
## End: Centreon preferences
#####################################################################


#####################################################################
## Begin: Nagios preferences
#####################################################################
## Install directory
INSTALL_DIR_NAGIOS="/usr/share/nagios"
## Configuration directory
NAGIOS_ETC="/etc/nagios"
## Plugins directory
NAGIOS_PLUGIN="/usr/lib/nagios/plugins"
## Images (logos) directory
NAGIOS_IMG="/usr/share/nagios/htdocs/images"
## The nagios binary (optional)
#NAGIOS_BINARY="/usr/sbin/nagios"
## The nagiostats binary (optional)
#NAGIOSSTATS_BINARY="/usr/sbin/nagiostats"
## Logging directory
NAGIOS_VAR="/var/log/nagios"
## Nagios user (optional)
#NAGIOS_USER="nagios"
## Nagios group (optional)
#NAGIOS_GROUP="nagios"
#####################################################################
## End: Nagios preferences
#####################################################################


#####################################################################
## Begin: Other binary
#####################################################################
## RRDTOOL (optional)
#BIN_RRDTOOL="/usr/bin/rrdtool"
## Mail (optional)
#BIN_MAIL="/usr/bin/mail"
## SSH (optional)
#BIN_SSH="/usr/bin/ssh"
## SCP (optional)
#BIN_SCP="/usr/bin/scp"
## PHP (optional)
#PHP_BIN="/usr/bin/php"
#####################################################################
## End: Other binary
#####################################################################


#####################################################################
## Begin: Others
#####################################################################
## Perl path for RRDs.pm file
RRD_PERL="/usr/lib/perl5"
## A sudo file (optional)
#SUDO_FILE="/etc/sudoers"
## Apache user (optional)
#WEB_USER="www-data"
## Apache group (optional)
#WEB_GROUP="www-data"
## init script directory (optional)
#INIT_D="/etc/init.d"
## cron config script directory (optional)
#CRON_D="/etc/cron.d"
## Path for PEAR.php file
PEAR_PATH="/usr/share/php"
#####################################################################
## End: Others
#####################################################################


