centreon_application_monitoring_submitresultresource:
    methods: POST
    path: /monitoring/resources/submit
    controller: 'Centreon\Application\Controller\Monitoring\SubmitResultController::submitResultResources'
    condition: "request.attributes.get('version') >= 21.10"

centreon_application_monitoring_submitresulthost:
    methods: POST
    path: /monitoring/hosts/{hostId}/submit
    requirements:
        hostId: '\d+'
    controller: 'Centreon\Application\Controller\Monitoring\SubmitResultController::submitResultHost'
    condition: "request.attributes.get('version') >= 21.10"

centreon_application_monitoring_submitresultservice:
    methods: POST
    path: /monitoring/hosts/{hostId}/services/{serviceId}/submit
    requirements:
        hostId: '\d+'
        serviceId: '\d+'
    controller: 'Centreon\Application\Controller\Monitoring\SubmitResultController::submitResultService'
    condition: "request.attributes.get('version') >= 21.10"
