@import "../../styles/partials/variables";
@import "../../styles/partials/helpers";
@import "../../styles/partials/fonts";
@import "../../styles/partials/icons";
@import "../button/button";

.header {
  background-color: #232f39;
  box-sizing: border-box;
  &-icons {
    display: flex;
    flex-direction: row;
  }
  .wrap {
    &-left {
      &-icon {
        &.pollers {
          cursor: pointer;
          position: absolute !important;
          left: 20px;
          top: 6px;
        }
        &:first-child {
          margin-right: 11px;
        }
        &__name {
          display: block;
          font-size: 0.6875rem;
          color: $white-color;
          font-family: $primary-font-light;
          text-transform: lowercase;
         }
         &.round {
           width: 31px;
           height: 31px;
           border-radius: 50%;
           padding-top: 4px;
           box-sizing: border-box;
           margin: 0 6px;
           &.red {
            background-color: #ed1c24;
           }
           &.orange {
            background-color: #ff9913;
           }
           &.green {
            background-color: #87bd23;
           }
         }
      }
      &-pollers {
        position: relative;
        box-sizing: border-box;
        padding: 10px 21px 11px 63px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &.submenu-active {
          background-color: #000915;
          .submenu {
            display: block;
          }
        }
      }
    }
    &-middle {
      &-icon {
        &.round {
          font-size: .875rem;
          padding: 0px 5px;
          font-family: $primary-font-bold;
          position: relative;
          color: $white-color;
          overflow: hidden;
          text-align: center;
          min-width: 32px;
          height: 32px;
          border-radius: 50px;
          margin: 0 6px;
          box-sizing: border-box;
          text-decoration: none;
          &-big {
            border-radius: 15px;
            width: 47px;
            height: 30px;
          }
          .number {
            font-size: 0.875rem;
            font-family: $primary-font-bold;
            position: relative;
            text-decoration: none;
            > span {
              line-height: 33px;
              color: $white-color;
            }
          }
          &.red {
            background-color: #ed1c24;
          }
          &.red-bordered {
            border: 2px solid #ed1c24;
            span {
              line-height: 30px;
            }
          }
          &.gray-dark {
            background-color: #818185;
          }
          &.gray-dark-bordered {
            border: 2px solid #818185;
            span {
              line-height: 30px;
            }
          }
          &.green {
            background-color: #87bd23;
          }
          &.green-bordered {
            border: 2px solid #87bd23;
            span {
              line-height: 30px;
            }
          }
          &.orange {
            background-color: #ff9913;
          }
          &.orange-bordered {
            border: 2px solid #ff9913;
            span {
              line-height: 30px;
            }
          }
          &.gray-light {
            background-color: #cdcdcd;
          }
          &.gray-light-bordered {
            border: 2px solid #cdcdcd;
            span {
              line-height: 30px;
            }
          }
          &.blue {
            background-color: #2ad1d4;
            .number {
              > span {
                line-height: 33px;
              }
            }
          }
          &.blue-bordered {
            border: 2px solid #2ad1d4;
            .number {
              > span {
                line-height: 30px;
              }
            }
          }
        }
      }
    }
    &-right {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 76%;
     &-hosts,
     &-services,
     &-user {
       position: relative;
       padding: 6px 22px 6px 61px;
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       &.submenu-active {
         background-color: #000915;
       }
     }
     &-hosts {
       .round {
        margin: 0 4px;
       }
       > span:nth-child(2) {
        margin-left: 18px;
      }
     }
     &-services {
       .custom-icon {
        right: 6px;
       }
     }
     &-user {
       padding: 6px 22px 6px 35px;
       .iconmoon {
         &.icon-user {
           cursor: pointer;
          &:before {
            font-size: 2rem;
          }
         }
       }
     }
     &-icon {
       cursor: pointer;
       position: absolute !important;
       left: 10px;
       top: 8px;
      &:first-child {
        text-align: center;
        position: relative;
        margin-right: 10px;
      }
      &.hosts {
        left: 23px;
      }
      &__name {
      display: block;
      font-size: 0.6875rem;
      color: $white-color;
      font-family: $primary-font-light;
      text-transform: lowercase;
      }
    }
    &-date,
    &-time {
      font-family: $primary-font-light;
      color: $white-color;
      font-size: 0.8125rem;
      display: block;
      text-align: left;
    }
    &-time {
      font-size: 1rem;
    }
    &-timestamp {
      display: inline-block;
      vertical-align: middle;
      padding-right: 20px;
    }
  }
  .submenu-top-button {
    margin: 10px 15px;
  }
}
  .submenu {
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: 92;
    box-sizing: border-box;
    display: none;
    text-align: left;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    &.pollers {
      .submenu-item-link {
        border-bottom: 1px solid #d1d2d4;
        padding-left: 16px;
      }
    }
    &-item {
      &-link {
        padding: 10px;
        display: block;
        font-family: $primary-font-light;
        color: $white-color;
        text-decoration: none;
        font-size: 0.8rem;
      }
    }
    &-count {
      float: right;
    }
    &.profile {
      .submenu-user-type {
        display: inline-block;
        width: 51%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .submenu-user-edit {
        font-family: $primary-font-light;
        margin-left: 4px;
        color: $white-color;
        float: right;
        text-decoration-line: underline;
      }
      .submenu-user-button {
        font-size: .785rem;
        color: #ffa225;
        text-decoration: none;
        font-family: $primary-font-light;
        text-align: left;
        line-height: 31px;
        border-radius: 16px;
        border: 1px solid rgba(255, 161, 37, 1);
        background-color: transparent;
        margin: 0 auto;
        display: block;
        width: 95%;
        outline: none;
        position: relative;
        padding: 5px 27px 5px 10px;
        box-sizing: border-box;
        &:hover {
          color: rgb(0,9,22);
          background-color: rgba(255, 161, 37, 1);
          .btn-logout-icon, .icon-copied {
            &:before {
              color: rgba(0, 9, 21, 1);
            }
          }
        }
        span:first-child {
          line-height: 17px;
          display: block;
        }
      }
      .btn-logout-icon {
        width: 19px;
        height: 19px;
        position: absolute;
        right: 9px;
        top: 50%;
        transform: translateY(-50%);
      }
      .submenu-bookmark-link {
        margin: 14px 9px 13px;
        width: 62%;
        border: 1px solid #bcbdc0;
        padding: 7px 6px;
        border-radius: 3px;
        outline: none;
        box-sizing: border-box;
      }
      .submenu-user-name {
        display: block;
        margin-bottom: 10px;
      }
      .button-wrap {
        .btn {
          margin-top: 10px;
          float: right;
        }
      }
    }
    &-top-item {
      &.errors-running {
        .submenu-top-item-link,
        .submenu-top-count {
          display: block;
          padding: 10px;
          font-family: $primary-font-light;
          color: $white-color;
          font-size: .8rem;
          padding-left: 15px;
        }
        .submenu-top-count {
          padding: 0;
          float: right;
        }
      }
    }
  }
  .custom-icon {
    top: 17px;
    right: -1px;
    width: 7px;
    height: 7px;
    border-radius: 3px;
    background-color: #29d1d3;
    position: absolute;
  }
  .toggle-submenu-arrow {
    background: url("../../img/icons/submenu-arrows-stripe.png") no-repeat center center;
    display: inline-block;
    width: 28px;
    height: 37px;
    background-position: 7px -40px;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 8px;
  }
  .submenu-active {
    .submenu {
      display: block;
    }
    .toggle-submenu-arrow {
      background-position: 7px 8px;
    }
  }
  .dot-colored {
    position: relative;
    padding-left: 15px;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
    &.red {
      &:before {
        background-color: #ed1b23;
      }
    }
    &.orange {
      &:before {
        background-color: #ffa125;
      }
    }
    &.gray {
      &:before {
        background-color: #818185;
      }
    }
    &.gray-light {
      &:before {
        background-color: #cdcdcd;
      }
    }
    &.green {
      &:before {
        background-color: #87bd23;
      }
    }
    &.blue {
      &:before {
        background-color: #2ad1d4;
      }
     }
  }
}
.FullScreen {
  height: 100%;
  background-color: $white-color;
}
.submenu-top-item-link {
  display: block;
  padding: 0 !important;  
  padding-left: 15px !important;
  font-size: .8rem;
  color: $white-color;
  font-family: $primary-font-light;
  margin-top: 10px;
  padding-right: 25px !important;
  position: relative;
  .submenu-top-count {
    position: absolute;
    right: 10px;
    top: 0;
  }
}

.wrapper {
  display: flex;
}
.submenu {
  &-toggle {
    display: none;
    position: absolute;
    left: 0px;
    background-color: #232f39;
    padding: 10px;
    top: 100%;
    z-index: 99;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    &-active {
      display: block;
    }
  }
}
.wrap-middle-icon {
  display: flex;
}
.link {
  text-decoration: none;
}
.submenu-content {
  background-color: #232f39;
  padding: 10px;
}
.submenu-padding {
  height: 55px;
}