@import "../Generic-theme/Variables-css/variables.css";

:root{
    --body-background: var(--color-primary-body-background-dark);
    --body-color: var(--color-primary-body-dark);
    --info-box-background-color:var(--color-cinder);
    --info-box-border-color: var(--color-pablo);
    --path-way-font-color: var(--body-color);
    --ui-widget-header-background-color: var(--body-background);
    --ui-widget-header-border-bottom-color: var(--color-pablo);
    --ui-tabs-nav-li-anchor-background-color: none;
    --ui-anchor-state-default-font-color: var(--color-grey-wan-white);
    --ui-anchor-state-active-visited-font-color: var(--color-cornflower-blue);;
    --global-view-ui-border-color: none;
    --ui-background-color: none;
    --global-view-ui-active-tabs-border-color: none;
    --global-view-ui-active-tabs-border-bottom-color: var(--color-primary-light);
    --bt-success-background-color: var(--color-primary-light);
    --bt-default-background-color: var(--bt-success-background-color);
    --bt-danger-background-color: var(--bt-success-background-color);
    --bt-info-background-color: var(--bt-success-background-color);
    --bt-warning-background-color: var(--bt-success-background-color);
    --toggle-wrapper-background-color: var(--body-background);
    --toggle-wrapper-border-color: var(--color-pablo);
    --timer-value-color: var(--body-color);
    --table-form-header-bottom-border-color: var(--body-color);
    --table-form-header-font-color: var(--body-color);
    --popin-wrapper-font-color: var(--body-color);
    --table-form-header-h3-font-color: var(--body-color);
    --form-table-list-lvl-1-background-color: var(--centreon-popin-background-color);
    --form-table-list-lvl-1-col-name-background-color: var(--centreon-popin-background-color);
    --form-table-list-lvl-1-col-name-border-bottom-color: var(--color-pablo);
    --form-table-list-lvl-1-col-name-border-top-color: var(--form-table-list-lvl-1-col-name-border-bottom-color);
    --list-one-background-color: var(--color-sherpa-blue);
    --list-one-hover-background-color: var(--color-cod-grey);
    --list-two-background-color: var(--color-sherpa-blue-light);
    --list-two-hover-background-color: var(--list-one-hover-background-color);
    --select-background: var(--body-background);
    --select-color: var(--color-white);
    --input-select-background-color: var(--body-background);
    --select-border-color: var(--body-color);
    --included-checkbox-checked-before-font-color: var(--input-select-background-color);
    --md-checkbox-checked-label-before-background-color: var(--color-primary-light);
    --md-checkbox-background: var(--input-select-background-color);
    --option-color: var(--select-color);
    --form-table-list-header-h3-font-color: var(--color-white-rgba-8);
    --info-box-h4-font-color: var(--form-table-list-header-h3-font-color);
    --md-checkbox-border-color-after: var(--color-primary-dark);
    --md-checkbox-border-color: var(--body-color);
    --centreon-popin-background-color: var(--body-background);
    --centreon-popin-border-color: var(--body-background);
    --select2-container-selection-multiple-background-color: var(--body-background);
    --selected2-results-header-background-color: var(--body-background);
    --select2-results-header-color: var(--color-primary-light);
    --placeholder-font-color: var(--body-color);
    --select2-dropdown-border-color: var(--body-color);
    --select2-result-option-highlighted-aria-selected-true-background-color: var(--color-primary-dark);
    --select2-results-background-color: var(--body-background);
    --select2-results-option-font-color: var(--select-color);
    --select2-results-option-highlighted-color: var(--select-color);
    --selected2-results-header-border-bottom-color: var(--body-color);
    --select2-selection-multiple-color: var(--body-color);
    --select2-selection-multiple-border-color: var(--info-box-background-color);
    --select2-results-option-highlighted-background-color: var(--body-color);
    --select2-selection-multiple-content-background-color: var(--select2-selection-multiple-border-color);
    --select2-selection-choice-remove-background-color: var(--select2-selection-multiple-border-color);
    --select2-results-option-highlighted-color-aria-selected: var(--color-primary-light);
    --md-radio-checked-backgroud-color: var(--color-primary-light);
    --md-radio-after-background-color: var(--md-radio-checked-backgroud-color);
    --md-radio-label-before-border-color: var(--body-color);
    --select2-selection-single-background-color: var(--body-background);
    --select2-dropdown-background-color: var(--select2-selection-single-background-color);
    --select2-selection-rendered-font-color: var(--select-color);
    --main-nav-list-a-anchor-font-color: var(--color-primary-light);
    --main-nav-li-a-border-bottom: var(--main-nav-list-a-anchor-font-color);
    --header-tab-container-bottom-border-color: var(--ui-widget-header-border-bottom-color);
    --p-description-a-visited-color: var(--color-primary-light);
    --add-new-entry-font-color: var(--color-primary-light);
    --macro-legend-background-color: var(--body-background);
    --macro-legend-font-color: var(--body-color);
    --textarea-background-color: var(--body-background);
    --textarea-font-color: var(--color-white);
    --select2-selection-single-disabled-background-color: var(--body-background);
    --ajax-option-background-color:var(--info-box-background-color);
    --ajax-option-h4-font-color:var(--path-way-font-color);
    --ajax-option-border-bottom-color:var(--info-box-background-color);
    --ajax-option-border-top-color:var(--info-box-background-color);
    --ajax-option-tr-first-child-background-color: var(--body-background);
    --ajax-option-tr-first-child-font-color:var(--path-way-font-color);
    --list-header-background:var(--info-box-background-color);
    --list-table-anchors-font-color:var(--select-color);
    --list-header-border-top-color:var(--list-table-anchors-font-color);
    --list-header-border-left-color: var(--list-table-anchors-font-color);
    --list-header-font-color: var(--list-table-anchors-font-color);
    --list-table-border-color:var(--info-box-background-color);
    --service-ok-host-up-success-background-color:var(--color-primary-success-dark);
    --arbo-a-bg-grey-background-color:var(--select-background);
    --arbo-a-bg-grey-mid-background-color:var(--arbo-a-bg-grey-background-color);
    --arbo-a-bg-grey-light-background-color:var(--arbo-a-bg-grey-background-color);
    --arbo-a-bg-grey-white-background-color:var(--arbo-a-bg-grey-background-color);
    --up-to-date-background-color:var(--service-ok-host-up-success-background-color);
    --up-to-date-color:var(--option-color);
    --update-secu-background-color:var(--color-torch-red);
    --ui-icon-fill-color: var(--color-primary-light);
    --list-lvl-1-background-color: var(--body-background);
    --list-lvl-2-background-color: var(--body-background);
}
