@import "../Generic-theme/Variables-css/variables.css";

:root {
    --body-background: #424242;
    --body-color: #b2aca2;
    --info-box-background-color: #1d2021;
    --info-box-border-color: #776e62;
    --path-way-font-color: var(--body-color);
    --ui-widget-header-background-color: var(--body-background);
    --ui-widget-header-border-bottom-color: #373b3d;
    --ui-tabs-nav-li-anchor-background-color: none;
    --ui-anchor-state-default-font-color: #e8e6e38a;
    --ui-anchor-state-active-visited-font-color: #6793e6;
    --global-view-ui-border-color: none;
    --ui-background-color: none;
    --global-view-ui-active-tabs-border-color: none;
    --global-view-ui-active-tabs-border-bottom-color: #10069f;
    --bt-success-background-color: #10069F;
    --bt-default-background-color: var(--bt-success-background-color);
    --bt-danger-background-color: var(--bt-success-background-color);
    --bt-info-background-color: var(--bt-success-background-color);
    --bt-warning-background-color: var(--bt-success-background-color);
}

