/**
Oreon is developped with GPL Licence 2.0 :
http://www.gnu.org/licenses/gpl.txt
Developped by : Julien Mathis - Romain Le Merlus

Adapted to Pear library by Merethis company, under direction of Cedrick Facon, Romain Le Merlus, Julien Mathis

The Software is provided to you AS IS and WITH ALL FAULTS.
OREON makes no representation and gives no warranty whatsoever,
whether express or implied, and without limitation, with regard to the quality,
safety, contents, performance, merchantability, non-infringement or suitability for
any particular or intended purpose of the Software found on the OREON web site.
In no event will OREON be liable for any direct, indirect, punitive, special,
incidental or consequential damages however they may arise and even if OREON has
been previously advised of the possibility of such damages.

For information : contact@oreon-project.org
*/


#outer{		border-left-color:#F2F2F2;   /* left column colour */}
body{		background-color:#F2F2F2;}

.ListTable a:link, #ListTable a:link		{color:#666666;}
.ListTable a:visited, #ListTable a:visited		{color:#666666;}
.ListTable a:hover, #ListTable a:hover		{color:#E3A385;}

/* Form */
.list_lvl_1{	background-color:#d5dfeb;}
.list_lvl_2{	background-color:#ced3ed;}
.ListHeader{	background-image:url("./Images/bg_header.gif");
background-position:top left;
background-repeat:repeat-x;
background-color:#BFD0E2 ;
}
.ListHeader td{
/*
color:#FFFFFF;
*/
}
.ListSubHeader{	background-color:#A9C5F2;
font-weight:bold;
background-position:top left;
}

#ListTable, #ListTableMedium, #ListTableSmall {
border-color: #BFD0E2;
}
.ListTable, .ListTableMedium, .ListTableSmall {
border-color: #BFD0E2;
}


.list_lvl_2 td, .list_lvl_1 td{
	border-top-color: #AAAAAA;
	border-left-color: #AAAAAA;
	border-bottom-color: #AAAAAA;
	border-right-color: #AAAAAA;
}
.list_one td, .list_two td, .list_three td, .list_four td, .list_up td, .list_down td{
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-right-color: #FFFFFF;
}
.tab .list_one td, .tab .list_two td, .tab .list_three td, .tab .list_four td, .tab .list_up td, .tab .list_down td{
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-right-color: #FFFFFF;
}
.tab .list_lvl_2 td, .tab .list_lvl_1 td{
	border-top-color: #AAAAAA;
	border-left-color: #AAAAAA;
	border-bottom-color: #AAAAAA;
	border-right-color: #AAAAAA;
}
.ListHeader td{
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
}


.ListColFooterRight, .ListColFooterLeft, .ListColFooterCenter{
	border-top-color: #AAAAEE;
}

.list_one{		background-color:#ebf4ff;} /*C1DDF6;}*/
.list_one:hover {	background-color:#cbd4ff;}
.list_two {		background-color:#d8e4f2; }/*C4E5FB;} e6f2fe;}*/
.list_two:hover {		background-color:#93DCF8;} /*e6f2fe;}*/


.list_three {	background-color:#fada83;}
.list_three:hover {	background-color:#bada83;}
.list_four {	background-color:#fdc11e;}
.list_four:hover {	background-color:#bdc11e;}

.list_up{	background-color:#B2F867;}
.list_up:hover{	background-color:#B2A867;}
.list_down {	background-color:#ffbbbb;}
.list_down:hover {	background-color:#dfbbbb;}


#page {			color:#592bed;}
#page a{		color:#592bed;}

/*Menu*/
#menu1_bgimg{	background-image: url("Images/menu_bg_blue.gif");
background-position:top right;
background-repeat:repeat-x;
}
#menu1_bgcolor{	background-color: #6056e8;}
#menu2_bgcolor{	background-color: #ebf5ff;}


#menu_2{		background-color:	#6056e8;}

.Tmenu3 .top .left { background-color:  #F2F2F2;}
.Tmenu3 .top .right {  background-color:  #F2F2F2;}
.Tmenu3 .bottom .left {  background-color:  #F2F2F2;}
.Tmenu3 .bottom .right { background-color:  #F2F2F2;}
/* General */
#contener{		background-color:#F2F2F2;}
#Tmenu{		background-color:#F2F2F2;
border-right: 1px solid #6056e8;
}

#footerline1{	background-color:#6056e8;}
#footerline2{	background-color:#dedede;}

#MainPage textarea, #MainPage input, #MainPage select{    color:#242af6;}
#mainnav li{	background-image: url("./Images/bg_header.gif");}


input, textarea {
    font-family : Verdana,Arial,Geneva,Helvetica,sans-serif;
    font-size : 1em;
}

input[type="submit"],input[type="button"],input[type="reset"]{
background : white;	
color : #6056e8;
border-color : #6056e8;
}

input[type="submit"]:hover,input[type="button"]:hover,input[type="reset"]:hover{
background : #6056e8;
color : #fff;
border-color : #6056e8;
}

.limitPage{
	background-image:url("./Images/bg_header.gif");
	color:#fff;
background-position:top left;
background-repeat:repeat-x;
background-color:#BFD0E2 ;

}
.pageNumber{
	background-image:url("./Images/bg_header.gif");
	color:#fff;
background-position:top left;
background-repeat:repeat-x;
background-color:#BFD0E2 ;
}

.a, .b{
border-color:#aaaaee;
}


.Toolbar_TableTop{
}
.Toolbar_TDSelectAction_Top{
}

#menu_3 a{			}
#menu_3 a:hover{    }


.msg_loading{
position:absolute;


top:20px;
left:200px;
width:200px;


color:blue;
font-size:18px;

/*
background-color:#aaaaaa;
top:0px;
left:0px;
*/

width:100%;
height:100%;
}
.msg_isloading{
font-size:14px;
position:absolute;
top:20px;
left:200px;
background-color:red;
color:white;
width:200px;
}

.Toolbar_TDSelectAction_Top a{
font-family:Arial, Helvetica, Sans-Serif;    font-size:11px;    color:#666;
color:#5e5e5e;
}
.Toolbar_TDSelectAction_Top a:hover{
color:#E8AB5C;
}
.Toolbar_TDSelectAction_Bottom a{
font-family:Arial, Helvetica, Sans-Serif;    font-size:11px;    color:#666;
color:#5e5e5e;
}
.Toolbar_TDSelectAction_Bottom a:hover{
color:#E8AB5C;
}
.Toolbar_TableBottom{
	border-color:#6056e8;
}