@import "https://fonts.googleapis.com/css?family=Fira+Sans:300,400";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
* {
	box-sizing: border-box;
}

body {
	background-color: #0072ce;
	font-family: "Fira Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.875em;
}
body::after {
	content: '';
	position: absolute;
	z-index: 99;
	background-color: rgba(0, 114, 206, 0.8);
	height: 100vh;
	width: 100vw;
	transition: 0.4s;
	opacity: 0;
	visibility: hidden;
}

a {
	text-decoration: none;
}

.nav-top {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 101;
	padding: 10px 20px;
	width: 100%;
	height: 50px;
	background-color: #0072ce;
	background-image: url("/centreon/img/centreon_white.png");
	background-position: 15px;
	background-repeat: no-repeat;
	background-size: 150px;
}
.nav-top .hamburger {
	margin-left: auto;
	color: #fff;
	cursor: pointer;
}

.nav-drill {
	margin-top: 50px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.nav-is-toggled .nav-drill {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.nav-is-toggled::after {
	opacity: 1;
	visibility: visible;
}

.nav-drill {
	display: flex;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	width: 250px;
	height: 100vh;
	background-color: #fff;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	transition: 0.45s;
}
.nav-items {
	flex: 0 0 100%;
}
.nav-item:not(:last-child) {
	border-bottom: solid 1px #cee9ff;
}
.nav-link {
	display: block;
	padding: 0.875em 1em;
	background-color: #fff;
	color: #0072ce;
	font-size: 1rem;
	line-height: 1.5em;
	font-weight: 300;
}
.nav-expand-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	background-color: #cee9ff;
	transition: 0.3s;
	visibility: hidden;
}
.nav-expand-content .nav-item:not(:last-child) {
	border-bottom: solid 1px #0072ce;
}
.nav-expand-content .nav-link {
	background-color: #cee9ff;
}
.nav-expand-content .nav-back-link {
	display: flex;
	align-items: center;
	background-color: #0072ce !important;
	color: #fff;
}
.nav-expand-content .nav-back-link::before {
	content: "chevron_left";
	margin-right: 0.5em;
	font-family: "Material Icons";
}
.nav-expand-link {
	display: flex;
	justify-content: space-between;
}
.nav-expand-link::after {
	content: "chevron_right";
	flex: 0 1 auto;
	font-family: "Material Icons";
}
.nav-expand.active > .nav-expand-content {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	visibility: visible;
}
.nav-expand .nav-expand-content {
	background-color: #cee9ff;
}
.nav-expand .nav-expand-content .nav-link {
	background-color: #cee9ff;
}
.nav-expand .nav-expand-content .nav-expand-content {
	background-color: #9bd2ff;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-link {
	background-color: #9bd2ff;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content {
	background-color: #68bcff;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
	background-color: #68bcff;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content {
	background-color: #35a5ff;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
	background-color: #35a5ff;
}
