/*
 * Copyright 2005-2011 Centreon
 * Centreon is developped by : Julien Mathis and Romain Le Merlus under
 * GPL Licence 2.0.
 *
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software
 * Foundation ; either version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
 * PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program; if not, see <http://www.gnu.org/licenses>.
 *
 * Linking this program statically or dynamically with other modules is making a
 * combined work based on this program. Thus, the terms and conditions of the GNU
 * General Public License cover the whole combination.
 *
 * As a special exception, the copyright holders of this program give Centreon
 * permission to link this program with independent modules to produce an executable,
 * regardless of the license terms of these independent modules, and to copy and
 * distribute the resulting executable under terms of Centreon choice, provided that
 * Centreon also meet, for each linked independent module, the terms  and conditions
 * of the license of that module. An independent module is a module which is not
 * derived from this program. If you modify this program, you may extend this
 * exception to your version of the program, but you are not obliged to do so. If you
 * do not wish to do so, delete this exception statement from your version.
 *
 * For more information : contact@centreon.com
 *
 * SVN : $URL:  $
 * SVN : $Id:  $
 *
 */

#colpick_page {
	font-family:'Bitstream Vera Sans', arial, Tahoma, 'Sans serif';
	border: 0;
}
#colpick_subtitle {
	background-color: #D5DFEB;
	border: 1px solid #AAAAAA;
	color: #555555;
	font-size: 11px;
	font-weight: 700;	
	text-shadow: 0 1px 0 #FFFFFF;
	margin-bottom: 4px;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
    	vertical-align: middle;
}
#colpick_gradiant, #colpick_color {
	text-align: center;
	border: 1px ridge #AAAAAA;
}
#colpick_gradiant, #colpick_color_img {
	cursor: crosshair;
}
#colpick_gradiant {
	margin: 4px 0px 4px 0px;
	width: 300px;
	height: 20px;
}
#colpick_gradiant .cg_slice {
	width: 3px;
	margin: 0px;
	border: 0px;;
	height: 20px;
	float: left;
}
#colpick_acolor, #colpick_ncolor {
	border: 1px ridge #AAAAAA;
	margin: 0px;
	height: 20px;
	width:49%;
}
#colpick_button {
	width: 49%;
	height: 20px;
	margin-top: 8px;
}
#colpick_button input {
	font-size: 11px;
	font-weight: 400;
}
.cs_color {
	float: left;
}
