.CentreonForm .form-group {
    margin-bottom: 18px;
}

/* input */

label, input[type="text"],input[type="number"], textarea {
    display: block;
    border: 0;
    outline: 0;
}

.CentreonForm input[type="text"],
.CentreonForm input[type="number"],
.CentreonForm input[type="mail"],
.CentreonForm textarea,
.CentreonForm .select2-container .select2-choice
{
    width: 100%;
    height: 40px;
    padding: 18px 12px 6px;
    outline: 0;
    border-radius: 3px;
    box-shadow: 2px 1px 1px #d1d2d4;
    border: 1px solid #d1d2d4;
}

.CentreonForm textarea {
    height: 6em;
    resize: none;
}
/*-- help  --*/

.CentreonForm cite {
//display: none;
    font-size: 70%;
    position: absolute;
    color: #0079ac;
    width: 60%;
    //height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    bottom: 2px;
    left: 2em;
}

/*-- Inheritance  --*/

.CentreonForm .inheritance {
    font-size: 80%;
    color: #58585a;
    position: absolute;
    bottom: 2px;
    right: 1.5em;
    width: 30%;
    text-align: right;
}

/*-- Label  --*/

label.floatLabel {
    font-size: 11px;
    position: absolute;
    top: 3px;
    left: 30px;
    color: #bcbdc0;
    font-weight: normal;
    opacity: 1;
    -webkit-transition: .333s ease top, .333s ease opacity;
    transition: .333s ease top, .333s ease opacity;
    z-index: 1;
}

.js-unhighlight-label label {
    color: #00ccbf;
}
.js-unhighlight-label input {
    color: #000;
}

.js-hide-label > label.floatLabel {
    opacity: 0;
    top: 1.5em;
}

.required:after {
     display: none;
 }
.required ~ span {
      position: absolute;
      left: 20px;
      top: 4px;
      color: #e00b3d;
      opacity : 0.6;
}

/* Buttons */

.buttonGroup {
    display: inline-block;
    z-index: 1;
    //position : absolute;
    top: 6px;
}
.buttonGroup .configuration-actions,
.buttonGroup #selected_option,
.buttonGroup #addToGroup
{
    float:left;
    position: relative;
}

.btnC {
    position: relative;
    line-height: 1.5;
    margin: 0 2px;
    border-radius: 3px;
    text-decoration: none;
//font-size: 75%;
    padding : 0 12px !important;
    height: 40px;
    vertical-align: middle;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 2px 1px 1px #d1d2d4;
}
.btnDefault {
    color: #818285;
    background-color: #e7e7e8;
}
.btnDefault:focus {
     outline: none;
 }
.btnDefault:hover {
     color: #e7e7e8;
     background-color: #a7a9ac;
     transition: all 0.3s ease;
 }

/* -- Radiobox -- */

.CentreonForm .choiceGroup {
    margin-top: 20px;
    padding: 3px 18px;
    border-radius: 3px;
    box-shadow: 2px 1px 1px #d1d2d4;
    border: 1px solid #d1d2d4;
}

.CentreonForm .choiceGroup label {
    font-weight: normal;
    font-size: 13px;
}

/*---- Checkbox & radio Fields --- */

.CentreonForm .checkbox-styled input[type="radio"],
.CentreonForm .radio-styled input[type="radio"],
.CentreonForm .checkbox-styled input[type="checkbox"],
.CentreonForm .radio-styled input[type="checkbox"]{
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
}
.CentreonForm .checkbox-styled span,
.CentreonForm .radio-styled span {
    position: relative;
    padding-left: 20px;
    display: inline-block !important;
    cursor: pointer;
    vertical-align: text-top;
}

.CentreonForm .checkbox-styled span:before,.radio-styled span:before {
     content: "";
     position: absolute;
     left: 0;
     z-index: 1;
     width: 18px;
     height: 18px;
     border: 2px solid #a7a9ac;

     -webkit-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
 }
.CentreonForm .checkbox-styled label,
.CentreonForm .radio-styled label{
    padding-left: 0;
}
.CentreonForm .checkbox-styled label.disabled span:before,
.CentreonForm .radio-styled label.disabled span:before{
     border-color: #e5e6e6;
 }

.CentreonForm .checkbox-styled input:checked ~ span:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 10px;
    border-color: #0aa89e;
    border-top-style: none;
    border-right-style: none;
}

/*---- Radio Fields --- */

.CentreonForm .radio-styled input ~ span:before {

     top: 0;
     border-radius: 50%;
     -webkit-transition: all 0.15s ease-in-out;
     -o-transition: all 0.15s ease-in-out;
     transition: all 0.15s ease-in-out;
 }

.CentreonForm .radio-styled input ~ span:after {
     content: "";
     position: absolute;
     left: 10px;
     top: 10px;
     z-index: 1;
     width: 0;
     height: 0;
     background-color: #0aa89e;
     border-radius: 50%;
     -webkit-transition: all 0.15s ease-in-out;
     -o-transition: all 0.15s ease-in-out;
     transition: all 0.15s ease-in-out;
 }

.CentreonForm .radio-styled input:checked ~ span:before {
     border-color: #0aa89e;
 }
.CentreonForm .radio-styled input:checked ~ span::after {
     left: 4px;
     top: 4px;
     width: 10px;
     height: 10px;
 }

/* -- Success button -- */

.btnSuccess,{
    background-color: #88b917;
//box-shadow: 1px 2px 2px #88b917;
    color: white !important;
}

.btnDanger{
    background-color: #e00b3d;
    color: white;
}
.btn{
    color: white;
}

/* -- Info button -- */
.btnInfo{
    background-color: #b2ece8;
    box-shadow: 1px 2px 2px #00bfb3;
    color: #007f77;
}

/*---- Group of 2 Fields --- */
.inlineGroup {
    height: 40px;
    display: table;
}
.inlineGroup .Elem1 {
    display: table-cell;
    width: 100%;
    vertical-align: top;
}
.inlineGroup .Elem2 {
    display: table-cell;
    margin-left: 6px;
}
.inlineGroup button {
    float: right;
}

