/*
 * Copyright 2005-2009 MERETHIS
 * Centreon is developped by : Julien Mathis and Romain Le Merlus under
 * GPL Licence 2.0.
 * 
 * This program is free software; you can redistribute it and/or modify it under 
 * the terms of the GNU General Public License as published by the Free Software 
 * Foundation ; either version 2 of the License.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A 
 * PARTICULAR PURPOSE. See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with 
 * this program; if not, see <http://www.gnu.org/licenses>.
 * 
 * Linking this program statically or dynamically with other modules is making a 
 * combined work based on this program. Thus, the terms and conditions of the GNU 
 * General Public License cover the whole combination.
 * 
 * As a special exception, the copyright holders of this program give MERETHIS 
 * permission to link this program with independent modules to produce an executable, 
 * regardless of the license terms of these independent modules, and to copy and 
 * distribute the resulting executable under terms of MERETHIS choice, provided that 
 * MERETHIS also meet, for each linked independent module, the terms  and conditions 
 * of the license of that module. An independent module is a module which is not 
 * derived from this program. If you modify this program, you may extend this 
 * exception to your version of the program, but you are not obliged to do so. If you
 * do not wish to do so, delete this exception statement from your version.
 * 
 * For more information : contact@centreon.com
 * 
 * SVN : $URL
 * SVN : $Id
 * 
 */

/* Link */
a			{text-decoration:none;}
a:hover		{text-decoration:underline;}

body, .msg, #sublogin, #LoginInvitcpy a, #LoginInvitcpy {text-align:center;}

table {empty-cells:show; border-spacing:0px; border-collapse:collapse;font-family:'Bitstream Vera Sans', 'arial', 'Tahoma', 'Sans serif';}
body, input, textarea, checkbox, select, option, td, .msg, input[type="submit"], label, table {font-family:'Bitstream Vera Sans', 'arial', 'Tahoma', 'Sans serif';font-weight: normal;font-size:11px;}

input, textarea, checkbox, select, option, input[type="submit"],body {font-size: 11px;}
.msg 		{font-size:12px;}
img 		{border:0;}
input		{border-style:none;padding:2px;}
checkbox	{padding:2px;}
select		{border-style:none;}
td			{padding:3px;color:#525252;white-space:nowrap;}
form		{padding:0px;margin:0px;}

input[type="submit"] {background: url("./Images/bg_input_orange.gif");background-position:0px 0px;color:#000000;}

input[type="submit"] {
    width:86px;
    height:22px;
    border: 0.5px solid gray;
    vertical-align:middle;
    text-align:center;
}

#LoginInvit{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width:200px;
	text-align: center;
}
#logintab1 		{width:290px;}
#logintab2		{width:290px;}
#logintab2 td	{border:1px;padding:7px;background-color:#eaeaee;}
#sublogin		{width:200px;}

.LoginInvitVersion	{text-align:left;}
.LoginInvitDate		{text-align:right;}

#LoginInvitcpy a,  #LoginInvitcpy {color:gray;}
 
.grayLine					{padding-top:15px;}
.inputclassic, .inputclassicPass, #logintab2 	{border:1px solid gray;}
#logintab2 										{border-top: 2px solid gray;border-bottom: 2px solid gray;}
.inputclassic, .inputclassicPass 				{width:150px;}
.inputclassic									{padding:2px 2px 3px 18px;background: #FFFFFF url("../../img/icones/16x16/user1.gif") no-repeat scroll 1px 1px;}
.inputclassicPass								{padding:2px 2px 3px 18px;background: #FFFFFF url("../../img/icones/16x16/key1.gif") no-repeat scroll 1px 1px;}
.msg, body 										{color:#FFFFFF;}
.msg											{border: 4px solid white;padding:3px;text-align:center;background-color:red;margin:5px;}

