/**
Oreon is developped with GPL Licence 2.0 :
http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt
Developped by : Julien Mathis - Romain Le Merlus

Adapted to Pear library by Merethis company, under direction of Cedrick Facon, Romain Le Merlus, Julien Mathis

The Software is provided to you AS IS and WITH ALL FAULTS.
OREON makes no representation and gives no warranty whatsoever,
whether express or implied, and without limitation, with regard to the quality,
safety, contents, performance, merchantability, non-infringement or suitability for
any particular or intended purpose of the Software found on the OREON web site.
In no event will OREON be liable for any direct, indirect, punitive, special,
incidental or consequential damages however they may arise and even if OREON has
been previously advised of the possibility of such damages.

For information : contact@oreon-project.org
*/

body	{	background-color:#FFFFFF;
			font-family: Verdana;
			font-size: 11px;
			margin: 0; 
			text-align: center; 
}

/* General */ 

img 		{border:0;}
table		{empty-cells: show; border-spacing:0px; border-collapse:collapse;}
input		{font-family: Verdana, Arial, sans-serif;	font-size: 10px;	font-weight: normal; border-style: none; padding:2px;}
textarea	{font-family: Verdana, Arial, sans-serif;	font-size: 10px;	font-weight: normal;}
checkbox	{font-family: Verdana, Arial, sans-serif;	font-size: 10px;	font-weight: normal; padding: 2px;}
select		{font-family: Verdana, Arial, sans-serif; font-size: 10px; font-weight: normal; border-style: none;}
option		{font-family: Verdana, Arial, sans-serif;	font-size: 10px;	font-weight: normal;}
td			{padding:1px; color: #525252; font-family: Verdana, Arial, sans-serif; font-size: 9px;	white-space: nowrap;}
tr			{}
a			{text-decoration: none;}
a:hover		{text-decoration: underline;}
 
input[type="submit"],input[type="button"],input[type="reset"]{
    background-position:0px 0px;
    color:#000000;
    font-family:Verdana, Tahoma;
    font-size:11px;
    width:86px;
    height:22px;
    border: 0.5px solid gray;
    vertical-align:middle;
    text-align:center;
}

#LoginInvit{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width:200px;
	text-align: center;
}

#logintab1 	{width:253px;}

#logintab2 	{
	width:100%;
	border:1px solid gray;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

#logintab2 td{
	border:1px;
	padding:5px;
	background-color:#eaeaee;
}

#sublogin{
	width:200px;
	text-align:center;
}

.LoginInvitVersion	{text-align:left;}
.LoginInvitDate		{text-align:right;}

#LoginInvitcpy a,  #LoginInvitcpy {
	 color:gray;
	 text-align:center;
}
 
.inputclassic{
    border: 1px solid gray;
}

input[type="submit"],input[type="reset"]{
    background: url("./Images/bg_input_orange.gif") ;
}

.msg	{
	font-family: Verdana, Arial, sans-serif; 
	font-size: 12px; 
	font-weight: normal; 
	border: 4px solid white; 
	padding:3px; 
	text-align: center; 
	background-color:red; 
	color:white; 
	margin:5px;
}