/*
 * Copyright 2005-2011 Centreon
 * Centreon is developped by : Julien Mathis and Romain Le Merlus under
 * GPL Licence 2.0.
 * 
 * This program is free software; you can redistribute it and/or modify it under 
 * the terms of the GNU General Public License as published by the Free Software 
 * Foundation ; either version 2 of the License.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A 
 * PARTICULAR PURPOSE. See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with 
 * this program; if not, see <http://www.gnu.org/licenses>.
 * 
 * Linking this program statically or dynamically with other modules is making a 
 * combined work based on this program. Thus, the terms and conditions of the GNU 
 * General Public License cover the whole combination.
 * 
 * As a special exception, the copyright holders of this program give Centreon 
 * permission to link this program with independent modules to produce an executable, 
 * regardless of the license terms of these independent modules, and to copy and 
 * distribute the resulting executable under terms of Centreon choice, provided that 
 * Centreon also meet, for each linked independent module, the terms  and conditions 
 * of the license of that module. An independent module is a module which is not 
 * derived from this program. If you modify this program, you may extend this 
 * exception to your version of the program, but you are not obliged to do so. If you
 * do not wish to do so, delete this exception statement from your version.
 * 
 * For more information : contact@centreon.com
 * 
 */

.login_wrapper {
    top: 24%;
    position: relative;
}
.logintab{
    background-color: #fff;
    border: 1px solid #d1d2d4;
    border-radius: 4px;
    width: 254px;
    margin: 0 auto;
    padding: 1em;
}

#logintab1 {
    width: 100%;
}

.LoginInvitVersion {
    padding: 1em 0;
}

.error_msg {
    position: absolute;
    left: 40px;
    top: -60px;
}

.msg    {
    background-color: #ffe6ec;
    border: 1px solid #e00b3d;
    color: #e00b3d;
    font-weight: bold;
    margin: 5px auto;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
    width: 32%;
}

/* button */

.btc {
    border-radius: 4px !important;
    padding: 4px 10px;
    border: none !important;
    outline: none !important;
    color: #fff;
}

.bt_success {
    background: #88b917 !important;
}

.bt_info {
    background: #00bfb3 !important;
}
.button_group {
    text-align: right;
    padding: 8px;
}

.button_group_center {
    text-align: center;
    margin: .8em;
}

.button_group input{
    padding: 0.4em .8em !important;
    text-decoration: none;
    color: #fff !important;
}


/* Link */
a           {text-decoration:none;}
a:hover     {text-decoration:underline;}

.LoginInvitVersion, .msg, #sublogin, #LoginInvitcpy a, #LoginInvitcpy {text-align:center;}

table {empty-cells:show; border-spacing:0px; border-collapse:collapse;font-family:'Bitstream Vera Sans', 'arial', 'Tahoma', 'Sans serif';}
body, input, textarea, checkbox, select, option, td, .msg, input[type="submit"], label, table {font-family:'Open Sans', 'arial', 'Tahoma', 'Sans serif';font-weight: normal;font-size:11px;}

label {
    color: #007f77;
}

input, textarea, checkbox, select, option, input[type="submit"],body {font-size: 11px;}
.msg        {font-size:12px;}
img         {border:0;}
input, select {
    padding: 4px;
    font-size: 11px !important;
    border: 1px solid #bcbdc0;
    line-height: 18px;
    width: 100%;
}
checkbox    {padding:2px;}
select      {border-style:none;}
td          {padding:3px;color:#525252;white-space:nowrap;}
form        {padding:0px;margin:0px;}

input[type="submit"] {
    margin-top: .5em;
}

input[type="submit"].bt_info:hover {
    background-color: #00a499 !important;
    transition: .7s all ease;
}

#LoginInvit{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    text-align: center;
}

.LoginInvitLogo {
    width: 254px;
    margin: 2em auto;
    position: relative;
}

#logintab2      {width:290px;}
#logintab2 td   {border:1px;padding:7px;background-color:#eaeaee;}
#sublogin       {width:200px;}

.LoginInvitDate     {text-align:right;}

#LoginInvitcpy a,  #LoginInvitcpy {color:gray;}
 
.grayLine                   {padding-top:15px;}

