/*
 * Copyright 2005-2009 MERETHIS
 * Centreon is developped by : Julien Mathis and Romain Le Merlus under
 * GPL Licence 2.0.
 * 
 * This program is free software; you can redistribute it and/or modify it under 
 * the terms of the GNU General Public License as published by the Free Software 
 * Foundation ; either version 2 of the License.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A 
 * PARTICULAR PURPOSE. See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with 
 * this program; if not, see <http://www.gnu.org/licenses>.
 * 
 * Linking this program statically or dynamically with other modules is making a 
 * combined work based on this program. Thus, the terms and conditions of the GNU 
 * General Public License cover the whole combination.
 * 
 * As a special exception, the copyright holders of this program give MERETHIS 
 * permission to link this program with independent modules to produce an executable, 
 * regardless of the license terms of these independent modules, and to copy and 
 * distribute the resulting executable under terms of MERETHIS choice, provided that 
 * MERETHIS also meet, for each linked independent module, the terms  and conditions 
 * of the license of that module. An independent module is a module which is not 
 * derived from this program. If you modify this program, you may extend this 
 * exception to your version of the program, but you are not obliged to do so. If you
 * do not wish to do so, delete this exception statement from your version.
 * 
 * For more information : contact@centreon.com
 * 
 * SVN : $URL
 * SVN : $Id
 * 
 */

body {background-color:#FFF;}

* {margin:0;padding:0;}

/* Define Polices */
body,input,option,select,table,div,td,a,textarea,.link a {font-family:'Bitstream Vera Sans', arial, Tahoma, 'Sans serif';}

/* Defined Polices font and color*/
body,input,option,select,tab,div,td,a,textarea {
	color:#555;
	font-size:11px;
	margin:0;
	padding:0;
}

.link a,.FormHeader 	{font-size:12px;}

/* Set Basic objects properties */
a 		{text-decoration:none;}
a:hover {text-decoration:underline;}

img,hr {border:0;padding:0}

table {border-collapse:collapse;empty-cells:show;border-spacing:0;}

img 		{margin:0 0 -4px;padding:0;}
checkbox 	{border:0px;margin:0;padding:0px;}
select 		{border-style:none;padding-left:1px;padding-right:1px;}
hr 			{background-color:#CCC;height:1px;margin-bottom:10px;margin-top:3px;}
form		{padding-bottom:10px;}

option 		{padding-left:1px;padding-right:1px;}

#header 	{background:url("Images/bg_banner.gif") top repeat-x;height:83px;padding-left:20px;}
#logo 		{position:absolute;left:15px;top:10px;}

#logli,#logOut,#date {color:#525252;font-weight:700;position:absolute;} 

#logli 		{right:10px;text-align:right;top:50px;width:450px;}
#date 		{font-size:10px;right:20px;top:131px;}
#logOut 	{right:10px;top:131px;}

.TcTD 		{padding:4px;}
.help 		{position:absolute;right:15px;top:15px;}

.pathWay 	{padding:0px;margin:0px;color:#5a5a5a;}
.imgPathWay {border:0;margin:0 0 -2px;padding:0;}

#linkBar 		{font-weight:700;position:absolute;right:0;text-align:right;top:110px;width:150px;}
#linkBar img 	{margin-left:4px;}

.separator 		{color:#000000;font-style:italic;font-weight:700;}
.list_separator {text-align:center;background-color:#99CC55;}

/* Info Bulle */
a.infobulle 		{position:relative;text-decoration:none;z-index:24;}
a.infobulle:hover 	{z-index:25;}

/* Menu */
#Tmenu 		{vertical-align:top;}

/* Menu 1 */

#menu_1 		{background-image:url("Images/menu_bg.gif");background-position:top left;background-repeat:repeat-x;height:28px;}
#menu_1 li 		{background:url("Images/menu_r.gif") right no-repeat;float:left;height:20px;list-style-type:none;padding-right:1px;text-align:center;}
#menu_1 li div 	{float:left;height:24px;padding-left:7px;padding-right:3px;padding-top:3px;}
#menu_1 li a 	{color:#555;font-size:13px;text-decoration:none;}
#menu1_bgimg_ 	{float:left;}
#menu1_bgcolor 	{height:28px;}

/* Menu 2 */

#menu_2 		{color:#000;padding-bottom:1px;word-spacing:3px;}
#menu_2 a 		{color:#555;font-size:11px;padding-left:5px;padding-right:2px;text-decoration:none;}
.separator_menu2{color:#BBB;font-weight:bolder;}


/* Menu 3 */
.Tmenu3 	{background-color:#fff;border-collapse:collapse;}
.Tmenu3 .top .left,.Tmenu3 .top .right,.Tmenu3 .bottom .left,.Tmenu3 .bottom .right {height:9px;width:10px;}
div.menuLeft 	{margin:0px;padding:3px;background-color:#FFFFFF;border:1px #CDCDCD solid;white-space:nowrap;margin-bottom:6px;margin-bottom:50px;}
#menu_3 a:hover {color:#E8AB5C;}
#menu_3 li 		{list-style-type:none;padding-left:1px;}
#menu3_bgcolor 	{background:#FFF;}

/* Pagination */
div.pagination 		{margin-left:40%;}
.otherPageNumber 	{color:#5050FF;}
.currentPageNumber 	{color:#ff0a0a;}
.page_limit 		{background-color:#BFD0E2;border:1px;border-color:#eff1f6;border-style:solid;color:#fff;font-weight:700;padding-bottom:3px;padding-left:25px;width:80px;}
.mini_checkbox 		{height:12px;width:12px;top:-5px;}
#QuickSearch 		{position:absolute;right:10px;top:86px;}

#mainnav 			{list-style-type:none;position:absolute;z-index:2;}
#mainnav li 		{float:left;padding:3px;}

#resume_light, #tactical_light 				{position:absolute;right:10px;top:10px;}
.Resume_light_table, .tactical_light_table 		{color:#454545;font-size:8px;}
.Resume_light_header					{background-image: url("./Images/bg_header_bluegray.gif");background-position:top left;background-repeat:repeat-x;text-align:center;padding:1px 3px;}
.Resume_light_table td 						{border:1px SOLID #AEAEAE;padding:2px;}

/* Warning */ 
.msg 	{background-color:red;border:1px solid #000;color:#FFF;font-weight:400;margin:5px;padding:3px;text-align:center;}
#centreonMsg 	{
	top:50px;
	height:20px;
	left:450px;
	overflow:auto;
	position:absolute;
	width:310px;
	text-align:center;
	border-radius:4px;
}


div.uptodate,div.updateSecu,div.update,div.update_readme,div.update_output,div.graph_footer,div.left_menu {margin:3px;padding:3px;}
div.uptodate,div.updateSecu,div.update,div.update_readme,div.graph_footer,div.left_menu,div.menuLeft,div.updateError{border-radius:4px;}

div.uptodate 	{background-color:#DFF9E0;border:1px #ADC7A1 solid;}
div.updateSecu 	{background-color:#F9EDED;border:1px #E3858C solid;}
div.update 	{background-color:#FEF7DB;border:1px #FDC11E solid;}
div.updateError	{background-color:#fa6f6c;border:1px #AEAEAE solid;}
div.update_readme,div.update_output {background-color:#FFF;border:1px #AEAEAE solid;}


/* Footer */
#footer 		{float:left;width:100%;}
#footerline1 		{height:2px;width:100%;}
#footerline2 		{height:6px;width:100%;}

/* Specifique Appli */
/*  Arbo ACL */
.arbo_a 	{margin-left:30px;padding-top:0;}
.arbo_a li 	{list-style:none;margin-left:0;padding-left:0;padding-top:1px;}
.arbo_b 	{display:none;margin-left:40px;padding-top:1px;}
.arbo_c 	{display:none;margin-left:50px;padding-top:0;}
.arbo_d 	{display:none;list-style:none;margin-left:30px;padding-top:5px;}

/* Search Options */
.search_input_host 	{padding:2px 2px 3px 18px; background: #FFFFFF url("../../img/icones/16x16/server_network.gif") no-repeat scroll 1px 0px;}
.search_input_active_host 	{padding:2px 2px 3px 18px; background: #F778A1 url("../../img/icones/16x16/server_network.gif") no-repeat scroll 1px 0px;}
.search_input_service 	{padding:2px 2px 3px 18px; background: #FFFFFF url("../../img/icones/16x16/gear.gif") no-repeat scroll 1px 0px;}
.search_input_active_service 	{padding:2px 2px 3px 18px; background: #F778A1 url("../../img/icones/16x16/gear.gif") no-repeat scroll 1px 0px;}

.search_input_active	{background-color:#F778A1;}
.search_input_found 	{background-color:#99C68E;}

.search_input_host, .search_input_active_host, .search_input_service, .search_input_active_service, .search_input_active, .search_input_found {height:14px;}

/* Log Options */
.ajaxOption             {margin:0px 0px -5px 0px;border-collapse:separate;empty-cells:show;background-image:url("./Images/bg_header_bluegray.gif");background-position:top left;background-repeat:repeat-x; color:#666;border: 2px #cccccc solid;border-radius:2px;}
.ajaxOption td          {padding:2px 4px 2px 4px;}
.ajaxOption table td    {background-image:url("./Images/bg_header_bluegray.gif");background-position:top left;background-repeat:repeat-x; color:#666;}
.ajaxOption input       {margin-right:5px;}


/* Taktical Overview */
.SubTableTactical table {margin:3px;}
.SubTableTactical td,.SubTable2Tactical td {vertical-align:top;width:120px;}
.SubTableTactical td 	{background-color:#E6E6E6;}
.SubTacticalDT 			{background-color:#D9D9D9;border:2px #FFF solid;}
.tactical_light_table td 	{border:1px SOLID #AEAEAE;width:120px;}
.tactical_light_header 		{background-color:#eaeaee;background-image:url("./Images/bg_header_bluegray.gif");background-position:top left;background-repeat:repeat-x;color:#666;}
.tacWarn 					{background-color:#F8C706;}
.tacPB 						{background-color:#2AD1D4;}
#hostStats 										{margin-top:10px;}
#hostStats,#serviceStats,#unhandledproblems 	{border:1px #CCC solid;margin-bottom:20px;}
.tacticakDiv 									{border:1px #CCC solid;}

.FormHeader .td {padding-left:2px;}

.FormRowField 	{padding-left:40px;vertical-align:top;white-space:normal;}
.FormRowValue 	{padding-left:5px;}

/* Line alternate */
.tab table .ListHeader td {border-top-width:0;}

.list_one td,.tab .list_one td,
.list_two td,.tab .list_two td,
.list_three td,.tab .list_three td,
.list_four td, .tab .list_four td,
.list_lvl_2 td,.tab .list_lvl_2 td,
.list_lvl_1 td,.tab .list_lvl_1 td,
.list_up td,.tab .list_up td,
.list_down td,.tab .list_down td,
.line_ack td,.tab .line_ack td,
.line_downtime td, .tab .line_downtime td,
.list_unreachable td,.tab .list_unreachable td {border-left-style:solid;border-top-style:solid;border-width:0.1px 0 0 0.1px;}

/*
.limitPage 	{background-color:#BFD0E2;border:1px;border-color:#eff1f6;border-style:solid;color:#fff;font-weight:700;padding-bottom:3px;padding-left:4px;padding-top:1px;text-align:left;width:160px;}
.pageNumber {background-color:#BFD0E2;border:1px;border-color:#eff1f6;border-style:solid;color:#fff;font-weight:700;padding-bottom:3px;padding-right:3px;padding-top:4px;text-align:right;width:80px;}
*/

.ListHeader 			{font-weight:700;vertical-align:top;}
.ListHeader td 			{border-left-style:solid;border-left-width:0.1px;border-top-style:solid;border-top-width:0.1px;font-weight:700;height:18px;padding:1px 3px;vertical-align:middle;}
.ListColHeaderPicker 		{padding:1px 3px;text-align:center;vertical-align:middle;width:10px;}
.ListColHeaderCenter 		{padding:1px 3px;text-align:center;}
.ListColHeaderLeft 		{padding:1px 3px;text-align:left;}
.ListColHeaderRight		{padding:1px 3px;text-align:right;}
.ListColHeaderWrap 		{padding:1px 3px;text-align:left;white-space:normal;}
#ListColHeaderLeft div 		{padding-left:0;}

.ListColFooterRight,.ListColFooterLeft,.ListColFooterCenter {border-top-style:solid;border-top-width:0.1px;}

.ListColNoWrap 						    {white-space:normal;}
.ListColFooter1						    {padding:1px 3px;}
.ListColFooterLeft,	.ListColLeft 			    {text-align:left;}
.ListColCenter,.ListColLeft,.ListColRight,.ListColNoWrap    {padding:1px 3px;}
.ListColRight 						    {padding:1px 3px;}

* html #ListTable td,#ListTableMedium td,#ListTableSmall td,.ListTable td,.ListTableMedium td,.ListTableSmall td {margin:0;padding:0 3px;}
.ListTableSmall a,.ListTable a,.ListTableMedium a,.ListTableSmall a {color:#666;z-index:5;}
.ListTableMedium 		{width:60%;}
.ListTableSmall 		{width:40%;}
.ListTableMultiTp 		{border-width:0;width:100%;}
.ListTable,.ListTableMedium,.ListTableSmall,.ListTableMultiTp {border-collapse:separate;border-spacing:0;border-style:solid;empty-cells:show;}
.ListTable,.ListTableMedium,.ListTableSmall {border-width:1px;}
.ListTable td,.ListTableMedium td,.ListTableSmall td {padding-bottom:2px;padding-top:2px;}

.tab .ListTable,.tab .ListTableMedium,.tab .ListTableSmall {margin-top:21px;}

.TableFooter {margin-bottom:4px;margin-top:8px;width:100%;z-index:1;}

.list_lvl_1, .list_lvl_2 {font-size:12px;font-weight:700;vertical-align:middle;}

.ListColLvl2_name {padding-left:15px;}



/* End Valide */


/* Specifique */

.warn {
background-color:orange;
border:2px solid #FFF;
color:#FFF;
font-weight:400;
margin:5px;
padding:3px;
text-align:center;
}

#debug {
height:63px;
left:450px;
overflow:auto;
position:absolute;
top:2px;
width:310px;
}

/* le contenu de la balise span ne sera visible que pour l'etat a:hover */
a.infobulle:hover span {
background-color:#808080;
border:1px gray;
display:block;
font-weight:normal;
left:2em;
padding:1px;
position:absolute;
text-align:justify;
top:2em;
}

.ColPopup {
white-space:nowrap;
}

.bulleDashtab {
border-collapse:separate;
width:100%;
}

.bulleDashtab td {
background-color:#e0e0ea;
border:0.5px solid #FFF;
border-collapse:separate;
}

.bulleDash {
font-size:12px;
padding:2px 5px;
text-align:right;
}

.bulleDashleft {
font-size:12px;
padding:2px 5px;
text-align:left;
}

.ListHeaderPopup	{background-color:#FFF;border-left:none 0 red;font-weight:700;}
.ListHeaderPopup td 	{border:solid 0 red;}

/* END Info Bulles */


.tab 	{display:none;float:left;z-index:1;}
#tab1 	{display:block;float:left;z-index:1;}

.a a,.b a {
color:#636363;
font-size:11px;
font-weight:700;
text-align:left;
}

.a {
border-bottom:none;
border-style:solid;
border-width:1px;
margin-left:5px;
margin-top:1px;
}

.b {
border-style:solid;
border-width:1px;
margin-bottom:1px;
margin-left:5px;
}

.c {
border-bottom:none;
border-style:solid;
border-width:1px;
float:right;
margin-left:5px;
margin-top:0;
}

#validForm input 	{font-size:11px;font-weight:400;margin-top:5px;}
#validForm 			{float:right;padding:10px;text-align:center;width:98%;}
#validFormTop 		{position:absolute;right:6px;top:155px;z-index:10;}


/* ToolBar */
.cachediv 			{display:none;}
.consol_button 		{float:left;height:20px;}
.ToolbarTable 		{margin:2px 0px;width:100%;padding:0;}
.ToolbarTR 			{padding-left:10px;}
.ToolbarPagination	{text-align:center;}

input,select,option,input,textarea,checkbox,.list_one a,.list_two a {font-weight:400;}
input,checkbox,a.infobulle:hover table 								{border:1px gray solid;}

td,a.infobulle:hover td {padding:0px;}

#menu_3 a,#footer a,#logli a,#logOut a {color:#666;}

#Tcontener,#Tmainpage,#tabLegend,div.tab,.Tmenu3 .center,.ListTable {width:100%;}

.Small,.pagination,.ListColPicker,.ListColFooterCenter,.ListColCenter,.ListCol1,#page a,#page {text-align:center;}

a.infobulle span,.img_volante 		{display:none;position:absolute;z-index:500;}

#validForm label {padding:2px 4px;}

.FormFooter,.ListColFooter5,.ListColFooter5 a,.ListColFooterCenter,.ListColFooterLeft,.ListColFooterRight 	{font-size:12px;font-weight:700;padding-right:10px;}
.ListColFooterRight,.ListColRight,.Toolbar_pagelimit {text-align:right;}
.list_one,.list_two,.list_three,.list_four,.line_ack,.line_downtime,.list_unreachable		{font-weight:400;vertical-align:middle;}

div.ams		{text-align:center;font-style:italic;}
