/*
 * Copyright 2005-2011 Centreon
 * Centreon is developped by : Julien Mathis and Romain Le Merlus under
 * GPL Licence 2.0.
 *
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software
 * Foundation ; either version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
 * PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program; if not, see <http://www.gnu.org/licenses>.
 *
 * Linking this program statically or dynamically with other modules is making a
 * combined work based on this program. Thus, the terms and conditions of the GNU
 * General Public License cover the whole combination.
 *
 * As a special exception, the copyright holders of this program give Centreon
 * permission to link this program with independent modules to produce an executable,
 * regardless of the license terms of these independent modules, and to copy and
 * distribute the resulting executable under terms of Centreon choice, provided that
 * Centreon also meet, for each linked independent module, the terms  and conditions
 * of the license of that module. An independent module is a module which is not
 * derived from this program. If you modify this program, you may extend this
 * exception to your version of the program, but you are not obliged to do so. If you
 * do not wish to do so, delete this exception statement from your version.
 *
 * For more information : contact@centreon.com
 *
 */

body {
    background-color:#FFF;
}
* {
    margin:0;
    padding:0;
}
html {
    height: 100%;
}
body {
    font-family: 'Open Sans', Arial, Tahoma, Helvetica, Sans-Serif;
    color:#555;
    font-size:11px;
    height: 100%;
}
.link a {
    font-size:12px;
}

/* Set Basic objects properties */
a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
img, hr {
    border:0;
    padding:0;
}
ul {
    list-style-type:none;
}

table {
    border-collapse:collapse;
    empty-cells:show;
    border-spacing:0;
}

img {
    margin:0px;
    padding:0;
}

input, textarea {
    border:1px solid #BBBBBB;
}

input, select {
    padding: 4px;
    font-size: 11px !important;
    border: 1px solid #bcbdc0;
    line-height: 18px;
}

input[type="checkbox"]  {
        border:0px;
        margin:0;
        padding:0px;
        vertical-align: middle
}
input[type="radio"] {
    vertical-align: middle;
}
select {
    padding: 6px;
}

select[multiple="multiple"] {
    overflow:auto;
}
hr          {background-color:#CCC;height:1px;margin: 3px 0;}
form        {padding-bottom:10px;}

option      {padding-left:1px;padding-right:1px;}

iframe {
    border: none;
}

label {
    vertical-align: middle;
}


pre.wrap {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.margin_right {
    margin-right: 6px;
}

.table{
    width: 100%;
    text-overflow: ellipsis;
    white-space: initial;
}

.subTable {
    margin: 4px 8px;
    width: auto !important;
    line-height: 18px;
}

p.description {
    color: #a7a9ac;
    padding: 4px 0px;
}

p.description a, p.description a:visited {
    color: #4ccaff;
}

/* -------- wrappers ----------*/

.center_box {
    width: 450px;
    border: 1px solid #d1d2d4;
    margin: auto;
    border-radius: 4px;
}

.center_box img {
    text-align: center;
    border: 0;
    display: block;
    margin: 24px auto;
}

.center_box a {
    text-align: center;
}

.border-radius {
    border: 1px solid #d1d2d4;
    padding: 2px;
    border-radius: 4px;
    display: inline-block;
}

/* ------ slider ------------*/

#rotation_timer {
    width: 180px !important;;
    margin: 12px 10px !important;;
    background-color: #f1f1f1 !important;;
    border: 1px solid #bcbdc0 !important;;
}

.ui-slider .ui-slider-handle {
    width: 8px !important;
    height: 8px !important;
    background: #bcbdc0 !important;
    border: 1px solid #a7a9ac !important;
    z-index: 3 !important;
    border-radius: 4px !important;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.3em !important;
}

.ui-slider-horizontal {
    height: .2em !important;
}

#timer_value {
    text-align: center;
    color: #00bfb3;
}

/* ------ Select 2 ---------*/

.select2-container {
   width: 213px !important;
}

.select2-selection {
    cursor: initial !important;
}

.select2-container .select2-selection--multiple {
    min-height: auto !important;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #bbb !important;
    border-radius: 0 !important;
}

/* Selected element on select2 */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 3px !important;
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 0;
    margin-right: 2px !important;
    padding: 0 !important;
}

/* Remove button on element in multiple select select2 */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
    margin-left: 2px;
    padding: 2px 5px;
    background-color: #0072ce;
    border: 1px solid #4dcaff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 0 !important;
}

/* Content for display text in selected element on select 2 fields */
.select2-container--default .select2-selection--multiple .select2-selection__choice .select2-content {
    padding: 2px 5px;
    border-top: 1px solid #4dcaff;
    border-bottom: 1px solid #4dcaff;
    border-right: 1px solid #4dcaff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0072ce;
    background-color: #bfecff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #0072ce;
    color: black !important;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0 !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #bfecff !important;
}

.formTable .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    min-height: 28px;
}

.ajaxOption .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    max-height: 80px;
}

.formTable .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    min-height: 28px;
}

/* Selected elements  */
.select2-results-header {
    width: 100%;
    z-index: 5000;
    position: relative;
    background-color: #f4f4f4;
    border-bottom: 1px solid #e7e7e8;
}

.select2-results-header:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.select2-results-header__nb-elements {
    display: inline-block;
    margin: 5px 3px;
    padding: 4px 0;
    color: #009fdf;
}

.select2-results-header__select-all {
    display: inline-block;
    float: right;
    margin: 5px 3px;
}

.clearAllSelect2 {
     margin-left: 4px;
 }

.clearAllSelect2 img {
    vertical-align: middle;
}
/* -------- Tooltip ------- */
#WzTtDiV {
    overflow: visible !important;
    border: 1px solid #d1d2d4;
    border-radius: 4px;
    background: #fff;
}
#WzTiTl {
    background: #fff !important;
}

#WzClOsE {
    padding: 1px 0px !important;
    cursor: pointer !important;
    color: #e00b3d !important;
    font-size: 8px !important;
    background: #fff !important;
    border: 2px solid #e00b3d !important;
    border-radius: 20px !important;
    margin: 0px -15px 0px 0px;
    display: inline-block;
    top: -1.2em;
}
#WzTiTlI,#WzTtShDwR,#WzTtShDwB {
    display: none;
}

#WzBoDy {
    position: relative !important;
    z-index: 1 !important;
    border: none !important;
    padding: 0px 6px !important;
    background: none !important;
    top: -1em !important;
}
#WzBoDyI {
    color: #555 !important;
    text-align: left !important;
    line-height: 16px !important;
}

/* ------ START : Colors -----*/
.red {
    color: #e00b3d;
}
/* ------ END : Colors -----*/

/* ------------ Badge -----------*/

.badge  {
    display: inline-block;
    border-radius: 18px;
    color: #fff;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.badge a            {
                        display: inline-block;
                        padding: 4px 8px;
                        color: #fff;
                    }

/* ----------- States --------------- */

.default_badge      {background-color: #00a499;}
.host_down, .danger, .service_critical  {background-color: #e00b3d;}
.host_unreachable, .unknown     {background-color: #818285;}
.host_downtime      {background-color: #cc99ff;}

.service_ok,.host_up, .success  {background-color: #88b917;}
.service_warning, .warning  {background-color: #ff9a13;}
.pending    {background-color: #2AD1D4;}
.service_unknown    {background-color: #bcbdc0;}
.info {background-color: #00bfb3;}

.bdg_dtm:before {
    padding: 2px 4px;
    content: 'DTM';
    z-index: -7;
    background-color: #CC99FF;
    color: white;
    font-size: 8px;
    border-radius: 2px;
    font-weight: bold;
}
.badge_downtime {
    padding: 2px;
    background-color: #CC99FF;
    border-radius: 4px;
    display: inline-block;
}
.badge_undetermined {
    padding: 2px;
    background-color: #D1D2D4;
    border-radius: 4px;
    display: inline-block;
}

/*------- START : Size icons --------*/

.ico-8 {
    width: 8px;
    height: 8px;
}

.ico-10 {
    width: 10px;
    height: 10px;
}

.ico-12 {
    width: 12px;
    height: 12px;
}

.ico-14 {
    width: 14px;
    height: 14px;
}

.ico-16 {
    width: 16px;
    height: 16px;
}

.ico-18 {
    width: 18px;
    height: 18px;
}
.ico-20 {
    width: 20px;
    height: 20px;
}
.ico-22 {
    width: 22px;
    height: 22px;
}
/* ------ END : Size icons
/* ------ START : Buttons -----*/
.btc {
    border-radius: 4px !important;
    padding: 4px 10px;
    border: none !important;
    outline: none !important;
    color: #fff;
    cursor: pointer;
}
a.btc {
    color: #fff !important;
    padding: 4px 10px;
    margin : 0px 4px;
    cursor: pointer;
}

.bt_default {
    background: #a7a9ac !important;
}

.bt_success {
    background: #88b917 !important;
}

.bt_danger {
    background: #e00b3d !important;
}

.bt_info {
    background: #00bfb3 !important;
}

.bt_warning {
    background: #ff9a13 !important;
}

.bt_action {
    background-color: #00ccbf;
    color: #fff;
    border: 1px solid #00a499;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px !important;
}

.bt_action:hover {
    background-color: #00a499 !important;
    border: 1px solid #007f77 !important;
}

.bt_default.ui-state-active,
.bt_default.ui-state-hover{
    background: #919294 !important;
    color: #fff !important;
    outline: none !important;
}

.bt_success.ui-state-active,
.bt_success.ui-state-hover{
    background: #77a115 !important;
    color: #fff !important;
    outline: none !important;
}

.bt_danger.ui-state-active,
.bt_danger.ui-state-hover{
    background: #ca0a37 !important;
    color: #fff !important;
    outline: none !important;
}

.bt_info.ui-state-active,
.bt_info.ui-state-hover{
    background: #03a89e !important;
    color: #fff !important;
    outline: none !important;
}

.bt_warning.ui-state-active,
.bt_warning.ui-state-hover{
    background: #eb8e12 !important;
    color: #fff !important;
    outline: none !important;
}

.button_group {
    text-align: right;
    padding: 8px;
}

.button_group_center {
    text-align: center;
    margin: .8em;
}

.button_group input{
    padding: 0.4em .8em !important;
    text-decoration: none;
    color: #fff !important;
}

.button_group input[type="checked"] {
    vertical-align: bottom;
}
/* ------ END : Buttons -----*/

/* -------- START: Form ---------*/
input[type="submit"] {
    padding : 4px 10px;
    color: #fff;
}
/*--------- END : Form ---------*/

/* ------ END : Global -----*/
/* ------ START : Header -----*/

#header {
    position: relative;
    background-color: #e7e7e8;
    height: 70px;
    padding-left: 20px;
}
#centreon_logo {
    width: 18em;
    float: left;
    margin-top: 10px;
}
#logo {
    position: absolute;
    max-width: 100%;
    top: 5px;
}

#logli {
    display: inline-block;
    font-size: 12px;
    position: absolute;
    top: 45px;
    right: 10px;
}

form#AjaxBankBasic {
    padding-bottom: 0px;
}

#contener {
    height: calc(100% - 170px);
}
.container {
    position: absolute;
    right: 10px;
    top: 77px;
}

#Tcontener {
    height: 100%;
    position: relative;
    margin-bottom: 35px;
}

.GlobalContainer tr {
    vertical-align: top;
}

/* ------- START : Table ------- */



.ListTable tr{
vertical-align: middle;
}

.ListTableSmall {
    border: 1px #e7e7e8 solid;
    border-radius: 4px;
    margin-bottom: 8px;
}

.ToolbarPagination img {
    vertical-align: bottom;
    width: 12px;
    height: 12px;
}

/* ------- END : Table -----------*/
/* ------ START : Indicators -----*/

#resume_light {
    background-color: #f6f6f7;
    float: right;
    width: auto;
    border-radius: 0px 0px 0px 10px;
}

#resume_light table {
    border-collapse:separate;
    border-spacing: 2px;
    float: right;
}

.Resume_light_table th {
    border-right: 1px solid #e7e7e8;
    text-align: right;
 }

.Resume_light_table th span,
.Resume_light_table td span{
    display: inline-block;
    border-radius: 10px;
    color: #fff;
}

.Resume_light_table th span a,
.Resume_light_table td span a{
    display: inline-block;
    padding: 2px 8px;
    color: #fff;
 }

.Resume_light_table th span {
    background-color: #00a499;
    margin-right: 5px;
}

.Resume_light_table td span img{
    display: inline-block;
    padding: 5px 6px;
    vertical-align: middle;
}

.Resume_light_table th, .Resume_light_table td  {
    padding:3px;
    font-size: 11px;
}

.Resume_light_table td {
    text-align: center;
    float: left;
}
/* ------ END : Indicators -----*/

/* ------ END : Header -----*/
/* ------ START : Menu -----*/

#mainnav {
    float: left;
}
#mainnav li {
    float:left;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-bottom: -1px;
}

#mainnav li.a {
    border-bottom: 1px solid #fff;
}

#mainnav li a {
    padding: .6em .8em .6em .8em;
    display: inline-block;
}

.a {
    margin-left:2px;
    margin-top:1px;
    background-color: #fff !important;
}

.b {
    margin-left:3px;
}
.c {
    border-width:1px;
    float:right;
    margin-left:5px;
    margin-top:0;
}

.headerTabContainer {
    width: 100%;
    float: left;
    margin-bottom: 8px;
}

/* Menu 1 */

#menu_1 {
    background-color : #58585a;
    overflow: hidden;
}
#menu_1 li {
    float:left;
    list-style-type:none;
    padding-right:1px;
    text-align:center;
}
#menu_1 li div  {
    float:left;
}
#menu_1 li a {
    color:#e7e7e8;
    font-size:12px;
    font-weight: bold;
    text-decoration:none;
    padding: 8px 12px;
    display: inline-block;
}
#menu_1 li a:hover {
    background-color: #818285;
}

/* Menu 2 */

#menu_2 {
    color:#000;
    padding-bottom:1px;
    word-spacing:3px;
}
#menu_2 a       {color:#e7e7e8;font-size:11px;padding-left:5px;padding-right:2px;text-decoration:none;}

#menu_2 a{
    display: inline-block;
    padding: 8px 10px;
}
.separator_menu2{color:#BBB;font-weight:bolder;}


/* Menu 3 */

.Tmenu3     {background-color:#fff;border-collapse:collapse;}
.Tmenu3 .top .left,.Tmenu3 .top .right,.Tmenu3 .bottom .left,.Tmenu3 .bottom .right {height:9px;width:10px;}

.title_menu {
    border-bottom: 1px solid #a7a9ac;
}

.title_menu h4 {
    padding-bottom: 4px;
    color: #009fdf;
}

div.menuLeft {
    margin: 0px;
    padding: 10px;
    white-space: nowrap;
    background-color: #FFF;
    -moz-border-radius: 7px / 7px;
    -webkit-border-radius: 7px / 7px;
    -khtml-border-radius: 7px / 7px;
    border-radius: 7px / 7px;
}

.menuLeft ul {
    padding-left: 10px;
}

.menuLeft  li {
    list-style-type: none;
    padding-left: 1px;
    margin-bottom: 2px;
}

#menu_3 a:hover {
    color:#E8AB5C;
}

#menu3_bgcolor  {background:#FFF;}

#date {
    font-size: 12px;
    color: #bcbdc0;
    right: 10px;
    top: 112px;
    margin-right: 10px;
}

#Tmenu {
    vertical-align: top;
    min-width: 160px;
}

.sub-menu {
    overflow: hidden;
}
.sub-menu li {
    float: left;
    list-style-type: none;
}

.sub-menu li a{
    display: inline-block;
    padding: 8px 10px;
}

.Resume_light_table {
    margin-left: 40px;
}

/* ------ END : Menu -----*/

/* ------ START : Details Page ------*/

.globalTitle {

}

.globalTitle td {
    padding: 10px 0;
}

.detail-chart-title {
  text-align: left;
  background-color: #cfedf9;
  padding: 5px 0;
  padding-left: 5px;
}

/* ------ START : info box -----*/

.info_box {
    margin-top: 10px;
    border: 1px solid #d1d2d4 !important;
    background: #f6f6f6 !important;
    border-radius: 4px !important;
    text-align: center !important;
}

.info_box h4 {
    color: #818285 !important;
    margin: 8em 0;
}

/* ------ END : info box -----*/

/* ------ START : Popover-----*/

.inactive {
    display: none;
}

.cntn {
    display: inline-block;
}

.position_toggle_wrapper {
    position: absolute;
    z-index: 100;
}

.footer_toggle_wrapper {
    height:40px;
}


.toggle_wrapper {
    background-color: #fff;
    top: 5.4em;
    z-index: 1;
    border: 1px solid #d1d2d4;
    border-radius: 4px;
}

.toggle_wrapper table{
    width: 100%;
}

.toggle_wrapper iframe {
    width: 100%;
    overflow: hidden;
}

#addView iframe,#editView iframe, #addwdgt iframe{
    height: 198px;
}

#addwdgt {
    max-width: 750px;
}

.table .FormHeader {
    padding: 4px;
    color: #818285;
    border-bottom: 1px solid #d1d2d4;
}

.FormHeader .td {padding-left:2px;}

.FormRowValue {
    padding-left: 5px;
}
.FormRowField {
    padding-left:40px;
    vertical-align:top;
    white-space:normal;
}

.table .FormRowField {
    padding: 0 6px;
    vertical-align: middle;
}

.table .FormRowValue {
    padding: 4px 6px;
}

/* ------ END : Popover-----*/

/* ------ START : Tabs -----*/
.tabs_header {
    background: transparent !important;
    border-radius: 0 !important;
    border-top: 0px solid #fff !important;
    border-right: 0px solid #fff !important;
    border-left: 0px solid #fff !important;
}

#globalView .ui-widget-content {
    border: none;
    background: none;
}

#globalView .ui-state-default,#globalView .ui-widget-content .ui-state-default,#globalView .ui-widget-header .ui-state-default {
    background: #00ccbf;
    border: 1px solid #00ccbf;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    white-space: normal;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #fff !important;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #00a499 !important;
}

#globalView .ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0.8em .2em 0;
    border: 1px solid #00ccbf;
}

#globalView .ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: .4em .4em 0.4em 0.4em;
    text-decoration: none;
}

.viewBody .widgetBody .portlet {
    border: 1px solid #e7e7e8 !important;
    border-radius: 4px;
}

.viewBody .widgetBody .ui-widget-header {
    color: #433f38;
    font-weight: bold;
    background: #e7e7e8;
    border: 0;
    margin: 0 !important;
    border-radius: 0 !important;
    padding: 6px 6px !important;
}

.toggleEdit {
  position: absolute;
  right: 5px;
  top: 5px;
}


/* ------ END : Tabs -----*/

/* ------ START : Forms ------ */
.formTable .ListHeader,
.table .ListHeader{
    background: #fff;
    border-bottom: none;
}
.formTable .ListHeader td,
.table .ListHeader td{
    border-bottom: none;
    padding: 0px 4px !important;
}

.formTable .ListHeader h3,
.table .ListHeader h3 {
    font-weight: normal;
    color: #597f00;
    margin: 4px 0;
    font-size: 1.3em;
}

.formTable .list_lvl_1,
.table .list_lvl_1 {
    background-color: #fff;
}

.formTable .list_lvl_1 .ListColLvl1_name,
.table .list_lvl_1 .ListColLvl1_name,
.ListTable .list_lvl_1 .ListColLvl1_name {
    padding: 6px 0;
    background-color: #f4f4f4;
    border-bottom: 1px solid #e7e7e8;
    border-top: 1px solid #e7e7e8;
}

.formTable .list_lvl_1 h4,
.table .list_lvl_1 h4,
.ListTable .list_lvl_1 h4{
    font-weight: normal;
    color: #009fdf;
    /*margin-left: 12px;*/
    padding: 4px;
    font-size: 1.1em;
}
/* ------ END : Forms -------- */

/* ------ START : Footer -----*/

#footer {
    float:left;
    width:100%;
    background-color: #e7e7e8;
    position: fixed;
    bottom: 0;
    z-index: 111;
}

#footer table tr td{
    padding: 0 10px;
}

#footer a {
    display: inline-block;
    padding: 10px;
}

#tactical_light {position:absolute;right:10px;top:10px;}

.Resume_light_table, .tactical_light_table      {color:#454545;font-size:8px;}

#logOut {color:#525252;font-weight:700;position:absolute;}

#logOut     {right:10px;top:131px;}

.TcTD {
    padding:10px;
}
.help       {position:absolute;right:15px;top:15px;}

.pathWay    {padding:0px;margin:0px;color:#5a5a5a;}
.imgPathWay {border:0;margin:0 0 -2px;padding:0;}

.separator      {color:#000000;font-style:italic;font-weight:700;}
.list_separator {text-align:center;background-color:#99CC55;}

/* Info Bulle */
a.infobulle         {position:relative;text-decoration:none;z-index:24;}
a.infobulle:hover   {z-index:25;}

/* Pagination */

.otherPageNumber    {
    color:#4ccaff;
}
.currentPageNumber {
    color:#005a7f;
}
.page_limit         {background-color:#BFD0E2;border:1px;border-color:#eff1f6;border-style:solid;color:#fff;font-weight:700;padding-bottom:3px;padding-left:25px;width:80px;}
.mini_checkbox      {height:12px;width:12px;top:-5px;}
#QuickSearch {
    position: absolute;
    right: 30px;
}

/* Widget css */
.manageMoreViews {
   display: block;
   height: 16px;
   width: 16px;
   border: 1px solid #009fdf;
   border-radius: 4px;
   margin: 9px 4px;
   float: left;
   cursor: pointer;
}
.manageMoreViews:hover {
   border: 1px solid #005a7f;
}
.more_views_disable {padding:2px 2px 3px 3px; background: url("../../img/icons/circle-down.png") no-repeat center scroll;background-size: 12px 12px;}
.more_views_enable  {padding:2px 2px 3px 3px; background: url("../../img/icons/circle-up.png") no-repeat center scroll;background-size: 12px 12px;}

/* Widget pagination */

.pagination .current {
    background: #009fdf;
    color: #fff;
    border: 1px solid #009fdf;
}

.pagination a {
    border: 1px solid #009fdf;
    color: #009fdf;
    text-decoration: none;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0.3em 0.8em;

    border-radius: 4px;
}

/* Warning */
.msg    {
    background-color: #ffe6ec;
    border: 1px solid #e00b3d;
    color: #e00b3d;
    font-weight: bold;
    margin: 5px auto;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
    width: 30%;
}

.msg strong {
    display: block;
    font-size: 18px;
}

.msg-field {
    display: inline-block;
    padding:6px 0;
    text-align: center;
}

.msg-field.error {
    color: #e00b3d;
}

.msg-field.success2 {
    color: #597f00;
}

#centreonMsg    {
    top:50px;
    height:20px;
    left:450px;
    overflow:auto;
    position:absolute;
    width:310px;
    text-align:center;
    border-radius:4px;
}


div.uptodate,div.updateSecu,div.update,div.update_readme,div.update_output,div.graph_footer,div.left_menu {margin:3px;padding:3px;}
div.uptodate,div.updateSecu,div.update,div.update_readme,div.graph_footer,div.left_menu,div.menuLeft,div.updateError{border-radius:4px;}

div.uptodate    {background-color:#DFF9E0;border:1px #ADC7A1 solid;}
div.updateSecu  {background-color:#F9EDED;border:1px #E3858C solid;}
div.update  {background-color:#FEF7DB;border:1px #FDC11E solid;}
div.updateError {background-color:#fa6f6c;border:1px #AEAEAE solid;}
div.update_readme,div.update_output {background-color:#FFF;border:1px #AEAEAE solid;}

/* Specifique Appli */
/*  Arbo ACL */
.arbo_a     {margin-left:30px;padding-top:0;}
.arbo_a li  {list-style:none;margin-left:0;padding-left:0;padding-top:1px;}
.arbo_b     {display:none;margin-left:40px;padding-top:1px;}
.arbo_c     {display:none;margin-left:50px;padding-top:0;}
.arbo_d     {display:none;list-style:none;margin-left:30px;padding-top:5px;}

/* Search Options */
.search_input_host  {padding:2px 2px 3px 18px; background: #FFFFFF url("../../img/icones/16x16/server_network.gif") no-repeat scroll 1px 0px;}
.search_input_active_host   {padding:2px 2px 3px 18px; background: #F778A1 url("../../img/icones/16x16/server_network.gif") no-repeat scroll 1px 0px;}
.search_input_service   {padding:2px 2px 3px 18px; background: #FFFFFF url("../../img/icons/service.png") no-repeat scroll 1px 0px;}
.search_input_active_service    {padding:2px 2px 3px 18px; background: #F778A1 url("../../img/icons/service.png") no-repeat scroll 1px 0px;}

.search_input_active    {background-color:#F778A1;}
.search_input_found     {background-color:#99C68E;}

.search_input_host, .search_input_active_host, .search_input_service, .search_input_active_service, .search_input_active, .search_input_found {height:14px;}

/* Log Options */
.ajaxOption {
    border-collapse:separate;
    empty-cells:show;
    background-color: #f9f9f9;
    color:#666;
    border-bottom: 1px #e7e7e8 solid;
    border-top: 1px #e7e7e8 solid;
    padding: 10px;
    position: relative;
    margin-bottom: 14px;
}
/*.ajaxOption tr:first-child {
    text-align: right;
    position: relative;
}*/

.ajaxOption tr:first-child h5 {
    background-color: #fff;
    padding: 3px 6px;
    position: absolute;
    right: 6px;
    bottom : 0;
    color: #a7a9ac;
}

.ajaxOption td  {
    vertical-align: middle;
    padding: 2px 0px;
    position: relative;
}

.ajaxOption h4 {
    color: #007f77;
}

.ajaxOption .divider hr {
  margin: 10px 0;
}

.ajaxOption .checkbox h4 {
  display: inline-block;
  margin-left: 5px;
}

/* Taktical Overview */
.SubTableTactical table {margin:3px;}
.SubTableTactical td,.SubTable2Tactical td {vertical-align:top;width:120px;}
.SubTableTactical td    {background-color:#E6E6E6;}
.SubTacticalDT          {background-color:#D9D9D9;border:2px #FFF solid;}
.tactical_light_table td    {border:1px SOLID #AEAEAE;width:120px;}
.tactical_light_header      {background-color:#eaeaee;background-image:url("./Images/bg_header_bluegray.gif");background-position:top left;background-repeat:repeat-x;color:#666;}
.tacWarn                    {background-color:#F8C706;}
.tacPB                      {background-color:#2AD1D4;}
#hostStats                                      {margin-top:10px;}
#hostStats,#serviceStats,#unhandledproblems     {border:1px #CCC solid;margin-bottom:20px;}
.tacticakDiv                                    {border:1px #CCC solid;}

/* Line alternate */
.tab table .ListHeader td {border-top-width:0;}

.list_one td,.tab .list_one td,
.list_two td,.tab .list_two td,
.list_three td,.tab .list_three td,
.list_four td, .tab .list_four td,
.list_lvl_2 td,.tab .list_lvl_2 td,
.list_lvl_1 td,.tab .list_lvl_1 td,
.list_up td,.tab .list_up td,
.list_down td,.tab .list_down td,
.line_ack td,.tab .line_ack td,
.line_downtime td, .tab .line_downtime td,
.list_unreachable td,.tab .list_unreachable td,
.row_disabled td, .tab .row_disabled td {border-left-style:solid;border-top-style:solid;border-width:0;}

.row_disabled {
    background-color:#f0f0f1;
    padding:1px 3px;
}

.ListHeader             {
    font-weight:700;vertical-align:top;


}
.ListHeader td,
.ListHeader th {
    padding: 8px 4px !important;
    font-weight:700;
    height:18px;
    vertical-align:middle;
}
.ListColHeaderPicker        {padding:1px 3px;text-align:center;vertical-align:middle;width:10px;}
.ListColHeaderCenter        {padding:1px 3px;text-align:center;}
.ListColHeaderLeft      {padding:1px 3px;text-align:left;}
.ListColHeaderRight     {padding:1px 3px;text-align:right;}
.ListColHeaderWrap      {padding:1px 3px;text-align:left;white-space:normal;}
#ListColHeaderLeft div      {padding-left:0;}

.ListColFooterRight,.ListColFooterLeft,.ListColFooterCenter {border-top-style:solid;border-top-width:0.1px;}

.ListColNoWrap                          {white-space:normal;}
.ListColFooter1                         {padding:1px 3px;}
.ListColFooterLeft, .ListColLeft                {text-align:left;}
.ListColCenter,.ListColLeft,.ListColRight,.ListColNoWrap    {padding:1px 3px;}
.ListColRight                           {padding:1px 3px;}

* html #ListTable td,#ListTableMedium td,#ListTableSmall td,.ListTable td,.ListTableMedium td,.ListTableSmall td {margin:0;padding:0 4px;}
.ListTableSmall a,.ListTable a,.ListTableMedium a,.ListTableSmall a, .ListTableSmallArg a {color:#666;z-index:5;}
.ListTable td a {
    /*margin: 0px 6px;*/
}
.ListTableMedium        {width:60%;}
.ListTableSmallArg      {
    width: 100%;
    border-width: 0px;;
}
table.ListTableSmallArg td {
    padding: 2px 0px;
}
.ListTableMultiTp       {border-width:0;width:100%;}
.ListTable,.ListTableMedium,.ListTableSmall,.ListTableMultiTp {border-collapse:separate;border-spacing:0;border-style:solid;empty-cells:show;}
.ListTable,.ListTableMedium,.ListTableSmall {border-width:1px;}
.ListTable td,.ListTableMedium td,.ListTableSmall td,.ListTableSmallArg {padding-bottom:2px;padding-top:2px;}
.ListTable td {padding: 4px;}
.tab .ListTableMedium {
    margin-top:21px;
}
.ListTable img {
    vertical-align: middle;
}
.TableFooter {margin-bottom:4px;margin-top:8px;width:100%;z-index:1;}

.list_lvl_1, .list_lvl_2 {
    vertical-align:middle;
}

.list_lvl_3 {
    text-align: left;
    vertical-align: middle;
    border-bottom: 2px solid #fff;
}

.list_lvl_3 th, .list_lvl_3 td {
    padding: 6px;
    font-weight: normal;
}

.list_lvl_3 th {
    color: #818285;
}

.list_lvl_3 th:first-child, .list_lvl_3 td:first-child {
    width: 205px;
    padding-left: 12px;
}


.ListColLvl2_name {padding-left:15px;}

/* End Valide */


/* Specifique */

.warn {
    background-color:orange;
    border:2px solid #FFF;
    color:#FFF;
    font-weight:400;
    margin:5px;
    padding:3px;
    text-align:center;
}

#debug {
    height:63px;
    left:450px;
    overflow:auto;
    position:absolute;
    top:2px;
    width:310px;
}

.ColPopup {
    white-space:nowrap;
    padding: .6em !important;
}

.bulleDashtab {
    border-collapse:separate;
    width:100%;
}

.bulleDashtab td {
    background-color:#e0e0ea;
    border:0.5px solid #FFF;
    border-collapse:separate;
}

.bulleDash {
    font-size:12px;
    padding:2px 5px;
    text-align:right;
}

.bulleDashleft {
    font-size:12px;
    padding:2px 5px;
    text-align:left;
}

.ListHeaderPopup    {background-color:#FFF;border-left:none 0 red;font-weight:700;}
.ListHeaderPopup td     {border:solid 0 red;}

/* END Info Bulles */


.tab    {display:none;float:left;z-index:1;}
#tab1   {display:block;float:left;z-index:1;}


#validForm input    {font-size:11px;font-weight:400;margin-top:5px;}
#validForm  {
    padding:10px;
    text-align:center;
}
#validFormTop {
   float: right;
}


/* ToolBar */
.cachediv           {display:none;}
.consol_button {
    float:left;
}
.consol_button img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.ToolbarTable {
    margin: 6px 0px;
}
.ToolbarTR          {padding-left:10px;}
.ToolbarTR td:first-child {
    width: 40%;
}
.ToolbarTR select {
    line-height: 25px;
    float: left;
    height: 28px;
}
.ToolbarTR a.btc { display: inline-block; height: 28px; line-height: 28px; padding: 0 10px; }

.Toolbar_TDSelectAction_Top {
    border: 1px solid #bcbdc0;
    border-radius: 4px;
    padding: 3px 2px;
    margin-left: 6px;
    overflow: hidden;
    float: left;
}

checkbox,a.infobulle:hover table {
    border:1px gray solid;
}
td, a.infobulle:hover td {
    padding:0px;
}

#menu_3 a,#footer a,#logli a,#logOut a {color:#666;}

#Tcontener,#Tmainpage,#tabLegend,div.tab,.Tmenu3 .center,.ListTable {width:100%;}

.ListTable {
    font-size: 11px;
}

#Tmainpage {
    vertical-align: top;
}

.Small,.pagination,.ListColPicker,.ListColFooterCenter,.ListColCenter,.ListCol1,#page a,#page {text-align:center;}

.img_volante {
    background-color: #ffffff;
    display: none;
    position: fixed;
    z-index: 500;
    width: 600px;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid #d1d2d4;
}

.popup_volante {
    background-color: #ffffff;
    display: none;
    position:fixed;
    z-index:500;
    border-radius: 4px;
    border: 1px solid #a7a8ac;
    font-weight:normal;
    text-align:justify;
}

#validForm label {padding:2px 4px;}

.FormFooter,.ListColFooter5,.ListColFooter5 a,.ListColFooterCenter,.ListColFooterLeft,.ListColFooterRight   {font-size:12px;font-weight:700;padding-right:10px;}
.ListColFooterRight,.ListColRight,.Toolbar_pagelimit {text-align:right;}
.Toolbar_pagelimit select {
    float: right;
}
.list_one,.list_two,.list_three,.list_four,.line_ack,.line_downtime,.list_unreachable,.row_disabled     {font-weight:400;vertical-align:middle;}

div.ams     {text-align:center;font-style:italic;}

form label { margin-left: 3px; }

.helpTooltip {
    padding-right: 3px;
    vertical-align: middle;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

ul.no-deco-list {
    list-style-type: none;
}

/* CLONE ELEMENT */
.clone_template .FormRowField,
.clone_template .FormRowValue {
    width: 208px;
}
.clonable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.cloneremove {
    margin-top:-5px;
    cursor: pointer;
    float: right;
}
.clone-placeholder {
    border-color: #cccccc;
    border-style: dashed;
    margin-top: 0px;
    margin-bottom: 10px;
    height:60px;
}
.clone-cell {
    padding-top:1px;
    padding-bottom:3px;
}

/* reporting 2015 */

form#FormPeriod input{
    /*padding : 2px 0;*/
}

form#FormPeriod input[type="submit"] {
    padding: 2px 6px;
    color: white;
    background: #50ce36;
    border: 1px solid #40a52b;
}
form#FormPeriod select{
    border : 1px solid #BBBBBB;
}

table#reportingStateTable tr.list_one td,
table#reportingStateTable tr.list_two td,
table#reportingStateTable tr.list_lvl_2 td{
    padding : 5px;
}

table#reportingStateTable .ListColRight {
    text-align: center;
}

td.ListColHeaderLeft select {
    border : 1px solid #BBBBBB;
}

span.state_badge {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 3px;
    border-radius: 2px;
    padding: 0;
}

.info_msg {
    position: absolute;
    width: auto;
    height: auto;
    background: #00bfb3;
    top: 7em;
    left: 30em;
    padding: 3px 6px;
    font-size: 11px;
    color: white;
    font-weight: bold;
    z-index: 1;
    border-radius: 2px;
    border: 1px solid #fff;
}
.info_msg:before {
    content: "";
    position: absolute;
    top : -5px;
    left: 6px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #00bfb3;
}

/* Style for popin */
.centreon-popin {
    position: absolute;
    z-index: 1053;
    background-color: white;
    padding: 1em 3em 1em 1em;
    border-radius: 4px;
    border: 1px solid #a7a8ac;
}

.popin-wrapper {
    position: relative;
}

.popin-wrapper .button_group_center {
    margin-bottom: 0 !important;
}

.popin-wrapper p {
    color: #555;
}

.popin-wrapper a.close {
    position: absolute;
    top: -0.3em;
    right: -2.3em;
}

.centreon-popin-overlay {
  opacity: 0.2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1052;
}

.cboxIframe body {
    background: transparent !important;
}

#cboxContent {
    border-radius: 4px;
    border: 1px solid #a7a8ac;
}

.colorbox-popin {
    padding: 1em;
}

#cboxClose {
    background: #fff url('../../img/icons/circle-cross.png') no-repeat 0 0 /100% !important ;
    top: -10px !important;
    height: 18px !important;
    width: 18px !important;
    right: -10px !important;
    border-radius: 10px;
}

/* ColorBox CSS */
#cboxBottomRight, #cboxBottomLeft, #cboxBottomCenter, #cboxMiddleLeft, #cboxMiddleRight, #cboxTopCenter, #cboxTopRight, #cboxTopLeft {
    background: none !important;
}

/* Fullscreen icon */
.fullscreen-icon {
  position: fixed;
  right: 10px;
  border-radius: 4px;
  background-color: #58585a;
  padding: 6px;
  cursor: pointer;
  z-index:112;
  bottom:14px;
}

.fullscreen-icon img {
    vertical-align: middle;
}

/* Style for Eventlogs page */
.log-extend-icon {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 1em;
}

.ajaxOption td.log-select {
    vertical-align: top;
    position: relative;
}

/* -------- List Links --------------- */
.linkList {
    table-layout: fixed;
}
.linkList td {
    border-bottom: 1px solid #d1d2d4;
    padding: 4px !important;
    white-space: initial;
    width: 50%;
}

.linkList td a {
    text-decoration: none;
    color: #005a7f;
}
.linkList td a:hover {
    text-decoration: none;
    color: #4ccaff;
}

/* Dividers */

.horizontal_divider {
    width: 1px;
    background-color: #e7e7e8;
}

.fixedDiv{
    position: fixed;
}

/* -------- Graphs pagination -----------*/

.displayStatus {
    float: right;
    margin: 6px 0;
}
.displayStatus label {
    vertical-align: top;
}
#graph_pagination {
    float: left;
    width: 100%;
}

.paginator_p {
    text-align: center;
    float: left;
    color: #58585a;
    background-color: #e7e7e8;
    cursor: pointer;
    padding: 2px 0;
    border-radius: 10px;
}
.paginator_p .over {
    background-color: #597f00;
}

.paginator_p_wrap {
    margin: 6px auto;
    float: none;
}

.paginator_p.selected {
    background-color: #8ecc00;
}
.slider {
    margin-bottom: 1em;
}

.paginator_slider {
    margin: 6px auto;
}

.macro_legend {
    padding: 10px;
    background-color: #fff;
    margin-top: 6px;
    float: left;
    margin-left: 15px;
    color: #818285;
    border-radius: 4px;
}

/* Jquery Tabs */

div#tabs_periods {
    background: #fff;
    border: 1px solid #e7e7e8;
    border-radius: 4px;
}

.ui-widget-content  {
    background: transparent;
}
.ui-widget-header {
    background: #fff !important;
    border: 0 !important;
    border-bottom: 1px solid #e7e7e8 !important;
    border-radius: 0 !important;
}

.resizeTitle{
    overflow-x:hidden;
    white-space:nowrap;
    max-width:350px;
}

/* ----- Jquery Datepicker ---------*/

.ui-datepicker, .ui-timepicker {
    background: #fff !important;
    border-radius: 4px !important;
}
.ui-datepicker .ui-datepicker-title , .ui-timepicker .ui-datepicker-title{
    color: #005a7f;
}
.ui-datepicker td span,.ui-datepicker td a, .ui-timepicker td span, .ui-timepicker td a{
    border: 1px solid #d1d2d4 !important;
    background: #f3f3f4 !important;
    font-weight: bold !important;
    color: #009fdf !important;
}

td.ui-timepicker-minute-cell a, td.ui-timepicker-minute-cell span{
    border: 1px solid #bdbdc2 !important;
    background: #cacace !important;
    font-weight: bold !important;
    color: #009fdf !important;
}

.ui-datepicker .ui-datepicker-next.ui-state-disabled.ui-state-hover,
.ui-datepicker .ui-datepicker-prev.ui-state-disabled.ui-state-hover,
.ui-timepicker .ui-timepicker-next.ui-state-disabled.ui-state-hover,
.ui-timepicker .ui-timepicker-prev.ui-state-disabled.ui-state-hover{
    border: 0;
    background-color: #818285;
}

.ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ui-datepicker .ui-datepicker-next.ui-state-hover,
.ui-timepicker .ui-timepicker-prev.ui-state-hover,
.ui-timepicker .ui-timepicker-next.ui-state-hover {
    border: 0;
    background: #4ccaff !important;
}

/* --------- Bloc Elements -------------- */

.elemBloc {
    border: 1px solid #D1D2D4;
    height: 174px;
    overflow: hidden;
}

.elemBloc:not(.advancedForm) label, .elemBloc:not(.advancedFormService) label {
    cursor: pointer;
    position: relative;
    padding-left: 16px;
    margin-right: 10px;
}

.elemBloc input[type=checkbox] {
    display: none;
    height: 118px;
    overflow: hidden;
}

.elemBloc:not(.advancedForm) label:before, .elemBloc:not(.advancedFormService) label:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border: 1px solid #bcbdc0;
}

input.included[type=checkbox]:checked + label:before {
    content: "\2714";
    color: #fff;
    text-align: center;
    line-height: 10px;
    background-color: #88b917;
    border: 1px solid #88b917;
}

input.excluded[type=checkbox]:checked + label:before {
    content: "\2716";
    color: #fff;
    text-align: center;
    line-height: 10px;
    background-color: #e00b3d;
    border: 1px solid #e00b3d;
}

.advancedForm, .advancedFormService {
   display: none;
}

.checkbox-tpl, .checkbox-servicetpl {
    padding-bottom: 3px ;
}
.checkbox-tpl:hover, .checkbox-servicetpl:hover {
    background-color: #e7e7e8;
}

.editBt {
    background: url("../../img/icons/edit_white.png") no-repeat center scroll #009fdf;
    background-size: 10px 10px;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 2px;
    margin-top: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.editBt.disabled {
    background: url("../../img/icons/edit_white.png") no-repeat center scroll #d1d2d4;
    background-size: 10px 10px;
    cursor: no-drop;
}

.docExport_Textarea {
    width: 54em;
    height: 20em;
}

#htTplExcluded .editBt, #stTplExcluded .editBt{
   display: none;
}

.preview_icon {
    float: left;
    padding: 4px;
    border: 2px solid #00ccbf;
    border-radius: 8px;
    vertical-align: middle;
}

.preview_icon img {
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.field-group {
    float: left;
    margin-left: 4px;
    margin-top: 4px;
}

textarea.default-textarea {
    width: 100%;
    min-width: 300px;
    height: 150px;
}

.md-preview {
    width: 300px;
    min-height: 150px;
    max-height: 250px;
    overflow: auto;
    float: right;
    margin: 2px;
    padding: 2px;
    border: 1px solid rgb(187, 187, 187);
    background-color: #fff;
}

/* Vertical Tabs */
.vertical-tabs.ui-widget-content{
    background: none;
    border: none;
}

.vertical-tabs.ui-tabs-vertical .ui-tabs-nav {
    padding: 0em;
    width: auto;
    background: transparent !important;
    position: absolute;
    border-bottom: 0px !important;
    top: 10px;
    left: 10px;
}
.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border: 0px !important;
    margin: 0 0 2px 0 !important;
    position: initial !important;
}
.ui-tabs-vertical .ui-tabs-nav li a {
    display:block;
    padding: 0 !important;
}

.ui-tabs-vertical .ico-tab.ui-state-default,
.ui-tabs-vertical .ui-widget-content .ico-tab.ui-state-default,
.ui-tabs-vertical .ui-widget-header .ico-tab.ui-state-default {
    background: #fff;
}
.ui-tabs-vertical .ico-tab.ui-state-default a,
.ui-tabs-vertical .ui-widget-content .ico-tab.ui-state-default a,
.ui-tabs-vertical .ui-widget-header .ico-tab.ui-state-default a{
    opacity: 0.5;
}
.vertical-tabs.ui-tabs-vertical .ui-tabs-nav .ico-tab.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
}
.vertical-tabs.ui-tabs-vertical .ui-tabs-nav .ico-tab.ui-state-active a{
    opacity: 1;
}
.vertical-tabs.ui-tabs-vertical .ui-tabs-panel {
    padding: 0em;
    float: left;
    width: 100%;
}
.vertical-tabs .lang-wrapper:before {
    position: absolute;
    top: 10px;
    left: 3.2em;
    content: "";
    width: 1px;
    height: 80%;
    background: #e7e7e8;
}
.vertical-tabs .lang-abr {
    display: inline-block;
    position: absolute;
    top: 7px;
    right : 1em;
    text-transform: capitalize;
    color: #00a499;
}
.vertical-tabs.ui-tabs-vertical .ui-tabs-panel textarea {
    width: 100%;
    padding: .5em 2em .5em 3.5em !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* While in fullscreen, hide any children with class 'tohide' */
.tohide {
    display: none;
}
:fullscreen .tohide, :-webkit-full-screen .tohide, :-moz-full-screen .tohide, :-ms-fullscreen .tohide {
    display: none;
}

/* -- Views Performance page -- */
.graph-options {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2px;
}

.graphZone {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.graphZone.col2 .graph {
  width: 49%;
}

.graphZone.col3 .graph {
  width: 32%;
}

.graph {
  margin-top: 4px;
  border: 1px solid #bfd0e2;
  width: 100%;
  position: relative;
}

.graph .title {
  background-color: #cfedf9;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  font-weight: bold;
  width: calc(100% - 4px);
  padding: 0 2px;
  cursor: move;
}
.graph .title .btc {
    vertical-align: top;
}

.graph .title .actions {
  float: right;
  margin-top: 6px;
}

.graph .title .remove {
  margin-top: 6px;
  cursor: pointer;
}

.graph .title > span {
  vertical-align: top;
  margin-top: 2px;
}

.graph .content {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.graph .action {
  position: absolute;
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 240px;
  top: 20px;
}

.graph .action.left {
  left: 0;
}

.graph .action.right {
  right: 0;
}

.graph .action .bt_action {
  z-index: 50;
  padding: 4px;
  opacity: 0.2;
  transition: opacity .25s ease-in-out;
  cursor: pointer;
}

.graph .action .bt_action:disabled {
  cursor: not-allowed;
}

.graph .action .bt_action:hover {
  opacity: 1;
}

.graph .chart {
  overflow: hidden;
}

.graph .chart-status {
  margin-top: 10px;
  margin-left: 40px;
  overflow: visible;
}

.graph .c3-region.region-downtime {
  fill: #cc99ff;
}

.graph .c3-region.region-ack {
  fill: #ae9500;
}

.chart-legends {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  padding: 0 32px;
}

.chart-legends .chart-legend-action {
  display: block;
  position: absolute;
  top: 1px;
  right: 1px;
}

.chart-legends .chart-legend-action > img {
  height: 14px;
  cursor: pointer;
}

.chart-legends .chart-legend {
  padding: 0 4px;
  font-size: 12px;
  color: #555;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.chart-legends .chart-legend > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  cursor: pointer;
}

.chart-legends .chart-legend .chart-legend-color {
  width: 12px;
  height: 12px;
  margin: 2px;
}

.chart-legends .chart-legend.hidden .chart-legend-color {
  opacity: 0.3;
}

.chart-legends .chart-legend span {
  line-height: 16px;
}

.chart-legends .chart-legend .extra {
  display: none;
  margin-left: 6px;
}

.chart-legends .chart-legend .extra span {
  margin-left: 4px;
}

.chart-legends.extend {
  flex-direction: column;
}

.chart-legends.extend .chart-legend .extra {
  display: block;
}

.ico-col.active {
  border: 1px #4ccaff solid;
  border-radius: 2px;
}

.ico-col.ico-col-1 {
  background-image: url('../../img/icons/1-col-gray.png');
  background-size: cover;
}

.ico-col.ico-col-1.active {
  background-image: url('../../img/icons/1-col-blue.png');
  background-size: cover;
}

.ico-col.ico-col-2 {
  background-image: url('../../img/icons/2-col-gray.png');
  background-size: cover;
}

.ico-col.ico-col-2.active {
  background-image: url('../../img/icons/2-col-blue.png');
  background-size: cover;
}

.ico-col.ico-col-3 {
  background-image: url('../../img/icons/3-col-gray.png');
  background-size: cover;
}

.ico-col.ico-col-3.active {
  background-image: url('../../img/icons/3-col-blue.png');
  background-size: cover;
}

/* Refresh component for chart */
.refresh {
  margin: 0 6px 0 0;
  padding: 0;
  border: 1px solid #818285;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  height: 16px;
  cursor: pointer;
}

.refresh .icon {
  display: inline-block;
  vertical-align: middle;
}

.refresh .icon img {
  margin: 1px;
}

.refresh .time {
  line-height: 14px;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}

.refresh-list {
  display: none;
  position: absolute;
  left: -1px;
  top: 16px;
  border: 1px solid #818285;
  border-radius: 2px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 150;
  background-color: #fff;
}

.refresh-list li {
  padding: 2px 3px;
  white-space: nowrap;
}

.refresh-list li:hover {
  background-color: #5897fb;
}

.refresh-list.show {
  display: block;
}

/* broker_stat */

.broker_stats {
    position: relative;
}

.broker_stats_lastmodif {
    position: relative;
    float: right;
}

ul.module_list {
    min-width: 122px;
}

.broker_stats .informations_header {
    position: relative;
    height: auto;
    width: 100%;
}

.broker_stats .informations {
    overflow: hidden;
    display: block;
    padding: 4px;
    position: relative;
}

.broker_stats {
    margin-bottom: 5px;
}

.broker_stats.stats_lv2 {
    margin: 5px 36px;
}

.broker_stats.stats_lv2 p.title {
    background-color: #e7e7e8;
}

.broker_stats.stats_lv2  p.title:hover {
    background-color: #d1d2d4;
}

.broker_stats p.title {
    cursor: pointer;
    padding: 6px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #e7e7e8;
    border-top: 1px solid #e7e7e8;
}

.broker_stats  p.title:hover {
    background-color: #e7e7e8;
}

.expand {
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 6px 6px;
    border-color: transparent transparent #a7a9ac transparent;
    transition: transform 0.2s;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.expand-icon {
    transform: rotate(-45deg);
}

.broker_stats ul.module_list {
    margin: 3px;
}

.broker_stats ul.peers {
    margin-left: 153px;
}

.broker_stats ul.filters {
    margin-left: 153px;
}

.broker_stats ul li {
    list-style: none;
}

.broker_stats .info_name {
    float: left;
    color: #09225c;
    font-weight: 600;
}

.broker_stats .info_value {
    float: right;
    width: 80%;
}

.broker_stats .module_status {
    float: right;
    padding: 0 6px;
}

.broker_stats .loaded {
    color: #88b917;
}

/* Tour plugin */
.tourbus-content {
    margin-bottom: 10px;
}

.tourbus-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tourbus-overlay {
  display: none;
  background: #666;
  opacity: 0.5;
  z-index: 9997;
  min-height: 100%;
  height: 100%;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}
.tourbus-highlight {
  background: white;
  position: relative;
  box-shadow: inset 0 0 2px rgba( 0, 0, 0, 0.2 );
  z-index: 9998;
}
