// Form fields

@import "../variables";
@import "../helpers";

.form {
  &-container {
    margin: 16px;
    padding: 32px;
  }

  input, select {
    padding: 4px;
    font-size: 11px !important;
    border: 1px solid #929292;
    line-height: 18px;
  }
  &-wrapper {
    position: relative;
    max-width: 320px;
    max-height: 590px;
    overflow-y: auto;
    margin-top: 30px;
    margin: 0 auto;
    border: 1px solid #cdcdcd;
    background-color: #f7f7f7;
    padding: 30px;
    .invalid-feedback {
      text-align: right;
      padding-top: 7px;
      color: #d0021b;
    }
    .css-1aya2g8,
    .css-2o5izw {
      height: auto;
      min-height: 0;
      border-radius: 2px;
      border: 1px solid #cdcdcd;
    }
    &.installation {
      .form-text {
        margin: 10px 0;
      }
    }
  }
  &-status {
    &.valid {
      color: #acd174;
    }
    &.failed {
      color: #d0021b;
    }
  }
  &-error-message {
    font-size: 12px;
    color: #d0021b;
    display: block;
    text-align: center;
  }
  &-group {
    margin-bottom: 15px;
    label {
      display: block;
      margin-bottom: 5px;
    }
    .form-control {
      width: 100%;
      border-radius: 2px;
      border: 1px solid #cdcdcd;
      padding: 4px 10px;
      box-sizing: border-box;
    }
    &.select {
      label {
        vertical-align: middle;
      }
    }
  }
  &-heading {
    margin-bottom: 5px;
  }
  &-title {
    font-size: 12px;
    font-family: $primary-font-light;
    color: $lightblue-centreon-primary;
  }
  &-item {
    padding-bottom: 15px;
  }
  &-text {
    font-size: 12px;
    font-family: $primary-font-regular;
    color: #242f3a;
    margin: 20px 0;
  }
  &-buttons {
    text-align: right;
    margin-top: 15px;
    .button {
      border-radius: 4px;
      border: none;
      outline: none;
      box-sizing: border-box;
      cursor: pointer;
      background-color: $lightblue-centreon-primary;
      text-decoration: none;
      font-size: 10px;
      color: rgb(255,255,255);
      font-family: $primary-font-light;
      padding: 5px 33px;
      text-transform: uppercase;
      &:hover {
        background: $blue-centreon-primary;
      }
    }
  }
}
.custom-checkbox,
.custom-radio {
  label {
    width: auto;
  }
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: top;
  }
}
// Radio
.custom-control {
  position: relative;
  display: block;
  min-height: 24px;
  padding-left: 15px;
  .form-check-input,
  .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:focus ~ {
      .custom-control-label::before {
        box-shadow: none !important;
      }
    }
  }
  .custom-control-label {
    padding-left: 5px;
    cursor: pointer;
    margin-bottom: 0;
    &:before {
      position: absolute;
      top: -8.75px;
      left: 0;
      display: block;
      width: 15px !important;
      height: 15px !important;
      content: "";
      top: -1px !important;
      background-position: -8px -8px;
      border-radius: 50%;
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    &:after {
    position: absolute;
    top: -8.75px;
    left: 0;
    width: 15px !important;
    height: 15px !important;
    content: "";
    display: block;
    border-radius: 50%;
    top: -1px;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50% 50%;
    }
  }
  &.custom-checkbox {
    margin-top: 20px;
  }
}
.custom-radio .form-check-input:checked~.custom-control-label:after {
  background-position: -8px -56px;
}
.custom-radio .form-check-input:checked~.custom-control-label:before {
  background: none;
}
.custom-checkbox .custom-control-label:after {
  top: 2px;
}
// Checkbox
.custom-checkbox {
  .custom-control-label {
    padding-left: 5px;
    &:before {
      position: absolute;
      top: -1px!important;
      left: -1px;
      display: block;
      width: 15px!important;
      height: 15px!important;
      border-radius: 0;
      content: "";
      background-position: -8px -16px;
    }
    &:after {
      position: absolute;
      top: -1px!important;
      left: -1px;
      display: block;
      width: 15px!important;
      height: 15px!important;
      border-radius: 0;
      content: "";
    }
  }  
}
.error-block {
  font-size: 10px;
  color: rgb(237,28,36);
  font-family: $primary-font-light;
  text-align: center;
  position: relative;
  margin-top: 26px;
  &:after {
    content: "";
    width: 23px;
    height: 23px;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    height: 23px;
    max-width: 23px;
    margin: 0 auto;
  }
}

input[type=checkbox]:checked ~.custom-control-label::after {
  background-position: -8px -72px;
}
input[type=checkbox]:checked ~.custom-control-label::before {
  background: none;
}
.css-10odw4q,
.css-1492t68,
.css-10nd86i {
  font-size: 13px;
}