A {
  text-decoration: none;
}
A:link {
  color: #486591;
  background-color: transparent;
}
A:visited {
  color: #6f6c81;
  background-color: transparent;
}
A:active {
  color: blue;
  background-color: transparent;
}
body {
  color: #000000;
  background-color: #fefefe;
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: normal;
}
font {
  color: #000000;
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: normal;
}
H1 {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 20px;
}
select {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
}
input {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}
table
{
  border: none;
  margin: 0px;
  padding: 0px;
}
table.box {
  color: #fefefe;
  background-color: #486591;
  border: none;
  padding: 1px;
  width: 100%;
}
tr.boxheader {
  background-color: #486591;
}
td.boxheader {
  text-align: center;
}
tr.boxbody {
  color: #fefefe;
  background-color: #e6e6e6;
}
