/**
Oreon is developped with GPL Licence 2.0 :
http://www.gnu.org/licenses/gpl.txt
Developped by : Julien Mathis - Romain Le Merlus

Adapted to Pear library by Merethis company, under direction of Cedrick Facon, Romain Le Merlus, Julien Mathis

The Software is provided to you AS IS and WITH ALL FAULTS.
OREON makes no representation and gives no warranty whatsoever,
whether express or implied, and without limitation, with regard to the quality,
safety, contents, performance, merchantability, non-infringement or suitability for
any particular or intended purpose of the Software found on the OREON web site.
In no event will OREON be liable for any direct, indirect, punitive, special,
incidental or consequential damages however they may arise and even if OREON has
been previously advised of the possibility of such damages.

For information : contact@oreon-project.org
*/

#outer	{border-left-color:#F2F2F2;   /* left column colour */}

body	{background-color:#F2F2F2;}

/* Form  */

.ListTable, #ListTable a:link		{color:#666666;}
.ListTable, #ListTable a:visited	{color:#666666;}
.ListTable, #ListTable a:hover		{color:#E3A385;}

.list_lvl_1		{background-color:#fada83;}
.list_lvl_2		{background-color:#faeaa3;}

.ListHeader		{
	background-image: url("./Images/bg_header_orange.gif");
	text-align:center;
	background-position:top left;
	background-repeat:repeat-x;
	background-color:#fada83 ;
}

#ResumeHeader	{	
	background-image: url("./Images/bg_header_orange.gif");
	background-position:top left;
	background-repeat:repeat-x;
	background-color:#fada83 ;
}
#ResumeHeader td	{
	padding-left:1px;
	padding-right:1px; 
	color: #525252; 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 9px;	
	white-space: nowrap;
}

#ResumeTable    {width:100%;}
#ResumeTable a	{color:#666666;}
#ResumeTable td	{
	padding-top:2px;
	padding-bottom:2px;
	border: 0.5px solid gray;
}
#ListTable, #ListTableMedium, #ListTableSmall {
border-color: #fada83;
}

.list_lvl_2 td, .list_lvl_1 td{
	border-top-color: #AAAAAA;
	border-left-color: #AAAAAA;
	border-bottom-color: #AAAAAA;
	border-right-color: #AAAAAA;
}
.list_one td, .list_two td, .list_three td, .list_four td{
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-right-color: #FFFFFF;
}
.tab .list_one td, .tab .list_two td, .tab .list_three td, .tab .list_four td{
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-right-color: #FFFFFF;
}
.tab .list_lvl_2 td, .tab .list_lvl_1 td{
	border-top-color: #AAAAAA;
	border-left-color: #AAAAAA;
	border-bottom-color: #AAAAAA;
	border-right-color: #AAAAAA;
}
.ListHeader td{
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
}


.ListHeader td{
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

.ListColFooterRight, .ListColFooterLeft, .ListColFooterCenter{
	border-top-color: #AAAAEE;
}


/*.list_one{		background-color:#f8c160;}*/
.list_one 		{background-color:#FFF2AD;}
.list_one td	{
	padding-left:1px;
	padding-right:1px; 
	color: #525252; 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 9px;	
	white-space: nowrap;
}

/* .list_two {		background-color:#ffe3a1;}*/
.list_two 		{background-color:#FEE8AD;}
.list_three		{background-color:#ffe0d1;}
.list_four 		{background-color:#ffecd1;}


#page 		{color:#592bed;}
#page a		{color:#592bed;}

/*Menu*/

#menu1_bgimg	{	
	background-image: url("Images/menu_bg_orange.gif");
	background-position:top right;
	background-repeat:repeat-x;
}
#menu1_bgcolor	{background: #fdc11e;}
#menu2_bgcolor	{background: #fff3bb;}


#menu_2	{background: #fdc11e;}
.Tmenu3 .top .left 		{background-color:  #F2F2F2;}
.Tmenu3 .top .right 	{background-color:  #F2F2F2;}
.Tmenu3 .bottom .left 	{background-color:  #F2F2F2;}
.Tmenu3 .bottom .right 	{background-color:  #F2F2F2;}


/* General */

#contener	{background:#F2F2F2;}
#Tmenu		{
	background:#F2F2F2;
	border-right: 1px solid #fdc11e;
}

#footerline1	{background-color:#fdc11e;}
#footerline2	{background-color:#dedede;}

#MainPage textarea, #MainPage input, #MainPage select	{color:#242af6;}

#formulary input	{ 
	border-style:inset;
	border:1px solid #DDDDDD;
}

input[type="submit"],input[type="button"],input[type="reset"]{
background : white;	
color : #6056e8;
border-color : #6056e8;
}

input[type="submit"]:hover,input[type="button"]:hover,input[type="reset"]:hover{
background : #6056e8;
color : #fff;
border-color : #6056e8;
}


#logOut{
position:absolute;
top:116px;
/*top:55px;*/
right:10px;
color: #525252;	font-family: Verdana, Arial, sans-serif; font-size: 10px;	font-weight: bold;}
.Toolbar_TDSelectAction_Top a{
font-family:Arial, Helvetica, Sans-Serif;    font-size:11px;    color:#666;
color:#5e5e5e;
}
.Toolbar_TDSelectAction_Top a:hover{
color:#E8AB5C;
}
.Toolbar_TDSelectAction_Bottom a{
font-family:Arial, Helvetica, Sans-Serif;    font-size:11px;    color:#666;
color:#5e5e5e;
}
.Toolbar_TDSelectAction_Bottom a:hover{
color:#E8AB5C;
}
.Toolbar_TableBottom{
	border-color:#6056e8;
}