/**
Oreon is developped with GPL Licence 2.0 :
http://www.gnu.org/licenses/gpl.txt
Developped by : Julien Mathis - Romain Le Merlus

Adapted to Pear library by Merethis company, under direction of Cedrick Facon, Romain Le Merlus, Julien Mathis

The Software is provided to you AS IS and WITH ALL FAULTS.
OREON makes no representation and gives no warranty whatsoever,
whether express or implied, and without limitation, with regard to the quality,
safety, contents, performance, merchantability, non-infringement or suitability for
any particular or intended purpose of the Software found on the OREON web site.
In no event will OREON be liable for any direct, indirect, punitive, special,
incidental or consequential damages however they may arise and even if OREON has
been previously advised of the possibility of such damages.

For information : contact@oreon-project.org
*/

#lang a:link{	color:#666666;}
#lang a:visited{color:#666666;}
#lang a:hover{	color:#E3A385;}
#lang {			color:#666666;}
#lang h1 {		font-family:Arial, Helvetica, Sans-Serif;font-size:14px; color:#666666; padding-bottom:15px}
#lang dt {		font-family:Arial, Helvetica, Sans-Serif;font-size:12px; color:#666666; text-decoration: underline}
#lang dd {		font-family:Arial, Helvetica, Sans-Serif;font-size:10px; color:#666666;}

.FormHeader		{    font-size:12px;}
.FormHeader .td	{    padding-left:2px;}
.FormFooter		{    font-size:12px;    font-weight:bold;    padding-right:10px;}


	/* IE BUG ONLY */
 * html #ListTable td, #ListTableMedium td, #ListTableSmall td,.ListTable td, .ListTableMedium td, .ListTableSmall td{padding:0px;margin:0px;	padding-left:3px; padding-right:3px;}

	
#ListTable a, #ListTableMedium a, .ListTableSmall a,.ListTable a, .ListTableMedium a, .ListTableSmall a{color:#666666;}

#ListTable, .ListTable    {    width:100%;z-index: 1;}
#ListTableMedium, .ListTableMedium    {    width:60%;z-index: 1;}
#ListTableSmall, .ListTableSmall    {    width:40%;z-index: 1;}

.TableFooter {width:100%; z-index: 1; margin-top:8px;margin-bottom:4px}

.tab .ListTable, 
.tab .ListTableMedium,  
.tab .ListTableSmall,
.tab #ListTable, 
.tab #ListTableMedium,  
.tab #ListTableSmall {
	margin-top:21px;
}

#ListTable, #ListTableMedium, #ListTableSmall,
.ListTable, .ListTableMedium, .ListTableSmall {
	border-collapse:separate;
	empty-cells: show; 
	border-spacing:0px;
	border-width: 1px;
	border-style:solid;
}

#ListTable td, #ListTableMedium td, #ListTableSmall td,
.ListTable td, .ListTableMedium td, .ListTableSmall td{
	padding-top:2px; padding-bottom:2px;
}

.list_one td, .list_two td, .list_three td, .list_four td, .list_lvl_2 td, .list_lvl_1 td{
	border-top-width: 0.5px;
	border-top-style:solid;
	border-left-width: 0.5px;
	border-left-style:solid;
}

.tab .list_one td, .tab .list_two td, .tab .list_three td, .tab .list_four td{
	border-top-width: 0.5px;
	border-top-style:solid;
	border-left-width: 0.5px;
	border-left-style:solid;
	border-right-width: 0px;
	border-bottom-width: 0px;

}
.tab .list_lvl_2 td, .tab .list_lvl_1 td{
	border-bottom-width: 0.5px;
	border-bottom-style:solid;
	border-right-width: 0.5px;
	border-right-style:solid;
	border-left-width: 0px;
	border-top-width: 0px;
}

.ListHeader td{
	padding-top:5px;
	height:20px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	border-top-width: 0.1px;
	border-top-style:solid;
	border-left-width: 0.1px;
	border-left-style:solid;
}

.tab table .ListHeader td{
	border-top-width: 0px;
}

.ListColFooterRight, .ListColFooterLeft, .ListColFooterCenter{
	border-top-width: 0.1px;
	border-top-style:solid;
}

.limitPage{text-align:left;
	border: 1px;
	border-style: solid;
    border-color:#eff1f6;
    background-color:#BFD0E2;
    color:#fff;
    font-family:Verdana, Helvetica, Sans-Serif;
    font-size:12px;
    font-weight:bold;
	padding-bottom: 3px;
	padding-top: 1px;
	padding-left: 4px;
	width:160px;
}

.pagination{text-align:center;}

.pageNumber{
	padding-top: 4px;
	padding-right: 3px;
	text-align:right;
	border: 1px;
	border-style: solid;
    border-color:#eff1f6;
    background-color:#BFD0E2;
    color:#fff;
    font-family:Verdana, Helvetica, Sans-Serif;
    font-size:12px;
    font-weight:bold;
	padding-bottom: 3px;
	width:80px;
}

.otherPageNumber{color:#5050FF;}
.currentPageNumber{color:#ff0a0a;}

/*OLD*/
.ListColPicker		{	text-align:center;}
.ListColHeader1    	{	width: 4%;    		text-align:center;}
.ListColHeader2    	{   text-align:left;    padding-left:40px;}
.ListColHeader3    	{   text-align:left;    padding-left:10px;}
.ListColHeader4    	{   text-align:left;    padding-left:10px; 	padding-right:2px;}
.ListColHeader5    	{   text-align:right;	padding-left:10px;	padding-right:20px}
/**/

/*NEW*/
.ListColHeaderPicker{text-align:center;padding-left:3px;padding-right:3px;width:10px;}
.ListColHeaderCenter{text-align:center; padding-left:10px;}
.ListColHeaderLeft{text-align:left; padding-left:10px;}
.ListColHeaderRight{text-align:right; padding-left:10px;padding-right:20px}
.ListColHeaderWrap{text-align:left; padding-left:10px; white-space:normal;}
/**/

.ListColFooter1    {  padding:3px;}
.ListColFooter2    {}
.ListColFooter3    {}
.ListColFooter4    {}
.ListColFooter5, .ListColFooter5 a {    font-size:12px;    font-weight:bold;    padding-right:10px;}

.ListColFooterCenter{text-align:center; font-size:12px;    font-weight:bold;    padding-right:10px;}
.ListColFooterLeft{text-align: left; font-size:12px;    font-weight:bold;    padding-right:10px;}
.ListColFooterRight{text-align:right; font-size:12px;    font-weight:bold;    padding-right:10px;}



/*OLD start indent */
.ListCol1    {		text-align:center;}
.ListCol2    {		padding-left:20px;}
.ListCol3,
.ListCol4	{padding-left:10px;}
.ListCol5    {padding-right:10px;}
/**/

.ListColCenter{text-align:center; padding-left:10px;}
.ListColLeft{text-align:left; padding-left:10px;}
.ListColRight{text-align:right; padding-left:10px;padding-right:10px;}
.ListColNoWrap{text-align:left; padding-left:10px;white-space:normal;}


.FormRowField    {padding-left:40px;white-space: normal;}
.FormRowValue    {padding-left:5px;}

.ListColLvl2_name{padding-left:15px;}
.ListColLvl1_name{padding-left:10px;}
/* end indent */

.list_lvl_1{    color:#666666; font-family:Arial, Helvetica, Sans-Serif;    font-size:12px;    font-weight:bold;	vertical-align: middle;}
.list_lvl_2{    color:#666666; font-family:Arial, Helvetica, Sans-Serif;    font-size:11px;    font-weight:bold;	vertical-align: middle;}
.ListHeader{   font-family:Arial, Helvetica, Sans-Serif; font-size:12px; font-weight:bold;vertical-align: top;}
.list_one{    color:#666666; font-family:Arial, Helvetica, Sans-Serif; font-size:10px; font-weight:normal; vertical-align: middle;}
.list_two { color:#666666; font-family:Arial, Helvetica, Sans-Serif; font-size:10px; font-weight:normal; vertical-align: middle;}
.list_three{ color:#666666; font-family:Arial, Helvetica, Sans-Serif; font-size:10px; font-weight:normal; vertical-align: middle;}
.list_four {    color:#666666; font-family:Arial, Helvetica, Sans-Serif; font-size:10px; font-weight:normal; vertical-align: middle;}

.list_one a{ color:#666666; font-family:Arial, Helvetica, Sans-Serif; font-size:10px; font-weight:normal;}
.list_two a{ color:#666666; font-family:Arial, Helvetica, Sans-Serif; font-size:10px; font-weight:normal;}

.ContactSelectOption input   { background-color: transparent;}

/* end list menu */

form{  padding-bottom:10px;}


#page {    padding:5px;    text-align:center;}
#page a{    text-align:center;}

.quick_search1{
	padding-top:4px;
/*	width:350px;*/
	font-family:Arial, Helvetica, Sans-Serif;
	font-size:9px;
	font-weight:bold;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin:0px;
}
.quick_search2{
	padding-top:4px;
/*	width:350px;*/
	font-family:Arial, Helvetica, Sans-Serif;
	font-size:9px;
	font-weight:bold;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin:0px;
}
.mini_checkbox{
	width:12px;
	height:12px;
}

#QuickSearch{
	position:absolute;
	top:86px;
	right:10px;
}

.page_limit{
	border: 1px;
	border-style: solid;
    border-color:#eff1f6;
    width:80px;
    background-color:#BFD0E2;
    color:#fff;
    font-family:Arial, Helvetica, Sans-Serif;
    font-size:12px;
    font-weight:bold;
	padding-left: 25px;
	padding-bottom: 3px;
}

#mainnav{
	position:absolute;
}

/*tab*/
#mainnav{
	z-index: 2;
/*
	clear:both;
	*/
	list-style-type:none;
/*
	width:100%;
*/
}
#mainnav li{
	padding:3px;
	float:left;
	z-index: 2;
}

.tab{
	z-index: 1;
	float:left;
	display:none;
}

	
#tab1{
	z-index: 1;
	float:left;
	display:block;

}


.a a, .b a{
	color:#636363;
	font-family:Arial, Helvetica, Sans-Serif;    font-size:11px;    font-weight:bold;    text-align:left;
}


.a{
	margin-left:5px;
	margin-top:1px;
	border-width: 1px;
	border-style:solid;
	border-bottom:none;
}
.b{
	margin-left:5px;
	margin-bottom:1px;
	border-width: 1px;
	border-style:solid;
}
.c{
	float:right;
	margin-left:5px;
	margin-top:0px;
	border-width: 1px;
	border-style:solid;
	border-bottom:none;
}
/*end tab*/

#validForm input	{    color:#666666;  font-family:Arial, Helvetica, Sans-Serif;    font-size:11px;    font-weight:normal;    text-align:left;}
#validForm{
	width:98%;
	float:right;
	padding:10px;
	text-align:center;
}
#validForm input{
	margin-top:5px;
    text-align:center;
}
#validForm label{
	padding:2px;	
	padding-left:4px;
	padding-right:4px;
}

#validFormTop{
position:absolute;
right:6px;
top:155px;
z-index: 10;
}

input[type="submit"],input[type="button"],input[type="reset"]{
border-width : 1px;
border-style: solid;
}

input[type="submit"]:hover,input[type="button"]:hover,input[type="reset"]:hover{
border-width : 1px;	
border-style: solid;
}

.cachediv {
	display: none;
}

.consol_button{
	float:left;
	margin-top:3px;
}
#JS_monitoring_toolbar{
	float:right;
	width:100%;
}

.Toolbar_TableTop{
	width:100%;
	margin-bottom:5px;
}

.Toolbar_TR_Top{
	padding-left:10px;
	margin-left:10px;
}

.Toolbar_TDSelectAction_Top{
}


.Toolbar_TableBottom{
	margin-top:5px;
	width:100%;

}
.Toolbar_TDSelectAction_Bottom{

}


.Toolbar_pagelimit{
text-align:right;
}

.Toolbar_pagination{
}