@import "variables.less";
@import "centreon.variables.less";

/* Variables for login panel */
@login-panel-radius: 0;
@login-panel-bgcolor: #fff;

/* Left bar */
@left-bar-width: 220px;
@left-bar-width-mini: 50px;
@left-cursor-width: 4px;


div.row-divider {
    margin-bottom: 30px;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

/* Global */
hr {
   padding-top:0px;
   padding-bottom:0px;
   margin-top:10px;
   margin-bottom:10px;
}

.inline-block {
   display: inline-block;
}

/* Forms */
.page-header {
  margin-top: 20px;
}

/* Login panel */
.login-wrap:before {
    position: absolute;
    content: '';
    background: url('../img/login.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-filter: blur(10px) grayscale(70%);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.login-footer {
    text-align:center;
    font-size: 12px;
    color: #fff;
}

.login-box {
    margin-top: 200px;
}

.login-title {
    font-size: @font-size-h2;
    color: #fff;
}

.panel-login {
    margin-top: 15px;
    border-radius: @login-panel-radius;

    .panel-title {
        padding-bottom: 50px;
        border-bottom: 1px solid @panel-inner-border;
    }

    input, span.input-group-addon {
        border-radius: 0;
    }

    span.input-group-addon {
        background-color: @login-panel-bgcolor;
    }

    .panel-footer {
        border: 0;
        background-color: @login-panel-bgcolor;

        .buttons {
            padding-top: 5px;
            height: 38px;
            border-top: 1px solid @panel-inner-border;
        }
    }

    .btn-login {
        background-color: @topbar-bg-color;
        border-color: darken(@topbar-bg-color, 10%);
        color: #fff;
    }
}

/* Topbar */
.topbar {
   margin-bottom: 0;
   position: relative;
   background-color: @topbar-bg-color;
   color: @topbar-color;
   border-bottom: 1px @topbar-border-color solid;

   a.navbar-brand {
     color: @topbar-color;
     
     &:hover {
       color: @topbar-color;
       background-color: lighten(@topbar-bg-color, 5%);
     }
   }
}

.topbar .navbar-nav> li > a {
  color: @topbar-color;
  
  &:hover,&:focus {
    color: @topbar-color;
    background-color:  lighten(@topbar-bg-color, 5%);
  }
}

.topbar .navbar-nav> li.open > a {
  color: @topbar-color;
  background-color:  lighten(@topbar-bg-color, 5%);
  
  &:hover,&:focus {
    color: @topbar-color;
    background-color:  lighten(@topbar-bg-color, 5%);
  }
}

/* Clock */
.time .clock {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    display: block;
    color: @topbar-color;
    font-weight: bold;
}

.user .btn-group {
    padding: 3px 30px;
    padding-right: 0;
}

/* Side left bar */
aside {
    display: block;
    width: @left-bar-width;
    overflow: hidden;
    background-color: @navbar-default-bg;
    border-color: @navbar-default-border;

    transition: width 1s;

    &.mini {
      width: @left-bar-width-mini;
    }
}

#left-panel {
    position: absolute;
    left: 0;
    top: 51px;
    border-right-width: 1px;
    border-right-style: solid;

    .nav  > li > a > span {
        margin-left: 5px;
    }

    .nav > li > a {
        color: @navbar-default-link-color;
    }

    .nav > li > a:hover {
        color: @navbar-default-link-hover-color;
    }

    .nav > li.active {
        border-left: @left-cursor-width solid #428bca;
        font-weight: bold;

        a {
            color: #428bca;

            span {
                margin-left: 5px - @left-cursor-width;
            }
        }
    }

    .toggle-button {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0; 
      border-top: 1px solid @navbar-default-border;
      
      a {
        display: block;
        padding: 10px 15px;
        text-align: right;
        color: @navbar-default-link-color;
	
        &:hover {
          color: @navbar-default-link-hover-color;
          background-color: darken(@navbar-default-bg, 5%);
        }
      }
    }
}

.submenu {
    position: relative;
    
    li {
//        background-color: @navbar-default-link-active-bg;

        &:before {
            content: "";
            display: block;
            width: 8px;
            left: 23px;
            top: 16px;
//            border-top: 1px solid @navbar-default-color;
            position: absolute;
            z-index: 1;
        }
    }

    li > a {
        padding: 8px 0;
        padding-left: 32px;
    }

    &:before {
        content: "";
        display: block;
        width: 8px;
        left: 23px;
        top: 0;
        bottom: 0;
//        border-left: 1px solid @navbar-default-color;
        position: absolute;
        z-index: 1;
    }
}

.dropdown-submenu {
    position: absolute;
    display: none;
    z-index: 1000;

    border: 1px solid @navbar-default-border;
    background-color: @navbar-default-bg;

    &.show {
      display: block;
    }

    ul {
    }
}

.submenu-active a {
     border-left: @left-cursor-width solid #428bca;
     font-weight: bold;
     color: #428bca !important;

     span {
         margin-left: 5px - @left-cursor-width !important;
     }
}

/* .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
     background-color: #000;
}*/

/* Content */
.content {
    display: block;
    margin: 0;
    margin-left: @left-bar-width;
    padding: 0;

    transition: margin-left 1s;

    &.mini {
      margin-left: @left-bar-width-mini;
    }

    /* Alert box */
    .flash {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Bottombar */
.bottombar {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    min-height: 20px;
    height: 20px;
    overflow: hidden;
    transition: height 1s;
    z-index: 10;

    .label-button {
        height: 20px;
        background-color: fade(@navbar-default-bg, 20%);
        color: @text-color;
        font-size: 12px;
        line-height: 20px;
        padding: 0 3px;
        border-top: 1px solid @navbar-default-border;
        border-left: 1px solid @navbar-default-border;
        border-right: 1px solid @navbar-default-border;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .label-button-active {
        background-color: @navbar-default-bg;
    }

    a {
        color: @text-color;
        font-size: 10px;
    }

    .footer-extended {
        margin-top: 20px;
        background-color: @navbar-default-bg;
        border-top: 1px solid @navbar-default-border;

        div:last-child {
            padding-bottom: 5px;
        }

        ul {
            width: auto;
            min-width: 0;
            display: table;

            li + li:before {
                color: @text-color;
                font-size: 12px;
                content: "-";
                padding-right: 10px;
            }
        }

        .fa {
            font-size: 24px;
        }

        .fa-twitter-square {
            color: #9ae4e8;
        }

        .fa-google-plus-square {
            color: #d34836;
        }
        
        .fa-facebook-square {
            color: #3b5998;
        }
    }
}

.content .first-content {
    margin-top: 10px;
}

/* Breadcrumb bar */
.breadcrumb-bar {
    font-size: 16px;
    height: 38px;
    background-color: darken(@navbar-default-bg, 10%);
    //background-color: @navbar-default-bg;
    border-bottom: 1px solid @navbar-default-border;
}

.breadcrumb {
    background-color: transparent;
}

/* Datatable */
.centreon_table {
    margin: 0 10px;
    padding-top: 20px;
    padding-bottom: 60px; /* For floating pagination */

    table {
        thead>tr>th {
            border-bottom-color: @topbar-bg-color;
	    border-bottom-width: 2px;
	}
        td {
            font-size: 12px;
	    white-space: nowrap;
        }
    }

    .dataTables_info {
      font-size: 75%;
    }
}

.cell_center {
    text-align:center;             
} 
.cell_right {
    text-align:right;
} 

.fakefield {
    display: none;
}

/* Base container */
.content-container {
    margin: 15px 25px;
}

/* Infinite Scroll Table */
.table-infinitescroll {
    thead,
    tbody,
    tr,
    td,
    th {
        display: block;
    }

    th.badge-new-events {
        position: absolute;
        top: 2px;
        right: 20px;
        font-size: 12px;
        font-weight: normal;
        background: lightgreen;
        line-height: 20px;
        height: 20px;
        border: 0;
        padding: 1px 3px;

        a {
            color: black;
            
            &:hover {
                text-decoration: none;
            }
        }
    }

    thead {
        position: relative;
    }

    thead > tr {
        display: block;
        width: 97%;
        width: ~"calc(100% - 16px)";
    }

    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    tbody {
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: 200px;
    }

    thead th,
    tbody td {
        float: left;
        font-size: 12px;
        line-height: 30px;
        min-height: 30px;
    }

    .span-1 {
        width: percentage(1 / 12);
    }

    .span-2 {
        width: percentage(2 / 12);
    }

    .span-3 {
        width: percentage(3 / 12);
    }

    .span-4 {
        width: percentage(4 / 12);
    }

    .span-5 {
        width: percentage(5 / 12);
    }

    .span-6 {
        width: percentage(6 / 12);
    }

    .span-7 {
        width: percentage(7 / 12);
    }

    .span-8 {
        width: percentage(8 / 12);
    }

    .span-9 {
        width: percentage(9 / 12);
    }

    .span-10 {
        width: percentage(10 / 12);
    }

    .span-11 {
        width: percentage(11 / 12);
    }

    .span-12 {
        width: percentage(12 / 12);
    }
}

/* Incidents */
td.incident-extended-info {
    padding: 0 !important;

    table {
        margin-bottom: 0;

        tbody {
            height: auto;
        }
    }
}

/* Form Advanced Mode */
.advanced {
    display: none;
}

.advanced-display {
    display: block;
}

/* Perfdata */
.perfdata {
    margin: 2px;
}

/* Configuration listing */
.configuration-actions {
  margin-left: 40px;
  display: none;
}

.configuration-actions div {
  display: inline-block;
}

.content-container div.row, .dataTables_wrapper div.row {
  margin-right: 0px;
}

.progress {
  margin:0px;
}

/* Search block */
.search-body {
   background-color: @panel-default-heading-bg;

  .row > div {
    margin-bottom: 10px;
  }
}

.centreon-search-block {
  margin: 10px;

  .search-expand {
    line-height: 36px;
  }
}

.margin-top-10 {
  margin-top: 10px;
}

/* Button icon active / inactive */
.fa-btn-active {
  color: black;
}

.fa-btn-inactive {
  color: #818181;
}
