/* Global Variable */

@black : #231f20;
@topbar-color: #fff;

@lightGray : #d1d2d4;
@darkBlue : #34475b;

@firstGreen : #009f95;
@thirdBlue : #009ddf;
@thirdBlueDarken : #005a7f;

/*-- Indicators--*/
@danger : #e00b3d;
@warning : #ff9a13;
@info : #00bfb3;
@success: #88b917;

/*-- Font size --*/
@defaultFontSize: 14px;

/*-- Border --*/
@border-radius-base: 0px;
@sidebar-width : 220px;

/*-- Margin --*/
@paddingElem : 12px;

/* Global NavBar : TopNav Bar */

@navbar-default-bg: #2f3236;
@navbar-height: 50px;
@navbar-default-color: #d1d2d4;

@topbar-bg-color: #205081;
@topbar-border-color: #2e3d54;

