@import "variables.less";

td.centreon-status-h-0,
td.centreon-status-s-0,
.table-striped>tbody>tr:nth-child(odd)>td.centreon-status-h-0,
.table-striped>tbody>tr:nth-child(odd)>td.centreon-status-s-0,
div.centreon-status-h-0,
div.centreon-status-s-0
{
    background-color: @state-success-bg;
    color: @state-success-text;
}

td.centreon-status-s-1,
.table-striped>tbody>tr:nth-child(odd)>td.centreon-status-s-1,
div.centreon-status-s-1
{
    background-color: @state-warning-bg;
    color: @state-warning-text;
}

td.centreon-status-h-1,
td.centreon-status-s-2,
.table-striped>tbody>tr:nth-child(odd)>td.centreon-status-h-1,
.table-striped>tbody>tr:nth-child(odd)>td.centreon-status-s-2,
div.centreon-status-h-1,
div.centreon-status-s-2
{
    background-color: @state-danger-bg;
    color: @state-danger-text;
}

/*td.centreon-status-3,
.table-striped>tbody>tr:nth-child(odd)>td.centreon-status-3,
div.centreon-status-3
{
    background-color: @state-success-bg;
    color: @state-success-text;
}

td.centreon-status-4,
.table-striped>tbody>tr:nth-child(odd)>td.centreon-status-4,
div.centreon-status-4
{
    background-color: @state-success-bg;
    color: @state-success-text;
}

td.centreon-status-5,
.table-striped>tbody>tr:nth-child(odd)>td.centreon-status-5,
div.centreon-status-5
{
    background-color: @state-success-bg;
    color: @state-success-text;
}*/

tr.centreon-border-info {
    border-left: 4px solid @brand-info;
}

tr.centreon-border-status-h-0,
tr.centreon-border-status-s-0 {
    border-left: 4px solid @brand-success;
}

tr.centreon-border-status-s-1 {
    border-left: 4px solid @brand-warning;
}


tr.centreon-border-status-h-1,
tr.centreon-border-status-s-2 {
    border-left: 4px solid @brand-danger;
}

/*tr.centreon-border-status-3 {
    border-left: 4px solid @brand-info;
}

tr.centreon-border-status-4 {
    border-left: 4px solid @brand-info;
}

tr.centreon-border-status-5 {
    border-left: 4px solid @brand-info;
}*/
