.CentreonForm {

  .form-group {
    margin-bottom: @paddingElem*3;
  }

  /*-- Reset --*/

  label, input[type="text"],input[type="number"], textarea {
    display: block;
    border: 0;
    outline: 0;
  }

  input[type="text"],
  input[type="number"],
  input[type="mail"],
  textarea,
  .select2-container .select2-choice,
{
    width: 100%;
    height: 40px;
    padding: @paddingElem*3 @paddingElem*2 @paddingElem;
    outline: 0;
    border-radius: 3px;
    box-shadow: 2px 1px 1px @lightGray;
    border: 1px solid @lightGray;
    margin-bottom: 2px;
  }

  textarea {
    height: 6em;
    resize: none;
  }

  /*-- input  --*/

  cite {
    //display: none;
    font-size: 70%;
    position: absolute;
    color: darken(@thirdBlue,10%)/*@thirdBlueDarken*/;
    width: 60%;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    bottom: -3px;
    left: 2em;
  }

  /*-- input inheritance  --*/
  .inheritance {
    font-size: 80%;
    color: @darkGray;
    position: absolute;
    bottom: 3px;
    right: 1.5em;
    width: 30%;
    text-align: right;
  }

  /*-- Label  --*/

  label.floatLabel {
    font-size: 11px;
    position: absolute;
    top: @paddingElem/2;
    left: 30px;
    color: @lightGray3;
    font-weight: normal;
    opacity: 1;
    -webkit-transition: .333s ease top, .333s ease opacity;
    transition: .333s ease top, .333s ease opacity;
  }
  .js-unhighlight-label{
    label {
      color: @firstGreenLighten;
    }
    input {
      color: @black;
    }
  }

  /*---- Group of 2 Fields --- */
  .inlineGroup {
    height: 40px;
    .Elem1 {
      float: left;
      width: 91%;
    }
    .Elem2 {
      float: right;
      width: 8%;

      button {
        float: right;
      }
    }
  }
  /*---- Select Fields --- */

  //Select Image

  .select2-container {
      height: 40px;
      .select2-choice   {
        img {
          width: 28px;
          height: 28px;
        }
        > span:first-child {
          padding: 0;
        }
        .select2-chosen {
          margin-right: 30px;
            img {
              position: absolute;
              right: 3em;
              bottom: 5px;
              padding: 1px;
            }
         }
      }
  }
  /*---- Radio Fields --- */

  .choiceGroup {
    margin-top: 20px;
    padding: @paddingElem/2 @paddingElem*3;
    border-radius: 3px;
    box-shadow: 2px 1px 1px @lightGray;
    border: 1px solid @lightGray;

    label {
      font-weight: normal;
      font-size: 13px;
    }
  }
}
/* -- Select Drop --*/

.select2-container.select2-container-active .select2-choices {
  .select2-choices {
    border: 0px solid transparent;
    box-shadow: none;
  }
}
.select2-container.select2-container-multi .select2-choices {
  .select2-search-choice {
    &:first-child {
      margin-left: @paddingElem*2;
    }
    padding: 1px @paddingElem*3 1px @paddingElem/2;
    margin-left: @paddingElem;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 75%;

    .select2-search-choice-close {
      right: @paddingElem/2;
      left: initial;
    }
  }
}
.select2-drop.select2-drop-active {
  padding-top: @paddingElem*3;
  padding-bottom: @paddingElem/3;
  border-radius: 0 0 3px;
  box-shadow: 2px 1px 1px @lightGray;
  border: 1px solid @lightGray;
}
.select2-drop.select2-drop-active,
.select2-container.select2-container-multi,
.select2-container.select2-container-active {

  .select2-choices {
    padding-top: @paddingElem*3;
    padding-bottom: @paddingElem/3;
    border-radius: 0 0 3px;
    box-shadow: 2px 1px 1px @lightGray;
    border: 1px solid @lightGray;

  .select2-search-field input {
    padding: 0px 7px 0px;
    margin: 0px;
    height: 18px !important;
  }
  .select2-search {
    padding-left: 12px;
    padding-right: 12px;
    input {
      border-radius: 3px;
      box-shadow: none;
      border: 1px solid @lightGray;
      margin: @paddingElem*2 0;
    }
    &:after {
      width: 20px;
      height: 20px;

    }
  }
  }
  .select2-results {
    .select2-result-unselectable .select2-result-label {
      display: none;
    }
    .select2-result-label {
      padding: @paddingElem;
      margin: 0 @paddingElem*2;
      border-bottom: 1px solid @lightGray1;
    }
    img {
      width: 20px;
      height: 20px;
      margin-right: @paddingElem;
    }
  }
  .select2-results .select2-highlighted {
    background: @lightGray1;
    color: @darkBlue;
  }
}

.js-hide-label > label.floatLabel {
  opacity: 0;
  top: 1.5em;
}
.required {
  &:after {
  display: none;
  }
   ~ span {
    position: absolute;
    left: 20px;
    top: 4px;
    color: fade(@danger,60%);
  }
}
  /*---- Notification --- */

  .bs-callout {
    position: absolute;
    color: @white;
    width: 100%;
    z-index: 1;
    left: 0;
    font-size:90%;
    text-align: center;
    padding: @paddingElem 0;
    border-top: 3px solid;
    top: 0;
  }

  .bs-callout-success {
    background-color: fade(@success,30%);
    color: @success;
  }

  .bs-callout-danger {
    background-color: fade(@danger,30%);
    color: @danger;
  }
  .bs-callout-info {
    background-color: fade(@info,30%);
    color: @info;

  }