body {
    font-family: 'Open Sans', sans-serif;
    font-size: @defaultFontSize;
    overfolow-x : hidden;
}
#mainCntr {
  width: 100%;
  overflow-x: hidden;
}

#pageWrapper {
  min-height: 568px;
  position: relative;
}
.logo {
    overflow: hidden;
}