A {
  text-decoration: none;
}
A:link {
  color: #486591;
}
A:visited {
  color: #6f6c81;
}
A:active {
  color: blue;
}
body {
  color: #000000;
  background-color: #fefefe;
  text-decoration: none;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 10px;
  font-weight: normal;
}
font {
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: normal;
}
H1 {
    color: #000000;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 20px;
}
select {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
}
input {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}
table
{
  border: none;
  margin: 0px;
  padding: 0px;
}
table.box {
  border-collapse: collapse;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
tr.boxheader {
  background-color: #bbeeff;
}
td.boxheader {
  text-align: left;
  background-color: #bbeeff;
  padding: 5px;
  border: solid black;
  border-width: 1px 2px 2px 1px;
}
tr.boxbody {
  background-color: #ddffff;
}
