<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Centreon</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="./app/img/favicon.ico" />
  <link rel="stylesheet" href="app/css/styles.css">
</head>

<body>
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav class="sidebar" id="sidebar">
      <div class="sidebar-logo">
        <a href="">
          <img class="sidebar-logo-image" src="./app/img/centreon.png" width="254" height="57" alt="">
        </a>
      </div>
      <div class="sidebar-logo-mini">
        <a href="">
          <img class="sidebar-logo-mini-image" src="./app/img/centreon-logo-mini.svg" width="23" height="21" alt="">
        </a>
      </div>
      <ul class="menu menu-items list-unstyled components">
        <li class="menu-item">
          <a href="" class="menu-item-link dropdown-toggle">
            <span class="iconmoon icon-home">
              <span class="menu-item-name">Home</span>
            </span>
          </a>
        </li>
        <li class="active menu-item">
          <a href="#" class="menu-item-link">
            <span class="iconmoon icon-monitoring">
              <span class="menu-item-name">Monitoring</span>
            </span>
          </a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item-link">
            <span class="iconmoon icon-reporting">
              <span class="menu-item-name">Reporting</span>
            </span>
          </a>
        </li>
        
        <li class="menu-item">
          <a href="#" class="menu-item-link">
            <span class="iconmoon icon-configuration">
              <span class="menu-item-name">Configuration</span>
            </span>
          </a>

          <!-- Collapsed Items -->
          <ul class="collapse collapsed-items list-unstyled">
            <li class="collapsed-item active">
              <a href="#" class="collapsed-level-item-link">Hosts</a>

              <!-- Collapsed menu first level -->
              <ul class="collapse-level collapsed-level-items first-level list-unstyled">
                <span class="collapsed-level-title">Subcategory title: </span>
                <li class="collapsed-level-item active">
                  <a href="#" class="collapsed-level-item-link">Host 2 level</a>

                  <!-- Collapsed menu second level -->
                  <ul class="collapse-level collapsed-level-items second-level list-unstyled">
                    <span class="collapsed-level-title">Subcategory title two: </span>
                    <li class="collapsed-level-item">
                      <a href="#" class="collapsed-level-item-link">Host 3 level</a>
                    </li>
                    <li class="collapsed-level-item">
                      <a href="#" class="collapsed-level-item-link">Host 3 level</a>
                    </li>
                    <li class="collapsed-level-item">
                      <a href="#" class="collapsed-level-item-link">Host 3 level</a>
                    </li>
                  </ul>

                </li>
                <li class="collapsed-level-item">
                  <a href="#" class="collapsed-level-item-link">Host 2</a>
                </li>
                <li class="collapsed-level-item">
                  <a href="#" class="collapsed-level-item-link">Host 3</a>
                </li>
              </ul>
            </li>

            <li class="collapsed-item">
              <a href="#" class="collapsed-level-item-link">Services</a>
              <!-- Collapsed menu first level -->
              <ul class="collapse-level collapsed-level-items first-level list-unstyled">
                <li class="collapsed-level-item">
                  <a href="#" class="collapsed-level-item-link">Services by host</a>
                </li>
                <li class="collapsed-level-item">
                  <a href="#" class="collapsed-level-item-link">Services groups</a>
                </li>
                <li class="collapsed-level-item">
                  <a href="#" class="collapsed-level-item-link">Services by hosts groups</a>
                </li>
              </ul>
            </li>
          </ul>

        </li>
        <li class="menu-item">
          <a href="#" class="menu-item-link">
            <span class="iconmoon icon-administration">
              <span class="menu-item-name">Administration</span>
            </span>
          </a>
        </li>
      </ul>
      <span class="toggle-sidebar" id="sidebarCollapse"></span>
    </nav>

    <!-- Page Content  -->
    <div id="content">
      <header class="header">
        <div class="header-icons">

          <div class="wrap wrap-left">
            <div class="wrap-left-pollers">

              <span class="wrap-left-icon">
                <span class="iconmoon icon-poller"></span>
                <span class="wrap-left-icon__name">
                  Pollers
                </span>
              </span>
              <span class="wrap-left-icon round red">
                <span class="iconmoon icon-link "></span>
              </span>
              <span class="wrap-left-icon round orange">
                <span class="iconmoon icon-clock"></span>
              </span>

              <span class="wrap-left-icon round green">
                <span class="iconmoon icon-database"></span>
              </span>

              <span class="toggle-submenu-arrow"></span>
              <div class="submenu pollers">
                <div class="submenu-inner">
                  <ul class="submenu-items list-unstyled">
                    <li class="submenu-item">
                      <span class="submenu-item-link">
                        All pollers
                        <span class="submenu-count">1</span>
                      </span>
                    </li>
                    <button class="btn btn-big btn-green submenu-top-button">
                      Configure pollers
                    </button>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="wrap wrap-right">
            <div class="wrap-right-hosts">

              <span class="wrap-right-icon">
                <span class="iconmoon icon-hosts">
                  <span class="custom-icon"></span>
                </span>
                <span class="wrap-right-icon__name">
                  Hosts
                </span>
              </span>
              <span class="wrap-middle-icon round round-small red-bordered">
                <a class="number" href="#"><span>0</span></a>
              </span>
              <span class="wrap-middle-icon round round-small gray-dark">
                <a class="number" href="#"><span>25</span></a>
              </span>
              <span class="wrap-middle-icon round round-big green">
                <a class="number" href="#"><span>14.5k</span></a>
              </span>
              <span class="toggle-submenu-arrow"></span>
              <div class="submenu host">
                <div class="submenu-inner">
                  <ul class="submenu-items list-unstyled">
                    <li class="submenu-item">
                      <a href="#" class="submenu-item-link">
                        <span>All hosts</span>
                        <span class="submenu-count">13</span>
                      </a>
                    </li>
                    <li class="submenu-item">
                      <a href="#" class="submenu-item-link">
                        <span class="dot-colored red">Down hosts</span>
                        <span class="submenu-count">0/0</span>
                      </a>
                    </li>
                    <li class="submenu-item">
                      <a href="#" class="submenu-item-link">
                        <span class="dot-colored gray">Unreachable hosts</span>
                        <span class="submenu-count">0/0</span>
                      </a>
                    </li>
                    <li class="submenu-item">
                      <a href="#" class="submenu-item-link">
                        <span class="dot-colored green">Ok hosts</span>
                        <span class="submenu-count">3</span>
                      </a>
                    </li>
                    <li class="submenu-item">
                      <a href="#" class="submenu-item-link">
                        <span class="dot-colored blue">10 Pending hosts</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="wrap-right-services submenu-active">

              <span class="wrap-right-icon">
                <span class="iconmoon icon-services">
                  <span class="custom-icon"></span>
                </span>
                <span class="wrap-right-icon__name">
                  Services
                </span>
              </span>

              <span class="wrap-middle-icon round round-small red">
                <a class="number" href="#"><span>10</span></a>
              </span>
              <span class="wrap-middle-icon round round-small orange-bordered">
                <a class="number" href="#"><span>0</span></a>
              </span>
              <span class="wrap-middle-icon round round-small gray-light">
                <a class="number" href="#"><span>25</span></a>
              </span>
              <span class="wrap-middle-icon round round-small green">
                <a class="number" href="#"><span>100</span></a>
              </span>
              <span class="toggle-submenu-arrow"></span>
              <div class="submenu services">
                <div class="submenu-inner">
                  <ul class="submenu-items list-unstyled">
                    <li class="submenu-item">
                      <a href="#" class="submenu-item-link">
                        <span>All services:</span>
                        <span class="submenu-count">135</span>
                      </a>
                    </li>
                    <li class="submenu-item">
                      <a href="#" class="submenu-item-link">
                        <span class="dot-colored red">Critical services:</span>
                        <span class="submenu-count">10</span>
                      </a>
                    </li>
                    <li class="submenu-item">
                      <a href="#" class="submenu-item-link">
                        <span class="dot-colored orange">Warning services:</span>
                        <span class="submenu-count">0</span>
                      </a>
                    </li>
                    <li class="submenu-item">
                      <a href="#" class="submenu-item-link">
                        <span class="dot-colored gray">Unknown services:</span>
                        <span class="submenu-count">25/135</span>
                      </a>
                    </li>
                    <li class="submenu-item">
                      <a href="#" class="submenu-item-link">
                        <span class="dot-colored green">Ok services:</span>
                        <span class="submenu-count">100</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="wrap-right-user">
              <div class="wrap-right-timestamp">
                <span class="wrap-right-date">
                  August 14, 2018
                </span>
                <span class="wrap-right-time">
                  7:04 AM
                </span>
              </div>
              <span class="iconmoon icon-user"></span>
              <div class="submenu profile">
                <div class="submenu-inner">
                  <ul class="submenu-items list-unstyled">
                    <li class="submenu-item">
                      <span class="submenu-item-link">
                        <span class="submenu-user-name">Test 123</span>
                        <span class="submenu-user-type">as admin</span>
                        <a class="submenu-user-edit" href="#">Edit profile</a>
                      </span>
                    </li>
                    <input class="submenu-bookmark-link" type="text" />
                    <span class="iconmoon icon-copy"></span>
                  </ul>
                  <div class="button-wrap">
                    <button class="btn btn-small btn-red">Sign out</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </header>
      <div class="main-content">

      </div>
    </div>
  </div>
  <!-- Footer
  ================================================== -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="./app/js/main.js"></script>
  <footer class="footer">

  </footer>
</body>

</html>