
@customTag-color: #f17933;
@tag-global-color: #0C5C27;
@white: #fff;

div.tag, div.tagGlobal {

  display: inline-block;
  background-color: #fff;
  color: @customTag-color;
  border-radius: 2px;
  font-size: 11px;
  border: 2px solid @customTag-color;
  font-weight: bold;

  .title {
    display: inline-block;


    input {
      background-color: @white;
      border: 0;
      border-raduis: 0;
      padding: 1px 4px;
      &:focus {
        outline-color: transparent;
      }
    }
  }
  .tagname {
    display: inline-block;
    margin: 1px 4px;

    input {
      background-color: lighten(@customTag-color, 10%);
      border: 0;
      font-size: 90%;
    }
  }
  
  .remove {
    display: inline-block;
    border-left: 1px solid lighten(@customTag-color, 20%);
  }

  .remove.noborder {
    border: 0;
  }

  a {
    color: @customTag-color;
    padding: 2px 6px !important;

    &:hover {
      color: darken(@customTag-color, 20%);
      text-decoration: none;
    }
  }
 
  .remove {
    display: inline-block;
    border-left: 1px solid lighten(@customTag-color, 20%);
  }

  .remove.noborder {
    border: 0;
  }

}

div.tagGlobal {
    background-color: @tag-global-color;
}
