@tag-base-color: #5bc0de;
@tag-text-color: #fff;

div.tag {
  display: inline-block;
  background-color: @tag-base-color;
  color: @tag-text-color;
  border-radius: 2px;
  font-size: 75%;
  padding: .2em .6em .3em;
  
  .title {
    display: inline-block;
    margin-right: .2em;

    input {
      background-color: lighten(@tag-base-color, 10%);
      border: 0;
      font-size: 90%;
    }
  }

  .remove {
    display: inline-block;
    border-left: 1px solid lighten(@tag-base-color, 20%);
    padding: 0 2px;
  }

  .remove.noborder {
    border: 0;
  }

  a {
    color: @tag-text-color;

    &:hover {
      color: @tag-text-color;
      text-decoration: none;
    }
  }
}
