@import "../Generic-theme/Variables-css/variables.css";

:root {
    --body-background: var(--color-gallery-2);
    --ui-widget-header-border-bottom-color: var(--color-iron);
    --ui-tabs-nav-li-anchor-background-color: none;
    --ui-anchor-state-default-font-color: var(--color-black-rgba-54);
    --ui-anchor-state-active-visited-font-color: var(--color-primary-dark);
    --global-view-ui-border-color: none;
    --global-view-ui-active-tabs-border-color: none;
    --global-view-ui-active-tabs-border-bottom-color: var(--ui-anchor-state-active-visited-font-color);
    --up-to-date-color:none;
    --ajax-option-h4-font-color:none;
}
