body {
  background: #FFFFFF;
  padding: 0px;
  margin: 0px;
  font-family: 'Bitstream Vera Sans', arial, Tahoma, 'Sans serif';
  font-size: 11px;
}

#wizard {
  position: relative;
  margin-top: 20px;
  background-color: #F7FAFF;
  height: 400px;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #BFD0E2;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden; 
  -webkit-user-select: none;
  margin-bottom: 20px;
}

#wizard .frames {
  height: 400px;
  width: 0px;
}

#wizard .frame {
  height: 400px;
  width: 700px;
  float: left;
  overflow-x: auto;
  position: relative;
}

#wizard .frame .content {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 95%;
}

#wizard .frame .content p {
  width: 90%;
}

#wizard .frame .content p.title {
  margin-bottom: 8px;
  font-size: 16px;
}

#wizard .frame .content p.form {
  margin-top: 4px;
}

#wizard .frame .content p.error {
  color: red;
  font-style: italic;
}

#wizard .frame .content label {
  width: 200px;
  line-height: 18px;
}

#wizard .frame .content label.left {
  display: block;
  float: left;
}

#wizard .frame .content label span.v_required_star {
   font-size: 12px;
   color: #F0F;
}

#wizard .frame .content input[type="text"] {
  border: 1px solid #000;
  font-size: 11px;
}

#wizard .frame .content input.number4 {
  width: 40px;
}

#wizard .buttonbar {
  position: absolute;
  bottom: 20px;
  right: 50px;
}

#wizard .buttonbar .button {
  width: auto !important;
  padding: 5px 10px;
  margin: 0px;
  border: 2px solid #000000;
  border-radius: 10px;
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#FFFFFF),
    color-stop(0.50, #FFFFFF),
    to(#B5B5B5)
  );
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5),
   0px 0px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-user-select: none;
}

#wizard .buttonbar .click {
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#B5B5B5),
    color-stop(0.50, #B5B5B5),
    to(#FFFFFF)
  );
}

